<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Customs Data Representation [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Customs Data Representation [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0438f21fc097477cb3dcc868aaa81ed5.png" alt="SV-Customs Data Representation [Motivation]" usemap="#id-0438f21fc097477cb3dcc868aaa81ed5map"/>
			   <map name="id-0438f21fc097477cb3dcc868aaa81ed5map">
				  				<area shape="rect" coords="430,70,670,150" href="../elements/id-1d42f02f8a0f48bc910a8e6a24d5aabe.html"  target="element">

				  		<area shape="rect" coords="370,10,748,214" href="../elements/id-73a8c59e879744fd875f76c8b2fc42ad.html"  target="element">
				  		<area shape="rect" coords="10,80,188,144" href="../elements/id-39208caf97914de39182dbefdbc53894.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Customs Data Representation [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging the elements of data representation and customs data format, representation, and syntax solutions. 

The first element, named 'Data Representation', is of the type 'Representation ABB'. It describes the perceptible configuration of business information or a legal act. Representations can be classified in various ways, such as by medium (e.g., electronic or paper documents, audio, etc.) or format (HTML, ASCII, PDF, RTF, etc.). This element does not contain any sub-elements.

The second element, named 'Customs Data Format, Representation and Syntax Solutions', is of the type 'Grouping ABB'. This element groups together solutions related to customs data format, representation, and syntax. Within this grouping, there is a sub-element named 'EDIFACT', which is of the type 'Representation SBB'. EDIFACT, or 'CUSDEC', is a specific format used for customs declarations. It includes fields and structures for capturing information about import or export shipments, including details about goods, their classification, valuation, origin, and other customs-related information. 

The relationship between the 'Data Representation' and 'Customs Data Format, Representation and Syntax Solutions' elements is not explicitly defined in the JSON. However, it can be inferred that 'Customs Data Format, Representation and Syntax Solutions' is a specific application of the general 'Data Representation' concept. The 'EDIFACT' sub-element, in turn, is a specific instance of the 'Customs Data Format, Representation and Syntax Solutions' grouping. 

The motivation behind this view is to provide a structured way of representing and organizing data related to customs declarations, thereby facilitating more efficient and accurate data processing and decision-making.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-39208caf97914de39182dbefdbc53894.html" target="element"> Data Representation </a> </td>
											    <td> <a href="../elements/id-39208caf97914de39182dbefdbc53894.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-73a8c59e879744fd875f76c8b2fc42ad.html" target="element"> Customs Data Format, Representation and Syntax Solutions </a> </td>
											    <td> <a href="../elements/id-73a8c59e879744fd875f76c8b2fc42ad.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1d42f02f8a0f48bc910a8e6a24d5aabe.html" target="element"> EDIFACT </a> </td>
													    <td> <a href="../elements/id-1d42f02f8a0f48bc910a8e6a24d5aabe.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-091482a5599e49008bdeff7d1d837cae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-091482a5599e49008bdeff7d1d837cae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73a8c59e879744fd875f76c8b2fc42ad.html" target="element"> Customs Data Format, Representation and Syntax Solutions </a> </td>
																		<td> <a href="../elements/id-1d42f02f8a0f48bc910a8e6a24d5aabe.html" target="element"> EDIFACT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fc5dfe38d6f44a578df50fed7a26f82c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc5dfe38d6f44a578df50fed7a26f82c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73a8c59e879744fd875f76c8b2fc42ad.html" target="element"> Customs Data Format, Representation and Syntax Solutions </a> </td>
																		<td> <a href="../elements/id-39208caf97914de39182dbefdbc53894.html" target="element"> Data Representation </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>