<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OV-Digital Business Capabilities Catalogue</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OV-Digital Business Capabilities Catalogue</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-12ee1121f7764b6591b7926044d5d66e.png" alt="OV-Digital Business Capabilities Catalogue" usemap="#id-12ee1121f7764b6591b7926044d5d66emap"/>
			   <map name="id-12ee1121f7764b6591b7926044d5d66emap">
				  				<area shape="rect" coords="886,221,1086,301" href="../elements/id-e43e970985e14049ab215527da162643.html"  target="element">
				  				<area shape="rect" coords="886,730,1086,810" href="../elements/id-b3236d489e63480689e4db7cdbe324cb.html"  target="element">
				  				<area shape="rect" coords="886,646,1086,726" href="../elements/id-f3d9e7732301413d940983377c1668af.html"  target="element">
				  				<area shape="rect" coords="1102,221,1302,301" href="../elements/id-7d596ad3ea26460193aa60d5eaf0541d.html"  target="element">
				  				<area shape="rect" coords="1102,478,1302,558" href="../elements/id-b8d99a2098ba48dba9c0321eeb68e811.html"  target="element">
				  				<area shape="rect" coords="886,478,1086,558" href="../elements/id-f26ee56a9fb84f29a21f518b6081473c.html"  target="element">
				  				<area shape="rect" coords="1102,730,1302,810" href="../elements/id-2dbd95c4062c4ad2a74313f8ff37c73d.html"  target="element">
				  				<area shape="rect" coords="1102,137,1302,217" href="../elements/id-aa86aab2452d40b78d66d9caf61d9bbc.html"  target="element">
				  				<area shape="rect" coords="1102,394,1302,474" href="../elements/id-24d2094540d24a4f8908a208ba775981.html"  target="element">
				  				<area shape="rect" coords="886,394,1086,474" href="../elements/id-3e7bd1ecefcb4522a6b672d1b52dd7e0.html"  target="element">
				  				<area shape="rect" coords="1102,646,1302,726" href="../elements/id-f962738b705e4d10b45e31f675c37c3c.html"  target="element">
				  				<area shape="rect" coords="886,137,1086,217" href="../elements/id-77fd7ced0e614001afd9d41df601a1e6.html"  target="element">
				  				<area shape="rect" coords="1102,53,1302,133" href="../elements/id-1627e1d8e10c44f9b619a4a647eda707.html"  target="element">
				  				<area shape="rect" coords="1102,310,1302,390" href="../elements/id-8edcc53923ef4993bea568eefef704a2.html"  target="element">
				  				<area shape="rect" coords="886,310,1086,390" href="../elements/id-0dda970db27a4a199ce84cad9f7b34a2.html"  target="element">
				  				<area shape="rect" coords="1102,562,1302,642" href="../elements/id-8acd21f16c2d44359df0988e11605acb.html"  target="element">
				  				<area shape="rect" coords="886,53,1086,133" href="../elements/id-6302b9f85e2743968c91e7dd4a22b27c.html"  target="element">

				  		<area shape="rect" coords="862,10,1339,827" href="../elements/id-a807d652a5434db893dd38a602097bab.html"  target="element">
				  				<area shape="rect" coords="248,718,448,798" href="../elements/id-eb71c828b34e408cb828307c9113c630.html"  target="element">
				  				<area shape="rect" coords="34,178,234,258" href="../elements/id-a32c72133d244db48e1286f77af78520.html"  target="element">
				  				<area shape="rect" coords="249,178,449,258" href="../elements/id-2c0c9c40db1f4ec691775f6b0388836d.html"  target="element">
				  				<area shape="rect" coords="32,718,232,798" href="../elements/id-c9125b82a1064d6391c7dae29504ff4d.html"  target="element">
				  				<area shape="rect" coords="248,610,448,690" href="../elements/id-d2b2bbe43fdc4d94a391cc4a4e330cd3.html"  target="element">
				  				<area shape="rect" coords="34,610,234,690" href="../elements/id-6d02ca3e2cf24d0893675f67f083cfa6.html"  target="element">
				  				<area shape="rect" coords="248,394,448,474" href="../elements/id-74e2831bba4c4619882a006f3f514210.html"  target="element">
				  				<area shape="rect" coords="32,394,232,474" href="../elements/id-0686a2e0fdc341529fb19d916c4edad8.html"  target="element">
				  				<area shape="rect" coords="248,502,448,582" href="../elements/id-f992894f117e4547b643392e12cde072.html"  target="element">
				  				<area shape="rect" coords="34,502,234,582" href="../elements/id-45d6b5f230a74810b5e7d8db0a4eb1fa.html"  target="element">
				  				<area shape="rect" coords="248,286,448,366" href="../elements/id-592ad0865992490796dbc5c58b589d3e.html"  target="element">
				  				<area shape="rect" coords="33,286,233,366" href="../elements/id-1e1c074324744e0c8c11e809fd770ca7.html"  target="element">
				  				<area shape="rect" coords="249,70,449,150" href="../elements/id-95c5757fa6a84bf4a20d05fb368b3f32.html"  target="element">
				  				<area shape="rect" coords="34,70,234,150" href="../elements/id-ee99cfb9b35e4ceba67458ad9e82bca8.html"  target="element">

				  		<area shape="rect" coords="10,10,487,827" href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html"  target="element">
				  		<area shape="rect" coords="582,488,776,591" href="../elements/id-74e52806098a4462a8e648ac246791b1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The OV-Digital Business Capabilities Catalogue view extends Organisational view and provides a comprehensive framework for leveraging digital capabilities in public administration. This view is composed of two main elements: "Digital Business Capability" and two Grouping ABBs - "Business Agnostic Digital Business Capabilities Map" and "Customs Digital Business Capabilities Map".

The "Digital Business Capability" is a Capability ABB that corresponds to an ability implemented in a system to enable public administrations to perform an administrative function. This capability does not contain any sub-elements.

The "Business Agnostic Digital Business Capabilities Map" is a Grouping ABB that encompasses a set of Capability SBBs. These capabilities include "Electronic Identification", "Qualification Management", "Digital Payments", "Digital Procurement", "Digital Communication", "Digital Exchange", "Digital Invoicing", "Data Management", "Multimedia Management", "Contact Management", "Case and Workflow Management", "Knowledge Management", "Digital Twin", and "Artificial Intelligence". Each of these capabilities represents a specific digital business capability that can be leveraged by public administrations.

The "Customs Digital Business Capabilities Map" is another Grouping ABB that includes a set of Capability SBBs related to customs operations. These capabilities include "Compliance requirements checks", "Customs cooperation", "Import procedure", "Guarantee", "Tariffs registry management", "Preservation of cargo information", "Cooperation between Customs and Postal Operators", "Transit procedure", "Authorised Economic Operator accreditation", "Risk analysis", "Cooperation between Customs laboratories", "Special procedure", "Laboratories management", "MS' Customs organization management", "Export procedure", and "Duties Calculation and payment", and "Expeditions controls". Each of these capabilities represents a specific digital business capability that can be leveraged by customs administrations.

The relationships between these elements are not explicitly defined in the JSON data, but it can be inferred that the Capability SBBs within each Grouping ABB are related in that they contribute to the overall digital business capabilities of public or customs administrations. The motivation for these elements and their relationships is to provide a comprehensive framework for leveraging digital capabilities in public administration, enabling more efficient and effective operations.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-74e52806098a4462a8e648ac246791b1.html" target="element"> Digital Business Capability </a> </td>
											    <td> <a href="../elements/id-74e52806098a4462a8e648ac246791b1.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
											    <td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ee99cfb9b35e4ceba67458ad9e82bca8.html" target="element"> Electronic Identification </a> </td>
													    <td> <a href="../elements/id-ee99cfb9b35e4ceba67458ad9e82bca8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-95c5757fa6a84bf4a20d05fb368b3f32.html" target="element"> Qualification Management </a> </td>
													    <td> <a href="../elements/id-95c5757fa6a84bf4a20d05fb368b3f32.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e1c074324744e0c8c11e809fd770ca7.html" target="element"> Digital Payments </a> </td>
													    <td> <a href="../elements/id-1e1c074324744e0c8c11e809fd770ca7.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-592ad0865992490796dbc5c58b589d3e.html" target="element"> Digital Procurement </a> </td>
													    <td> <a href="../elements/id-592ad0865992490796dbc5c58b589d3e.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45d6b5f230a74810b5e7d8db0a4eb1fa.html" target="element"> Digital Communication </a> </td>
													    <td> <a href="../elements/id-45d6b5f230a74810b5e7d8db0a4eb1fa.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f992894f117e4547b643392e12cde072.html" target="element"> Digital Exchange </a> </td>
													    <td> <a href="../elements/id-f992894f117e4547b643392e12cde072.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0686a2e0fdc341529fb19d916c4edad8.html" target="element"> Digital Invoicing </a> </td>
													    <td> <a href="../elements/id-0686a2e0fdc341529fb19d916c4edad8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74e2831bba4c4619882a006f3f514210.html" target="element"> Data Management </a> </td>
													    <td> <a href="../elements/id-74e2831bba4c4619882a006f3f514210.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6d02ca3e2cf24d0893675f67f083cfa6.html" target="element"> Multimedia Management </a> </td>
													    <td> <a href="../elements/id-6d02ca3e2cf24d0893675f67f083cfa6.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d2b2bbe43fdc4d94a391cc4a4e330cd3.html" target="element"> Contact Management </a> </td>
													    <td> <a href="../elements/id-d2b2bbe43fdc4d94a391cc4a4e330cd3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9125b82a1064d6391c7dae29504ff4d.html" target="element"> Case and Workflow Management </a> </td>
													    <td> <a href="../elements/id-c9125b82a1064d6391c7dae29504ff4d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c0c9c40db1f4ec691775f6b0388836d.html" target="element"> Knowledge Management </a> </td>
													    <td> <a href="../elements/id-2c0c9c40db1f4ec691775f6b0388836d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a32c72133d244db48e1286f77af78520.html" target="element"> Digital Twin </a> </td>
													    <td> <a href="../elements/id-a32c72133d244db48e1286f77af78520.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eb71c828b34e408cb828307c9113c630.html" target="element"> Artificial Intelligence </a> </td>
													    <td> <a href="../elements/id-eb71c828b34e408cb828307c9113c630.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
											    <td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6302b9f85e2743968c91e7dd4a22b27c.html" target="element"> Compliance requirements checks </a> </td>
													    <td> <a href="../elements/id-6302b9f85e2743968c91e7dd4a22b27c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8acd21f16c2d44359df0988e11605acb.html" target="element"> Customs cooperation </a> </td>
													    <td> <a href="../elements/id-8acd21f16c2d44359df0988e11605acb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0dda970db27a4a199ce84cad9f7b34a2.html" target="element"> Import procedure </a> </td>
													    <td> <a href="../elements/id-0dda970db27a4a199ce84cad9f7b34a2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8edcc53923ef4993bea568eefef704a2.html" target="element"> Guarantee </a> </td>
													    <td> <a href="../elements/id-8edcc53923ef4993bea568eefef704a2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1627e1d8e10c44f9b619a4a647eda707.html" target="element"> Tariffs registry management </a> </td>
													    <td> <a href="../elements/id-1627e1d8e10c44f9b619a4a647eda707.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-77fd7ced0e614001afd9d41df601a1e6.html" target="element"> Preservation of cargo information </a> </td>
													    <td> <a href="../elements/id-77fd7ced0e614001afd9d41df601a1e6.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f962738b705e4d10b45e31f675c37c3c.html" target="element"> Cooperation between Customs and Postal Operators </a> </td>
													    <td> <a href="../elements/id-f962738b705e4d10b45e31f675c37c3c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3e7bd1ecefcb4522a6b672d1b52dd7e0.html" target="element"> Transit procedure </a> </td>
													    <td> <a href="../elements/id-3e7bd1ecefcb4522a6b672d1b52dd7e0.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-24d2094540d24a4f8908a208ba775981.html" target="element"> Authorised Economic Operator accreditation </a> </td>
													    <td> <a href="../elements/id-24d2094540d24a4f8908a208ba775981.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa86aab2452d40b78d66d9caf61d9bbc.html" target="element"> Risk analysis </a> </td>
													    <td> <a href="../elements/id-aa86aab2452d40b78d66d9caf61d9bbc.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2dbd95c4062c4ad2a74313f8ff37c73d.html" target="element"> Cooperation between Customs laboratories </a> </td>
													    <td> <a href="../elements/id-2dbd95c4062c4ad2a74313f8ff37c73d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f26ee56a9fb84f29a21f518b6081473c.html" target="element"> Special procedure </a> </td>
													    <td> <a href="../elements/id-f26ee56a9fb84f29a21f518b6081473c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b8d99a2098ba48dba9c0321eeb68e811.html" target="element"> Laboratories management  </a> </td>
													    <td> <a href="../elements/id-b8d99a2098ba48dba9c0321eeb68e811.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7d596ad3ea26460193aa60d5eaf0541d.html" target="element"> MS' Customs organization management </a> </td>
													    <td> <a href="../elements/id-7d596ad3ea26460193aa60d5eaf0541d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f3d9e7732301413d940983377c1668af.html" target="element"> Export procedure </a> </td>
													    <td> <a href="../elements/id-f3d9e7732301413d940983377c1668af.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b3236d489e63480689e4db7cdbe324cb.html" target="element"> Duties Calculation and payment </a> </td>
													    <td> <a href="../elements/id-b3236d489e63480689e4db7cdbe324cb.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e43e970985e14049ab215527da162643.html" target="element"> Expeditions controls </a> </td>
													    <td> <a href="../elements/id-e43e970985e14049ab215527da162643.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c1c42dfa36714ec780778e1ba3f013d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1c42dfa36714ec780778e1ba3f013d6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-0686a2e0fdc341529fb19d916c4edad8.html" target="element"> Digital Invoicing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26d11d090d664391b802a36954e29ae7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26d11d090d664391b802a36954e29ae7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-c9125b82a1064d6391c7dae29504ff4d.html" target="element"> Case and Workflow Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b3325d24f894c888eb2061ed0f62537.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b3325d24f894c888eb2061ed0f62537.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-d2b2bbe43fdc4d94a391cc4a4e330cd3.html" target="element"> Contact Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7576a453c44e4ce6864e23fa87b90440.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7576a453c44e4ce6864e23fa87b90440.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-eb71c828b34e408cb828307c9113c630.html" target="element"> Artificial Intelligence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e81746bc41ac45ee83e18e8cb1ca46a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e81746bc41ac45ee83e18e8cb1ca46a2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-1e1c074324744e0c8c11e809fd770ca7.html" target="element"> Digital Payments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0183851fd51461c899417cdc35c2640.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0183851fd51461c899417cdc35c2640.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-592ad0865992490796dbc5c58b589d3e.html" target="element"> Digital Procurement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e09a850b87448e792a2ab1bca7fbe39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e09a850b87448e792a2ab1bca7fbe39.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-a32c72133d244db48e1286f77af78520.html" target="element"> Digital Twin </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2599084fd3547a6bdb201d70f9f2746.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2599084fd3547a6bdb201d70f9f2746.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-ee99cfb9b35e4ceba67458ad9e82bca8.html" target="element"> Electronic Identification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5cf7d850c7cc4c1e992a0b9ade4c55c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cf7d850c7cc4c1e992a0b9ade4c55c2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-74e2831bba4c4619882a006f3f514210.html" target="element"> Data Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f9f40bb7d4a64f02b22e5537d1618096.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9f40bb7d4a64f02b22e5537d1618096.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-6d02ca3e2cf24d0893675f67f083cfa6.html" target="element"> Multimedia Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5532608ea818435ca1f1130e311d6127.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5532608ea818435ca1f1130e311d6127.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-f992894f117e4547b643392e12cde072.html" target="element"> Digital Exchange </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf6489e2b4984c08818b6d62480c2bf7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf6489e2b4984c08818b6d62480c2bf7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-95c5757fa6a84bf4a20d05fb368b3f32.html" target="element"> Qualification Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d6087bb7c7674c47a4b3766e874edcc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6087bb7c7674c47a4b3766e874edcc1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-74e52806098a4462a8e648ac246791b1.html" target="element"> Digital Business Capability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8cdf58a393e41f8bfab1dc40d813929.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8cdf58a393e41f8bfab1dc40d813929.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-2c0c9c40db1f4ec691775f6b0388836d.html" target="element"> Knowledge Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0854943ae793459d9fcd036b6ca1d66c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0854943ae793459d9fcd036b6ca1d66c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6bf70ed65a75435db76ed6b062249a88.html" target="element"> Business Agnostic Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-45d6b5f230a74810b5e7d8db0a4eb1fa.html" target="element"> Digital Communication </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-39eefe693adb42b8965604c17cea8c7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39eefe693adb42b8965604c17cea8c7d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-6302b9f85e2743968c91e7dd4a22b27c.html" target="element"> Compliance requirements checks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e88a2b9028a4c129afc5ef8b82448d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e88a2b9028a4c129afc5ef8b82448d9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-e43e970985e14049ab215527da162643.html" target="element"> Expeditions controls </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a8e58f86da34bd5b1bd14c26805392f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a8e58f86da34bd5b1bd14c26805392f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-2dbd95c4062c4ad2a74313f8ff37c73d.html" target="element"> Cooperation between Customs laboratories </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a94df1d49624164bb85cd2f146ae9e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a94df1d49624164bb85cd2f146ae9e6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-8edcc53923ef4993bea568eefef704a2.html" target="element"> Guarantee </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8dcf0a8658d8442595ea696244d45a32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8dcf0a8658d8442595ea696244d45a32.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-f3d9e7732301413d940983377c1668af.html" target="element"> Export procedure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-613823cd2be349c2b08e2c1b6a4f93b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-613823cd2be349c2b08e2c1b6a4f93b0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-f962738b705e4d10b45e31f675c37c3c.html" target="element"> Cooperation between Customs and Postal Operators </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4e83d8e30fc147fbb444ac66e55bda70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e83d8e30fc147fbb444ac66e55bda70.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-3e7bd1ecefcb4522a6b672d1b52dd7e0.html" target="element"> Transit procedure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b6bc529b685449c939c5c3882fa711f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b6bc529b685449c939c5c3882fa711f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-f26ee56a9fb84f29a21f518b6081473c.html" target="element"> Special procedure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b719c8a0bc3040b7906f74fb72ad07d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b719c8a0bc3040b7906f74fb72ad07d0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-b8d99a2098ba48dba9c0321eeb68e811.html" target="element"> Laboratories management  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b7d3c690d8f410c9586ca1c5bcc2212.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b7d3c690d8f410c9586ca1c5bcc2212.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-aa86aab2452d40b78d66d9caf61d9bbc.html" target="element"> Risk analysis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75dead2a665f433bbb8c561c8c22321f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75dead2a665f433bbb8c561c8c22321f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-b3236d489e63480689e4db7cdbe324cb.html" target="element"> Duties Calculation and payment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5be4c735b9454dfdb45913787b3576c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5be4c735b9454dfdb45913787b3576c4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-8acd21f16c2d44359df0988e11605acb.html" target="element"> Customs cooperation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-04aa510fd0274f79a3780b5d9d151ebf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04aa510fd0274f79a3780b5d9d151ebf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-74e52806098a4462a8e648ac246791b1.html" target="element"> Digital Business Capability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50cb0a4d9c714f94b92189331a16b422.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50cb0a4d9c714f94b92189331a16b422.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-1627e1d8e10c44f9b619a4a647eda707.html" target="element"> Tariffs registry management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37659a47f0344f6e95a461c9a4a0db0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37659a47f0344f6e95a461c9a4a0db0c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-24d2094540d24a4f8908a208ba775981.html" target="element"> Authorised Economic Operator accreditation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-32f880ab7a7d4ef98e762edb73fc71fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-32f880ab7a7d4ef98e762edb73fc71fa.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-0dda970db27a4a199ce84cad9f7b34a2.html" target="element"> Import procedure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-92790d98ebfd432e8410080f57e8de1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92790d98ebfd432e8410080f57e8de1c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-77fd7ced0e614001afd9d41df601a1e6.html" target="element"> Preservation of cargo information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ddc8192d38e14f6cb72222deb1fd5092.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddc8192d38e14f6cb72222deb1fd5092.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a807d652a5434db893dd38a602097bab.html" target="element"> Customs Digital Business Capabilities Map </a> </td>
																		<td> <a href="../elements/id-7d596ad3ea26460193aa60d5eaf0541d.html" target="element"> MS' Customs organization management </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>