<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Privacy Policy Catalogue</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Privacy Policy Catalogue</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-37b935de044445179d2858b9017c80cb.png" alt="SV-Privacy Policy Catalogue" usemap="#id-37b935de044445179d2858b9017c80cbmap"/>
			   <map name="id-37b935de044445179d2858b9017c80cbmap">
				  				<area shape="rect" coords="778,46,978,126" href="../elements/id-28df23e9d4894d508ef6a66a5ef0523e.html"  target="element">

				  		<area shape="rect" coords="730,10,1026,150" href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html"  target="element">
				  				<area shape="rect" coords="58,46,258,126" href="../elements/id-92c08a922322464a81cfe36d97915333.html"  target="element">

				  		<area shape="rect" coords="10,10,306,150" href="../elements/id-7394e884a6134184bbb5730e70be6891.html"  target="element">
				  		<area shape="rect" coords="394,40,594,120" href="../elements/id-f51f685b0c224277aa93b4e4c76de377.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Privacy Policy Catalogue view extends Semantic view and provides a comprehensive framework for leveraging the elements of privacy policy within an organization. This view is composed of several elements, each with a specific role and purpose.

The first element is the 'Privacy Policy', a Business Object ABB. This object regulates the personal data of any customer, client, or employee information. It sets the rules and guidelines for how personal data should be handled, stored, and processed within the organization. It is the cornerstone of the organization's privacy framework, ensuring compliance with data protection laws and regulations.

Nested within the 'Privacy Policy' are two Grouping ABBs: 'Privacy Data Policy Catalogue' and 'Customs Privacy Data Policy Catalogue'. These groupings categorize specific policies related to privacy and data protection.

The 'Privacy Data Policy Catalogue' contains the 'Anonymisation Policy', another Business Object ABB. This policy is a formal document that outlines the rules and procedures for anonymizing sensitive data. It defines the methods, techniques, and criteria used to transform personally identifiable information (PII) into a form that can no longer be linked to an individual. The policy ensures compliance with privacy regulations and helps mitigate the risk of unauthorized disclosure or misuse of personal data. It includes considerations for data anonymization processes, such as data masking, aggregation, or encryption, to protect individuals' privacy while still allowing data to be used for legitimate business purposes.

The 'Customs Privacy Data Policy Catalogue' includes the 'Confidentiality of Business Information', another Business Object ABB. This policy refers to the protection of sensitive and proprietary data belonging to a business or organization. It involves ensuring that confidential information, such as trade secrets, financial data, client lists, and marketing strategies, remains secure and is accessible only to authorized individuals within the organization. Confidentiality safeguards aim to prevent unauthorized access, use, or disclosure of such information, which could compromise the competitive advantage, reputation, or legal standing of the business.

In summary, the SV-Privacy Policy Catalogue view provides a structured and comprehensive framework for managing and implementing privacy policies within an organization. It ensures that all aspects of data privacy, from anonymization to confidentiality, are adequately addressed, thereby safeguarding the organization's data and maintaining compliance with relevant regulations.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f51f685b0c224277aa93b4e4c76de377.html" target="element"> Privacy Policy </a> </td>
											    <td> <a href="../elements/id-f51f685b0c224277aa93b4e4c76de377.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7394e884a6134184bbb5730e70be6891.html" target="element"> Privacy Data Policy Catalogue </a> </td>
											    <td> <a href="../elements/id-7394e884a6134184bbb5730e70be6891.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-92c08a922322464a81cfe36d97915333.html" target="element"> Anonymisation Policy </a> </td>
													    <td> <a href="../elements/id-92c08a922322464a81cfe36d97915333.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html" target="element"> Customs Privacy Data Policy Catalogue </a> </td>
											    <td> <a href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28df23e9d4894d508ef6a66a5ef0523e.html" target="element"> Confidentiality of Business Information </a> </td>
													    <td> <a href="../elements/id-28df23e9d4894d508ef6a66a5ef0523e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-abb8418d4b7c410f9aabca68a7325dbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-abb8418d4b7c410f9aabca68a7325dbd.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7394e884a6134184bbb5730e70be6891.html" target="element"> Privacy Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-f51f685b0c224277aa93b4e4c76de377.html" target="element"> Privacy Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a0c41ad47bf4cdb863d517ba1a8a8a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a0c41ad47bf4cdb863d517ba1a8a8a1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7394e884a6134184bbb5730e70be6891.html" target="element"> Privacy Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-92c08a922322464a81cfe36d97915333.html" target="element"> Anonymisation Policy </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-25f8e881594b49daa54e2ac16ab51c4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-25f8e881594b49daa54e2ac16ab51c4e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html" target="element"> Customs Privacy Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-28df23e9d4894d508ef6a66a5ef0523e.html" target="element"> Confidentiality of Business Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd66e4b05c7540ab9f9671a04c0767fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd66e4b05c7540ab9f9671a04c0767fe.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html" target="element"> Customs Privacy Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-f51f685b0c224277aa93b4e4c76de377.html" target="element"> Privacy Policy </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>