<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Customs API Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Customs API Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-498060f8e4ab475fb3ad2c8b8ae9b230.png" alt="TVA-Customs API Enablers [Motivation]" usemap="#id-498060f8e4ab475fb3ad2c8b8ae9b230map"/>
			   <map name="id-498060f8e4ab475fb3ad2c8b8ae9b230map">
				  				<area shape="rect" coords="70,1018,250,1091" href="../elements/id-5b0d7110667c4b4d87eda142da4ea914.html"  target="element">
				  				<area shape="rect" coords="70,934,250,1007" href="../elements/id-f504f6a700dc4cb9aadec8369b0326a8.html"  target="element">
				  				<area shape="rect" coords="70,850,250,923" href="../elements/id-50a3683cea7f4ae8b5cc564cae188405.html"  target="element">
				  				<area shape="rect" coords="70,766,250,839" href="../elements/id-6da43d6eefaa48e48950b6ef591347af.html"  target="element">
				  				<area shape="rect" coords="70,682,250,755" href="../elements/id-97401a0dbea54b1e913a81e5f8ff4cb1.html"  target="element">
				  				<area shape="rect" coords="70,598,250,671" href="../elements/id-3606aa3b7eee421cbd67d1c6964ea39b.html"  target="element">
				  				<area shape="rect" coords="70,514,250,587" href="../elements/id-edef61e5442a477e8a73f654c3af8939.html"  target="element">
				  				<area shape="rect" coords="70,430,250,503" href="../elements/id-5fe8ebea4675445087aa89f76bd0985d.html"  target="element">
				  				<area shape="rect" coords="70,346,250,419" href="../elements/id-1c6680aa83b84ca89c51893a040e1a8c.html"  target="element">
				  				<area shape="rect" coords="70,262,250,335" href="../elements/id-ab1ba1cc6074450cab12b31dc2cca7ad.html"  target="element">
				  				<area shape="rect" coords="70,178,250,251" href="../elements/id-0289bd07a79143a0928dfdc1453757b8.html"  target="element">
				  				<area shape="rect" coords="70,94,250,167" href="../elements/id-b9a67e7ea7fe480388b6c2b2c482f3b8.html"  target="element">

				          <area shape="rect" coords="10,10,334,1162" href="../objects/id-519b89f775664109ab8d0471b8daa7fb.html" target="element" >
				  		<area shape="rect" coords="562,334,766,443" href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html"  target="element">
				  				<area shape="rect" coords="1557,279,1737,352" href="../elements/id-0c8c5f2be2fb42aca203c07280007508.html"  target="element">
				  				<area shape="rect" coords="1557,363,1737,436" href="../elements/id-71c5d7fe6f1c433a980796a30f3d5eca.html"  target="element">
				  				<area shape="rect" coords="1557,447,1737,520" href="../elements/id-f7daf378590c4ba5bfa4dd99288374df.html"  target="element">
				  				<area shape="rect" coords="1365,447,1545,520" href="../elements/id-a47184591dfc4caa84a36272091c1e4b.html"  target="element">
				  				<area shape="rect" coords="1365,363,1545,436" href="../elements/id-e51a64d79ec44573893048c3f4828212.html"  target="element">
				  				<area shape="rect" coords="1365,279,1545,352" href="../elements/id-7ea50c81c8d94c67bea0bb730bfa0426.html"  target="element">
				  				<area shape="rect" coords="1365,195,1545,268" href="../elements/id-aa38ff4edb5f46c0b2d52d4c5e03c362.html"  target="element">
				  				<area shape="rect" coords="1174,195,1354,268" href="../elements/id-3719e55b295e44c1babebb6437370ef6.html"  target="element">
				  				<area shape="rect" coords="1174,279,1354,352" href="../elements/id-0b70841673b3425aa1bfe7fa71a1d145.html"  target="element">
				  				<area shape="rect" coords="1174,363,1354,436" href="../elements/id-ffbe918459f641c89692d075b1ebe777.html"  target="element">
				  				<area shape="rect" coords="1174,447,1354,520" href="../elements/id-329c674e25a045a0a2dc3ea8f6fe0ecc.html"  target="element">
				  				<area shape="rect" coords="981,447,1161,520" href="../elements/id-cdd28ef20387495cb7453dfaead8d1c4.html"  target="element">
				  				<area shape="rect" coords="981,363,1161,436" href="../elements/id-5ddc50044f22468cb4416e0d82481a4b.html"  target="element">
				  				<area shape="rect" coords="981,279,1161,352" href="../elements/id-4fa0ef0d606b452785480ced8a7a3a07.html"  target="element">
				  				<area shape="rect" coords="981,195,1161,268" href="../elements/id-1695a08458734057ac0994966517c93b.html"  target="element">

				  		<area shape="rect" coords="897,123,1893,579" href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Customs API Enablers [Motivation] view extends the Technical view - application and provides a comprehensive framework for leveraging web services and application interfaces to facilitate customs operations and trade facilitation within the European Union. This view is composed of two main groups: 'Customs Web Services Solutions' and 'Business Agnostic Web Services'.

The 'Customs Web Services Solutions' group consists of several Application Interface SBBs, each representing a specific system or service designed to support customs operations. These systems include CLASS, the EU Customs Trader Portal system, ECICS, TRANSIT, EORI, SAMANCTA, ILIADe, EORI - validation open interface, MRN follow-up, Surveillance System, TARIC, AEO, CDS, COPIS, and EBTI. Each system provides specific functionalities and data to facilitate customs procedures, enhance trade facilitation, and ensure compliance with customs regulations across the European Union.

The 'Business Agnostic Web Services' group consists of several Application Interface ABBs, each representing a generic service that can be utilized across different business contexts. These services include ERP System, eNotification, Financial Management, ePayment, eQualification, eInvoicing, Supply Chain Management, eTendering, eProcurement, eProfessional Qualification, Geo-Localization, and Log Management. Each service provides specific functionalities and data to support various business operations and processes.

The 'Web Service' element, an Application Interface ABB, represents a generic interface that enables interoperability between different applications or systems over the Internet. This element serves as a foundational component for both the 'Customs Web Services Solutions' and 'Business Agnostic Web Services' groups, enabling seamless integration and data exchange between the various systems and services.

The motivation behind this view is to provide a comprehensive framework for leveraging web services and application interfaces to streamline customs operations, enhance trade facilitation, and ensure compliance with customs regulations. By centralizing and standardizing classification information, streamlining customs procedures, and enabling real-time data validation and verification, this view aims to promote secure and efficient cross-border trade within the European Union.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
											    <td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1695a08458734057ac0994966517c93b.html" target="element"> CLASS &#8211; Classification Information System </a> </td>
													    <td> <a href="../elements/id-1695a08458734057ac0994966517c93b.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4fa0ef0d606b452785480ced8a7a3a07.html" target="element"> EU Customs Trader Portal system </a> </td>
													    <td> <a href="../elements/id-4fa0ef0d606b452785480ced8a7a3a07.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5ddc50044f22468cb4416e0d82481a4b.html" target="element"> ECICS - European Customs Inventory of Chemical Substances </a> </td>
													    <td> <a href="../elements/id-5ddc50044f22468cb4416e0d82481a4b.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cdd28ef20387495cb7453dfaead8d1c4.html" target="element"> TRANSIT &#8211; Tracking goods in transit </a> </td>
													    <td> <a href="../elements/id-cdd28ef20387495cb7453dfaead8d1c4.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-329c674e25a045a0a2dc3ea8f6fe0ecc.html" target="element"> EORI - Economic Operators Registration and Identification number </a> </td>
													    <td> <a href="../elements/id-329c674e25a045a0a2dc3ea8f6fe0ecc.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ffbe918459f641c89692d075b1ebe777.html" target="element"> SAMANCTA - Sampling manual for customs &amp; taxation authorities </a> </td>
													    <td> <a href="../elements/id-ffbe918459f641c89692d075b1ebe777.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0b70841673b3425aa1bfe7fa71a1d145.html" target="element"> ILIADe - Inter Laboratory Inventory of Analytical Determination </a> </td>
													    <td> <a href="../elements/id-0b70841673b3425aa1bfe7fa71a1d145.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3719e55b295e44c1babebb6437370ef6.html" target="element"> EORI - validation open interface </a> </td>
													    <td> <a href="../elements/id-3719e55b295e44c1babebb6437370ef6.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa38ff4edb5f46c0b2d52d4c5e03c362.html" target="element"> MRN follow-up &#8211; Movement Reference Number </a> </td>
													    <td> <a href="../elements/id-aa38ff4edb5f46c0b2d52d4c5e03c362.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ea50c81c8d94c67bea0bb730bfa0426.html" target="element"> Surveillance System </a> </td>
													    <td> <a href="../elements/id-7ea50c81c8d94c67bea0bb730bfa0426.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e51a64d79ec44573893048c3f4828212.html" target="element"> TARIC - EU Customs Tariff </a> </td>
													    <td> <a href="../elements/id-e51a64d79ec44573893048c3f4828212.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a47184591dfc4caa84a36272091c1e4b.html" target="element"> AEO - Authorised Economic Operator </a> </td>
													    <td> <a href="../elements/id-a47184591dfc4caa84a36272091c1e4b.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7daf378590c4ba5bfa4dd99288374df.html" target="element"> CDS - Customs Decisions System </a> </td>
													    <td> <a href="../elements/id-f7daf378590c4ba5bfa4dd99288374df.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-71c5d7fe6f1c433a980796a30f3d5eca.html" target="element"> COPIS (COunterfeit and anti-Piracy Information System) </a> </td>
													    <td> <a href="../elements/id-71c5d7fe6f1c433a980796a30f3d5eca.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0c8c5f2be2fb42aca203c07280007508.html" target="element"> EBTI - European Binding Tariff Information </a> </td>
													    <td> <a href="../elements/id-0c8c5f2be2fb42aca203c07280007508.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
											    <td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-519b89f775664109ab8d0471b8daa7fb.html" target="element"> Business Agnostic Web Services </a> </td>
									           <td> <a href="../objects/id-519b89f775664109ab8d0471b8daa7fb.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-b9a67e7ea7fe480388b6c2b2c482f3b8.html" target="element"> ERP System </a> </td>
													    <td> <a href="../elements/id-b9a67e7ea7fe480388b6c2b2c482f3b8.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0289bd07a79143a0928dfdc1453757b8.html" target="element"> eNotification </a> </td>
													    <td> <a href="../elements/id-0289bd07a79143a0928dfdc1453757b8.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ab1ba1cc6074450cab12b31dc2cca7ad.html" target="element"> Financial Management </a> </td>
													    <td> <a href="../elements/id-ab1ba1cc6074450cab12b31dc2cca7ad.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c6680aa83b84ca89c51893a040e1a8c.html" target="element"> ePayment </a> </td>
													    <td> <a href="../elements/id-1c6680aa83b84ca89c51893a040e1a8c.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5fe8ebea4675445087aa89f76bd0985d.html" target="element"> eQualification </a> </td>
													    <td> <a href="../elements/id-5fe8ebea4675445087aa89f76bd0985d.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-edef61e5442a477e8a73f654c3af8939.html" target="element"> eInvoicing </a> </td>
													    <td> <a href="../elements/id-edef61e5442a477e8a73f654c3af8939.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3606aa3b7eee421cbd67d1c6964ea39b.html" target="element"> Supply Chain Management </a> </td>
													    <td> <a href="../elements/id-3606aa3b7eee421cbd67d1c6964ea39b.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-97401a0dbea54b1e913a81e5f8ff4cb1.html" target="element"> eTendering </a> </td>
													    <td> <a href="../elements/id-97401a0dbea54b1e913a81e5f8ff4cb1.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6da43d6eefaa48e48950b6ef591347af.html" target="element"> eProcurement </a> </td>
													    <td> <a href="../elements/id-6da43d6eefaa48e48950b6ef591347af.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-50a3683cea7f4ae8b5cc564cae188405.html" target="element"> eProfessional Qualification </a> </td>
													    <td> <a href="../elements/id-50a3683cea7f4ae8b5cc564cae188405.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f504f6a700dc4cb9aadec8369b0326a8.html" target="element"> Geo-Localization </a> </td>
													    <td> <a href="../elements/id-f504f6a700dc4cb9aadec8369b0326a8.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5b0d7110667c4b4d87eda142da4ea914.html" target="element"> Log Management </a> </td>
													    <td> <a href="../elements/id-5b0d7110667c4b4d87eda142da4ea914.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-505b939ae5a546d98e7e510c765813a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-505b939ae5a546d98e7e510c765813a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-a47184591dfc4caa84a36272091c1e4b.html" target="element"> AEO - Authorised Economic Operator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f87359fffc794a1eb2ab6302f7b5e6d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f87359fffc794a1eb2ab6302f7b5e6d2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-3719e55b295e44c1babebb6437370ef6.html" target="element"> EORI - validation open interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-290f9f23f11a4c139212d6332e5d6ae7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-290f9f23f11a4c139212d6332e5d6ae7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-e51a64d79ec44573893048c3f4828212.html" target="element"> TARIC - EU Customs Tariff </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-912c215812db4fb3abc824974cf886a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-912c215812db4fb3abc824974cf886a0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-0b70841673b3425aa1bfe7fa71a1d145.html" target="element"> ILIADe - Inter Laboratory Inventory of Analytical Determination </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7da7a9a7664a4c55a2817fba04776e43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7da7a9a7664a4c55a2817fba04776e43.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-4fa0ef0d606b452785480ced8a7a3a07.html" target="element"> EU Customs Trader Portal system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-11fe56ba65534fa997966dab97500204.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11fe56ba65534fa997966dab97500204.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-329c674e25a045a0a2dc3ea8f6fe0ecc.html" target="element"> EORI - Economic Operators Registration and Identification number </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-138c8aaf0535432ab8be3aff3016e5cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-138c8aaf0535432ab8be3aff3016e5cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-71c5d7fe6f1c433a980796a30f3d5eca.html" target="element"> COPIS (COunterfeit and anti-Piracy Information System) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-56e1f4dcc4254a7cac7af9bb19a92555.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56e1f4dcc4254a7cac7af9bb19a92555.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-5ddc50044f22468cb4416e0d82481a4b.html" target="element"> ECICS - European Customs Inventory of Chemical Substances </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0ade381fb67f4388993cdc926a6c56db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ade381fb67f4388993cdc926a6c56db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-ffbe918459f641c89692d075b1ebe777.html" target="element"> SAMANCTA - Sampling manual for customs &amp; taxation authorities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-39bf7804230a41d39f882b080bd91288.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39bf7804230a41d39f882b080bd91288.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-aa38ff4edb5f46c0b2d52d4c5e03c362.html" target="element"> MRN follow-up &#8211; Movement Reference Number </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f47f874607e144ab96d1a9d73f5ea7af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f47f874607e144ab96d1a9d73f5ea7af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-cdd28ef20387495cb7453dfaead8d1c4.html" target="element"> TRANSIT &#8211; Tracking goods in transit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3191b7164fec4a3383ad85077ae8fe17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3191b7164fec4a3383ad85077ae8fe17.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-0c8c5f2be2fb42aca203c07280007508.html" target="element"> EBTI - European Binding Tariff Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48c4dbb0455045f986402110307904e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48c4dbb0455045f986402110307904e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-1695a08458734057ac0994966517c93b.html" target="element"> CLASS &#8211; Classification Information System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8e36ead2dd743bfada8dee4dacfb3ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8e36ead2dd743bfada8dee4dacfb3ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-7ea50c81c8d94c67bea0bb730bfa0426.html" target="element"> Surveillance System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ecdb9c4c489c4c7997f2f6cf9c058046.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ecdb9c4c489c4c7997f2f6cf9c058046.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-f7daf378590c4ba5bfa4dd99288374df.html" target="element"> CDS - Customs Decisions System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-62f42723968a4bd8bc8fe26da3606f05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62f42723968a4bd8bc8fe26da3606f05.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-d5b036115a074060bbb7f6b667b2310d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d5b036115a074060bbb7f6b667b2310d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b9a67e7ea7fe480388b6c2b2c482f3b8.html" target="element"> ERP System </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d07c8d534b9342f1a3d031a1da406941.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d07c8d534b9342f1a3d031a1da406941.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0289bd07a79143a0928dfdc1453757b8.html" target="element"> eNotification </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6387666066904f43990d660be73a0a75.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6387666066904f43990d660be73a0a75.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ab1ba1cc6074450cab12b31dc2cca7ad.html" target="element"> Financial Management </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-eb3c77be88d54cc48bd47ff6ca6c709d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eb3c77be88d54cc48bd47ff6ca6c709d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1c6680aa83b84ca89c51893a040e1a8c.html" target="element"> ePayment </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8c73dd7021d64f9a8e139046bcb84650.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8c73dd7021d64f9a8e139046bcb84650.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5fe8ebea4675445087aa89f76bd0985d.html" target="element"> eQualification </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0b089f61dea749fba3033bf4988fc132.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0b089f61dea749fba3033bf4988fc132.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-edef61e5442a477e8a73f654c3af8939.html" target="element"> eInvoicing </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3c009344a2f8490a8372374b09677c01.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3c009344a2f8490a8372374b09677c01.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3606aa3b7eee421cbd67d1c6964ea39b.html" target="element"> Supply Chain Management </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-330afe008a2e49c2b3429d8db960f6fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-330afe008a2e49c2b3429d8db960f6fd.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-97401a0dbea54b1e913a81e5f8ff4cb1.html" target="element"> eTendering </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0ebfa28c4bb44c55853d6ff3b2f8580e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0ebfa28c4bb44c55853d6ff3b2f8580e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6da43d6eefaa48e48950b6ef591347af.html" target="element"> eProcurement </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f94d41363a544ab28ce7531ea1cccf28.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f94d41363a544ab28ce7531ea1cccf28.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-50a3683cea7f4ae8b5cc564cae188405.html" target="element"> eProfessional Qualification </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0f682d5e4b634b5bba0f5811360e89d2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0f682d5e4b634b5bba0f5811360e89d2.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f504f6a700dc4cb9aadec8369b0326a8.html" target="element"> Geo-Localization </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-17f3df92b8794f98b5bd7042012be4ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-17f3df92b8794f98b5bd7042012be4ee.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5b0d7110667c4b4d87eda142da4ea914.html" target="element"> Log Management </a> </td>
																				<td> <a href="../elements/id-d5092e21fe7a4950bbe07bb406ee6c78.html" target="element"> Web Service </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>