<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Customs Process Streamlining and Efficiency Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Customs Process Streamlining and Efficiency Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-40ce504d1f7a4cf4b35a8acea3759398.png" alt="TVA-Customs Process Streamlining and Efficiency Enablers [Motivation]" usemap="#id-40ce504d1f7a4cf4b35a8acea3759398map"/>
			   <map name="id-40ce504d1f7a4cf4b35a8acea3759398map">
				  				<area shape="rect" coords="106,118,287,178" href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html"  target="element">

				          <area shape="rect" coords="10,58,410,239" href="../objects/id-a093cd508f5d452d9f3eea9d92023305.html" target="element" >
				  				<area shape="rect" coords="622,142,778,214" href="../elements/id-d493296b19214a08b5f7334bfd7825a8.html"  target="element">
				  				<area shape="rect" coords="622,238,778,310" href="../elements/id-a8bc8d15a4dd435a90fcecea5addec66.html"  target="element">
				  				<area shape="rect" coords="622,46,778,118" href="../elements/id-995a7475317e41e683e95c21f8782008.html"  target="element">

				  		<area shape="rect" coords="586,10,935,335" href="../elements/id-9b974279b0474363aa06e477cc3239ec.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Customs Process Streamlining and Efficiency Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging digital tools and technologies to enhance customs operations and facilitate trade. This view is composed of two main elements: 'Customs Process Streamlining and Efficiency Enablers' and 'Customs Digital Public Services'.

The 'Customs Process Streamlining and Efficiency Enablers' is a Grouping ABB that encompasses three Application Service ABBs: 'Expeditions controls', 'People and skill allocation and distribution', and 'Guarantee'. 

'Expeditions controls' refers to the use of digital tools and technologies to enhance the monitoring, tracking, and control of goods throughout the transportation and logistics process. This service involves the implementation of digital systems, such as Electronic Data Interchange (EDI), Global Positioning System (GPS), and Internet of Things (IoT) devices, to enable real-time visibility and management of expeditions.

'People and skill allocation and distribution' refers to the utilization of digital tools and platforms to efficiently allocate, manage, and distribute human resources and skills within the customs organization. This service involves the implementation of digital workforce management systems that enable customs authorities to streamline resource allocation, monitor staff availability, assign tasks, and track skill sets and competencies.

'Guarantee' refers to the electronic management and administration of customs guarantees provided by traders or financial institutions to ensure compliance with customs requirements. This service involves the implementation of digital platforms and systems that enable efficient guarantee management, such as tracking guarantee amounts, issuing and processing electronic guarantee certificates, and automating guarantee-related processes.

The 'Customs Digital Public Services' is a Diagram Model-group ABB that includes the 'Procedure Automation System' as a Business Service ABB. The 'Procedure Automation System' represents a digital public service that automates customs procedures.

The relations between these elements and their motivations are not explicitly defined in the provided JSON. However, it can be inferred that the 'Customs Process Streamlining and Efficiency Enablers' are intended to support the 'Customs Digital Public Services' by providing the necessary digital tools and technologies. The ultimate motivation behind these elements is to enhance customs operations, facilitate trade, and improve the overall efficiency and effectiveness of the customs environment.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9b974279b0474363aa06e477cc3239ec.html" target="element"> Customs Process Streamlining and Efficiency Enablers </a> </td>
											    <td> <a href="../elements/id-9b974279b0474363aa06e477cc3239ec.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-995a7475317e41e683e95c21f8782008.html" target="element"> Expeditions controls </a> </td>
													    <td> <a href="../elements/id-995a7475317e41e683e95c21f8782008.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a8bc8d15a4dd435a90fcecea5addec66.html" target="element"> People and skill allocation and distribution </a> </td>
													    <td> <a href="../elements/id-a8bc8d15a4dd435a90fcecea5addec66.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d493296b19214a08b5f7334bfd7825a8.html" target="element"> Guarantee </a> </td>
													    <td> <a href="../elements/id-d493296b19214a08b5f7334bfd7825a8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-a093cd508f5d452d9f3eea9d92023305.html" target="element"> Customs Digital Public Services </a> </td>
									           <td> <a href="../objects/id-a093cd508f5d452d9f3eea9d92023305.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html" target="element"> Procedure Automation System </a> </td>
													    <td> <a href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-59a57c2f45a04602895e218bd7e9e2ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59a57c2f45a04602895e218bd7e9e2ba.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b974279b0474363aa06e477cc3239ec.html" target="element"> Customs Process Streamlining and Efficiency Enablers </a> </td>
																		<td> <a href="../elements/id-a8bc8d15a4dd435a90fcecea5addec66.html" target="element"> People and skill allocation and distribution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8153bf9763484f5c88204d831d031a71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8153bf9763484f5c88204d831d031a71.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b974279b0474363aa06e477cc3239ec.html" target="element"> Customs Process Streamlining and Efficiency Enablers </a> </td>
																		<td> <a href="../elements/id-995a7475317e41e683e95c21f8782008.html" target="element"> Expeditions controls </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a82daa1926ab4a3d9fadb6c7d3cfdb06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a82daa1926ab4a3d9fadb6c7d3cfdb06.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b974279b0474363aa06e477cc3239ec.html" target="element"> Customs Process Streamlining and Efficiency Enablers </a> </td>
																		<td> <a href="../elements/id-d493296b19214a08b5f7334bfd7825a8.html" target="element"> Guarantee </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3478d779b041435093b04a93335de84a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3478d779b041435093b04a93335de84a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-995a7475317e41e683e95c21f8782008.html" target="element"> Expeditions controls </a> </td>
																				<td> <a href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html" target="element"> Procedure Automation System </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ad06b90e0a154f3ca801cb0ac6c4ba98.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ad06b90e0a154f3ca801cb0ac6c4ba98.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a8bc8d15a4dd435a90fcecea5addec66.html" target="element"> People and skill allocation and distribution </a> </td>
																				<td> <a href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html" target="element"> Procedure Automation System </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5f4ddbc74d8d4eb6b48fbaf92bc02b9f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f4ddbc74d8d4eb6b48fbaf92bc02b9f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d493296b19214a08b5f7334bfd7825a8.html" target="element"> Guarantee </a> </td>
																				<td> <a href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html" target="element"> Procedure Automation System </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>