<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Customs Functional Architecture Principles</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Customs Functional Architecture Principles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4de5ef8140c7417196b9828933e895c9.png" alt="TVA-Customs Functional Architecture Principles" usemap="#id-4de5ef8140c7417196b9828933e895c9map"/>
			   <map name="id-4de5ef8140c7417196b9828933e895c9map">
				  				<area shape="rect" coords="2770,719,2914,791" href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html"  target="element">
				  				<area shape="rect" coords="2602,719,2746,791" href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html"  target="element">
				  				<area shape="rect" coords="2434,719,2578,791" href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html"  target="element">
				  				<area shape="rect" coords="2434,467,2614,549" href="../elements/id-bd47121ac196462d84a775df974cd137.html"  target="element">

				  		<area shape="rect" coords="2374,443,2962,851" href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html"  target="element">
				  				<area shape="rect" coords="670,418,850,491" href="../elements/id-0c8c5f2be2fb42aca203c07280007508.html"  target="element">
				  				<area shape="rect" coords="670,502,850,575" href="../elements/id-71c5d7fe6f1c433a980796a30f3d5eca.html"  target="element">
				  				<area shape="rect" coords="670,586,850,659" href="../elements/id-f7daf378590c4ba5bfa4dd99288374df.html"  target="element">
				  				<area shape="rect" coords="478,586,658,659" href="../elements/id-a47184591dfc4caa84a36272091c1e4b.html"  target="element">
				  				<area shape="rect" coords="478,502,658,575" href="../elements/id-e51a64d79ec44573893048c3f4828212.html"  target="element">
				  				<area shape="rect" coords="478,418,658,491" href="../elements/id-7ea50c81c8d94c67bea0bb730bfa0426.html"  target="element">
				  				<area shape="rect" coords="478,334,658,407" href="../elements/id-aa38ff4edb5f46c0b2d52d4c5e03c362.html"  target="element">
				  				<area shape="rect" coords="287,334,467,407" href="../elements/id-3719e55b295e44c1babebb6437370ef6.html"  target="element">
				  				<area shape="rect" coords="287,418,467,491" href="../elements/id-0b70841673b3425aa1bfe7fa71a1d145.html"  target="element">
				  				<area shape="rect" coords="287,502,467,575" href="../elements/id-ffbe918459f641c89692d075b1ebe777.html"  target="element">
				  				<area shape="rect" coords="287,586,467,659" href="../elements/id-329c674e25a045a0a2dc3ea8f6fe0ecc.html"  target="element">
				  				<area shape="rect" coords="94,586,274,659" href="../elements/id-cdd28ef20387495cb7453dfaead8d1c4.html"  target="element">
				  				<area shape="rect" coords="94,502,274,575" href="../elements/id-5ddc50044f22468cb4416e0d82481a4b.html"  target="element">
				  				<area shape="rect" coords="94,418,274,491" href="../elements/id-4fa0ef0d606b452785480ced8a7a3a07.html"  target="element">
				  				<area shape="rect" coords="94,334,274,407" href="../elements/id-1695a08458734057ac0994966517c93b.html"  target="element">

				  		<area shape="rect" coords="10,262,910,718" href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html"  target="element">
				  				<area shape="rect" coords="657,70,837,143" href="../elements/id-240fa80524c04127b34d7dcf7bebe598.html"  target="element">

				  		<area shape="rect" coords="585,10,910,200" href="../elements/id-fa17eeca23a54b5197fb003b4ba8be46.html"  target="element">
				  		<area shape="rect" coords="1750,1222,2000,1297" href="../elements/id-0f3bc869aab6436e95f6d7b7c7e399b0.html"  target="element">
				  		<area shape="rect" coords="1750,1126,2000,1201" href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html"  target="element">
				  		<area shape="rect" coords="1750,1306,2000,1381" href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html"  target="element">
				  		<area shape="rect" coords="1750,1030,2000,1105" href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html"  target="element">
				  		<area shape="rect" coords="1750,946,2000,1021" href="../elements/id-f9115853bff046ddbed5f4e8e373aa96.html"  target="element">
				  		<area shape="rect" coords="1750,166,2000,241" href="../elements/id-89fe3da93e6a4f2794fea08fcdd02ec1.html"  target="element">
				  		<area shape="rect" coords="1750,850,2000,925" href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html"  target="element">
				  		<area shape="rect" coords="1750,754,2000,829" href="../elements/id-4c61db61ed854be0b0d7f33f323579e7.html"  target="element">
				  		<area shape="rect" coords="1750,659,2000,734" href="../elements/id-e1ace390d0154b9598a2560242f6a2bb.html"  target="element">
				  		<area shape="rect" coords="1750,562,2000,637" href="../elements/id-901229d923ec460587b00441749c4848.html"  target="element">
				  		<area shape="rect" coords="1750,452,2000,527" href="../elements/id-bf86c39d9ac0428abb1874b98af632f5.html"  target="element">
				  		<area shape="rect" coords="1750,358,2000,433" href="../elements/id-1cb45cb5c81044428dac33e75c101437.html"  target="element">
				  		<area shape="rect" coords="1750,262,2000,337" href="../elements/id-b85c619478534317ad6c83c696481945.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The view that relates Architecture principles to application layer view functional components is crucial in solutions architecture. This view focuses on how architecture principles influence the design and implementation of functional components within the application layer. 

By aligning architecture principles with application layer view functional components, solutions architects ensure consistency, enhance performance and scalability, promote reusability and maintainability, and support regulatory compliance. This alignment leads to the creation of robust and efficient applications within the application layer, enabling seamless integration, optimal user experience, reduced maintenance effort, and adherence to legal and industry standards.

In summary, aligning Architecture principles with application layer view functional components ensures consistency, enhances performance and scalability, promotes reusability and maintainability, and supports regulatory compliance. By following these principles, solutions architects can design robust and efficient applications within the application layer.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b85c619478534317ad6c83c696481945.html" target="element"> Accountability </a> </td>
											    <td> <a href="../elements/id-b85c619478534317ad6c83c696481945.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1cb45cb5c81044428dac33e75c101437.html" target="element"> Data Accessibility </a> </td>
											    <td> <a href="../elements/id-1cb45cb5c81044428dac33e75c101437.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf86c39d9ac0428abb1874b98af632f5.html" target="element"> Data Findability </a> </td>
											    <td> <a href="../elements/id-bf86c39d9ac0428abb1874b98af632f5.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-901229d923ec460587b00441749c4848.html" target="element"> Data portability </a> </td>
											    <td> <a href="../elements/id-901229d923ec460587b00441749c4848.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1ace390d0154b9598a2560242f6a2bb.html" target="element"> Digital First </a> </td>
											    <td> <a href="../elements/id-e1ace390d0154b9598a2560242f6a2bb.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c61db61ed854be0b0d7f33f323579e7.html" target="element"> EU Localisation Framework compliance </a> </td>
											    <td> <a href="../elements/id-4c61db61ed854be0b0d7f33f323579e7.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html" target="element"> Loosely coupled integration </a> </td>
											    <td> <a href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-89fe3da93e6a4f2794fea08fcdd02ec1.html" target="element"> Once Only </a> </td>
											    <td> <a href="../elements/id-89fe3da93e6a4f2794fea08fcdd02ec1.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9115853bff046ddbed5f4e8e373aa96.html" target="element"> Reuse, before buy, before build </a> </td>
											    <td> <a href="../elements/id-f9115853bff046ddbed5f4e8e373aa96.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html" target="element"> Security by Design </a> </td>
											    <td> <a href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html" target="element"> Trust </a> </td>
											    <td> <a href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html" target="element"> Service Orientation </a> </td>
											    <td> <a href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f3bc869aab6436e95f6d7b7c7e399b0.html" target="element"> Transparency of internal information systems </a> </td>
											    <td> <a href="../elements/id-0f3bc869aab6436e95f6d7b7c7e399b0.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa17eeca23a54b5197fb003b4ba8be46.html" target="element"> Customs Data Exchange Solutions </a> </td>
											    <td> <a href="../elements/id-fa17eeca23a54b5197fb003b4ba8be46.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-240fa80524c04127b34d7dcf7bebe598.html" target="element"> Central system for the standardised exchange of information </a> </td>
													    <td> <a href="../elements/id-240fa80524c04127b34d7dcf7bebe598.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
											    <td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1695a08458734057ac0994966517c93b.html" target="element"> CLASS &#8211; Classification Information System </a> </td>
													    <td> <a href="../elements/id-1695a08458734057ac0994966517c93b.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4fa0ef0d606b452785480ced8a7a3a07.html" target="element"> EU Customs Trader Portal system </a> </td>
													    <td> <a href="../elements/id-4fa0ef0d606b452785480ced8a7a3a07.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5ddc50044f22468cb4416e0d82481a4b.html" target="element"> ECICS - European Customs Inventory of Chemical Substances </a> </td>
													    <td> <a href="../elements/id-5ddc50044f22468cb4416e0d82481a4b.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cdd28ef20387495cb7453dfaead8d1c4.html" target="element"> TRANSIT &#8211; Tracking goods in transit </a> </td>
													    <td> <a href="../elements/id-cdd28ef20387495cb7453dfaead8d1c4.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-329c674e25a045a0a2dc3ea8f6fe0ecc.html" target="element"> EORI - Economic Operators Registration and Identification number </a> </td>
													    <td> <a href="../elements/id-329c674e25a045a0a2dc3ea8f6fe0ecc.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ffbe918459f641c89692d075b1ebe777.html" target="element"> SAMANCTA - Sampling manual for customs &amp; taxation authorities </a> </td>
													    <td> <a href="../elements/id-ffbe918459f641c89692d075b1ebe777.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0b70841673b3425aa1bfe7fa71a1d145.html" target="element"> ILIADe - Inter Laboratory Inventory of Analytical Determination </a> </td>
													    <td> <a href="../elements/id-0b70841673b3425aa1bfe7fa71a1d145.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3719e55b295e44c1babebb6437370ef6.html" target="element"> EORI - validation open interface </a> </td>
													    <td> <a href="../elements/id-3719e55b295e44c1babebb6437370ef6.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa38ff4edb5f46c0b2d52d4c5e03c362.html" target="element"> MRN follow-up &#8211; Movement Reference Number </a> </td>
													    <td> <a href="../elements/id-aa38ff4edb5f46c0b2d52d4c5e03c362.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ea50c81c8d94c67bea0bb730bfa0426.html" target="element"> Surveillance System </a> </td>
													    <td> <a href="../elements/id-7ea50c81c8d94c67bea0bb730bfa0426.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e51a64d79ec44573893048c3f4828212.html" target="element"> TARIC - EU Customs Tariff </a> </td>
													    <td> <a href="../elements/id-e51a64d79ec44573893048c3f4828212.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a47184591dfc4caa84a36272091c1e4b.html" target="element"> AEO - Authorised Economic Operator </a> </td>
													    <td> <a href="../elements/id-a47184591dfc4caa84a36272091c1e4b.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7daf378590c4ba5bfa4dd99288374df.html" target="element"> CDS - Customs Decisions System </a> </td>
													    <td> <a href="../elements/id-f7daf378590c4ba5bfa4dd99288374df.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-71c5d7fe6f1c433a980796a30f3d5eca.html" target="element"> COPIS (COunterfeit and anti-Piracy Information System) </a> </td>
													    <td> <a href="../elements/id-71c5d7fe6f1c433a980796a30f3d5eca.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0c8c5f2be2fb42aca203c07280007508.html" target="element"> EBTI - European Binding Tariff Information </a> </td>
													    <td> <a href="../elements/id-0c8c5f2be2fb42aca203c07280007508.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
											    <td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
													    <td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html" target="element"> TAXUD Identity Management Service </a> </td>
													    <td> <a href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html" target="element"> TAXUD Authorisation Service </a> </td>
													    <td> <a href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html" target="element"> TAXUD Accounting Service </a> </td>
													    <td> <a href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-320abe6ecc124d11a2d67847d040d118.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-320abe6ecc124d11a2d67847d040d118.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b85c619478534317ad6c83c696481945.html" target="element"> Accountability </a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4793469385954ceaac4c7202f180cb80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4793469385954ceaac4c7202f180cb80.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1cb45cb5c81044428dac33e75c101437.html" target="element"> Data Accessibility </a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0163192634a8406fa2a14f67c4b5e68d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0163192634a8406fa2a14f67c4b5e68d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bf86c39d9ac0428abb1874b98af632f5.html" target="element"> Data Findability </a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-75e466fcabc94cf78cacbfa6ddfa4af8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75e466fcabc94cf78cacbfa6ddfa4af8.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-901229d923ec460587b00441749c4848.html" target="element"> Data portability </a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fec5dc920b554c5687d25c4a34cda97e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fec5dc920b554c5687d25c4a34cda97e.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e1ace390d0154b9598a2560242f6a2bb.html" target="element"> Digital First </a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a7e1522706a4ac9aadc33eb93424937.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a7e1522706a4ac9aadc33eb93424937.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c61db61ed854be0b0d7f33f323579e7.html" target="element"> EU Localisation Framework compliance </a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9d97f3f6aa48465eb70a279327226322.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d97f3f6aa48465eb70a279327226322.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3e5302a7445440c1a7b440cea8f87525.html" target="element"> Loosely coupled integration </a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4f1f2af2bc464edb835a681a68c13476.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f1f2af2bc464edb835a681a68c13476.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-89fe3da93e6a4f2794fea08fcdd02ec1.html" target="element"> Once Only </a> </td>
																		<td> <a href="../elements/id-fa17eeca23a54b5197fb003b4ba8be46.html" target="element"> Customs Data Exchange Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-54263a2896224c76b374b607a9b4e1cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54263a2896224c76b374b607a9b4e1cc.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9115853bff046ddbed5f4e8e373aa96.html" target="element"> Reuse, before buy, before build </a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b418da5b52a34f56afe080bf42329c94.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b418da5b52a34f56afe080bf42329c94.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-244bf4725c1548b9afb2fb9a6d9eec8d.html" target="element"> Security by Design </a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d02617de96ad47399aebbe5a6f2db033.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d02617de96ad47399aebbe5a6f2db033.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c34c619a7acb48b883ad7e5e44b5ad4b.html" target="element"> Trust </a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-567c7b9ffd3941a9ad018cbaeeb1fa75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-567c7b9ffd3941a9ad018cbaeeb1fa75.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b15fd58b4ef047cb91b62ded14088c2a.html" target="element"> Service Orientation </a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-00adcca2dc164b6cba49c8d2de19e4a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00adcca2dc164b6cba49c8d2de19e4a2.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0f3bc869aab6436e95f6d7b7c7e399b0.html" target="element"> Transparency of internal information systems </a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c05ffbfe7541456496018c0872000747.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c05ffbfe7541456496018c0872000747.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fa17eeca23a54b5197fb003b4ba8be46.html" target="element"> Customs Data Exchange Solutions </a> </td>
																		<td> <a href="../elements/id-240fa80524c04127b34d7dcf7bebe598.html" target="element"> Central system for the standardised exchange of information </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f87359fffc794a1eb2ab6302f7b5e6d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f87359fffc794a1eb2ab6302f7b5e6d2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-3719e55b295e44c1babebb6437370ef6.html" target="element"> EORI - validation open interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-39bf7804230a41d39f882b080bd91288.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39bf7804230a41d39f882b080bd91288.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-aa38ff4edb5f46c0b2d52d4c5e03c362.html" target="element"> MRN follow-up &#8211; Movement Reference Number </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-56e1f4dcc4254a7cac7af9bb19a92555.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-56e1f4dcc4254a7cac7af9bb19a92555.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-5ddc50044f22468cb4416e0d82481a4b.html" target="element"> ECICS - European Customs Inventory of Chemical Substances </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-505b939ae5a546d98e7e510c765813a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-505b939ae5a546d98e7e510c765813a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-a47184591dfc4caa84a36272091c1e4b.html" target="element"> AEO - Authorised Economic Operator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f47f874607e144ab96d1a9d73f5ea7af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f47f874607e144ab96d1a9d73f5ea7af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-cdd28ef20387495cb7453dfaead8d1c4.html" target="element"> TRANSIT &#8211; Tracking goods in transit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48c4dbb0455045f986402110307904e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48c4dbb0455045f986402110307904e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-1695a08458734057ac0994966517c93b.html" target="element"> CLASS &#8211; Classification Information System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8e36ead2dd743bfada8dee4dacfb3ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8e36ead2dd743bfada8dee4dacfb3ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-7ea50c81c8d94c67bea0bb730bfa0426.html" target="element"> Surveillance System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0ade381fb67f4388993cdc926a6c56db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ade381fb67f4388993cdc926a6c56db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-ffbe918459f641c89692d075b1ebe777.html" target="element"> SAMANCTA - Sampling manual for customs &amp; taxation authorities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-11fe56ba65534fa997966dab97500204.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-11fe56ba65534fa997966dab97500204.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-329c674e25a045a0a2dc3ea8f6fe0ecc.html" target="element"> EORI - Economic Operators Registration and Identification number </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-290f9f23f11a4c139212d6332e5d6ae7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-290f9f23f11a4c139212d6332e5d6ae7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-e51a64d79ec44573893048c3f4828212.html" target="element"> TARIC - EU Customs Tariff </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ecdb9c4c489c4c7997f2f6cf9c058046.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ecdb9c4c489c4c7997f2f6cf9c058046.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-f7daf378590c4ba5bfa4dd99288374df.html" target="element"> CDS - Customs Decisions System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3191b7164fec4a3383ad85077ae8fe17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3191b7164fec4a3383ad85077ae8fe17.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-0c8c5f2be2fb42aca203c07280007508.html" target="element"> EBTI - European Binding Tariff Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-912c215812db4fb3abc824974cf886a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-912c215812db4fb3abc824974cf886a0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-0b70841673b3425aa1bfe7fa71a1d145.html" target="element"> ILIADe - Inter Laboratory Inventory of Analytical Determination </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-138c8aaf0535432ab8be3aff3016e5cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-138c8aaf0535432ab8be3aff3016e5cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-71c5d7fe6f1c433a980796a30f3d5eca.html" target="element"> COPIS (COunterfeit and anti-Piracy Information System) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7da7a9a7664a4c55a2817fba04776e43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7da7a9a7664a4c55a2817fba04776e43.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3288cbdd04064fb3a6138d2158accd29.html" target="element"> Customs Web Services Solutions </a> </td>
																		<td> <a href="../elements/id-4fa0ef0d606b452785480ced8a7a3a07.html" target="element"> EU Customs Trader Portal system </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9c948f1583b142b3934a7dc23dfbe4c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c948f1583b142b3934a7dc23dfbe4c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																		<td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1d0991dd7af48288d4640e02b43fe1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1d0991dd7af48288d4640e02b43fe1b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																		<td> <a href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html" target="element"> TAXUD Authorisation Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-166a9b75ac0346e58af7225b9dbb6c63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-166a9b75ac0346e58af7225b9dbb6c63.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																		<td> <a href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html" target="element"> TAXUD Accounting Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-929e2b9ae518401795835125842b7b8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-929e2b9ae518401795835125842b7b8b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																		<td> <a href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html" target="element"> TAXUD Identity Management Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5d9024d52f5d49d0b0a317601c217541.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5d9024d52f5d49d0b0a317601c217541.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
																				<td> <a href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html" target="element"> TAXUD Identity Management Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-847c5565b02d4d0b9102c0d67efaa08b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-847c5565b02d4d0b9102c0d67efaa08b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
																				<td> <a href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html" target="element"> TAXUD Accounting Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5f356504defa4405914706d4227ad647.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f356504defa4405914706d4227ad647.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
																				<td> <a href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html" target="element"> TAXUD Authorisation Service </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>