<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Customs Duties and Tariffs Management Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Customs Duties and Tariffs Management Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-63845bbcb57b44a0b4fe91df46020dde.png" alt="TVA-Customs Duties and Tariffs Management Enablers [Motivation]" usemap="#id-63845bbcb57b44a0b4fe91df46020ddemap"/>
			   <map name="id-63845bbcb57b44a0b4fe91df46020ddemap">
				  				<area shape="rect" coords="92,188,273,248" href="../elements/id-504fc48327fd46b5b4090b682fa82845.html"  target="element">
				  				<area shape="rect" coords="92,116,273,176" href="../elements/id-e9fd289634814f3ba097f77c5234d5cd.html"  target="element">
				  				<area shape="rect" coords="272,188,453,248" href="../elements/id-b907d3c7360b42ddb2e9d75377873df4.html"  target="element">
				  				<area shape="rect" coords="272,116,453,176" href="../elements/id-9c4205d6138743c1a014111e1d9a8517.html"  target="element">

				          <area shape="rect" coords="68,68,492,273" href="../objects/id-6b93bc83b98c4e3cb8edb8ba032a0b54.html" target="element" >
				  				<area shape="rect" coords="704,98,860,170" href="../elements/id-1261e3a710524e36b724d755cf87999d.html"  target="element">
				  				<area shape="rect" coords="704,182,860,254" href="../elements/id-3e87d7dc432d409e977f305a5ef3908a.html"  target="element">

				  		<area shape="rect" coords="680,62,993,279" href="../elements/id-4da5812b4bea4a689c264b4a83346cc3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Customs Duties and Tariffs Management Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging digital technologies and services to enhance the management of customs duties and tariffs. 

This view is composed of two main elements: 'Customs Duties and Tariffs Management Enablers' and 'Customs Digital Public Services'. 

The 'Customs Duties and Tariffs Management Enablers' is a Grouping ABB that encompasses two Application Service ABBs: 'Tariffs registry management' and 'Duties Calculation and payment'. 

'Tariffs registry management' refers to the systematic and automated management of customs tariffs and related information. This service involves the digitalization and centralization of tariff schedules, rates, and updates within a digital registry or database. It enhances transparency, reduces manual errors, improves trade facilitation, and enables efficient tariff determination and assessment within the customs environment.

'Duties Calculation and payment' refers to the automated and accurate determination and processing of customs duties and taxes owed on imported or exported goods. This service leverages digital technologies and algorithms to calculate duties based on factors such as product classification, customs valuation, origin, and applicable trade agreements. It enhances customs efficiency, reduces errors, ensures compliance with customs regulations, and expedites the release of goods, supporting smooth trade operations within the customs environment.

The 'Customs Digital Public Services' is a Diagram Model-group ABB that includes four Business Service ABBs: 'Tariff Registry management', 'Tariff Suspensions', 'Duties calculation and payment', and 'Duties guarantee management'. These services represent the digital public services provided by the customs authorities to facilitate the management of tariffs and duties.

'Tariff Registry management' and 'Duties calculation and payment' Business Service ABBs align with their corresponding Application Service ABBs in the 'Customs Duties and Tariffs Management Enablers' group, indicating that these digital public services are enabled by the underlying application services.

'Tariff Suspensions' and 'Duties guarantee management' represent additional digital public services provided by the customs authorities to manage tariff suspensions and duties guarantees respectively.

Overall, the TVA-Customs Duties and Tariffs Management Enablers [Motivation] view provides a holistic perspective on the digital enablers and services that support efficient and effective management of customs duties and tariffs.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4da5812b4bea4a689c264b4a83346cc3.html" target="element"> Customs Duties and Tariffs Management Enablers </a> </td>
											    <td> <a href="../elements/id-4da5812b4bea4a689c264b4a83346cc3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3e87d7dc432d409e977f305a5ef3908a.html" target="element"> Tariffs registry management </a> </td>
													    <td> <a href="../elements/id-3e87d7dc432d409e977f305a5ef3908a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1261e3a710524e36b724d755cf87999d.html" target="element"> Duties Calculation and payment </a> </td>
													    <td> <a href="../elements/id-1261e3a710524e36b724d755cf87999d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-6b93bc83b98c4e3cb8edb8ba032a0b54.html" target="element"> Customs Digital Public Services </a> </td>
									           <td> <a href="../objects/id-6b93bc83b98c4e3cb8edb8ba032a0b54.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9c4205d6138743c1a014111e1d9a8517.html" target="element"> Tariff Registry management </a> </td>
													    <td> <a href="../elements/id-9c4205d6138743c1a014111e1d9a8517.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b907d3c7360b42ddb2e9d75377873df4.html" target="element"> Tariff Suspensions </a> </td>
													    <td> <a href="../elements/id-b907d3c7360b42ddb2e9d75377873df4.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e9fd289634814f3ba097f77c5234d5cd.html" target="element"> Duties calculation and payment </a> </td>
													    <td> <a href="../elements/id-e9fd289634814f3ba097f77c5234d5cd.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-504fc48327fd46b5b4090b682fa82845.html" target="element"> Duties guarantee management </a> </td>
													    <td> <a href="../elements/id-504fc48327fd46b5b4090b682fa82845.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-096be033290142dea2006c7360026c2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-096be033290142dea2006c7360026c2c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4da5812b4bea4a689c264b4a83346cc3.html" target="element"> Customs Duties and Tariffs Management Enablers </a> </td>
																		<td> <a href="../elements/id-3e87d7dc432d409e977f305a5ef3908a.html" target="element"> Tariffs registry management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6687f495cc749379099b049304cf042.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6687f495cc749379099b049304cf042.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4da5812b4bea4a689c264b4a83346cc3.html" target="element"> Customs Duties and Tariffs Management Enablers </a> </td>
																		<td> <a href="../elements/id-1261e3a710524e36b724d755cf87999d.html" target="element"> Duties Calculation and payment </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1bb10a3669a645a58747b666b0029158.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1bb10a3669a645a58747b666b0029158.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e87d7dc432d409e977f305a5ef3908a.html" target="element"> Tariffs registry management </a> </td>
																				<td> <a href="../elements/id-b907d3c7360b42ddb2e9d75377873df4.html" target="element"> Tariff Suspensions </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dbf9fd345f364525af26a942dffc24a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dbf9fd345f364525af26a942dffc24a3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3e87d7dc432d409e977f305a5ef3908a.html" target="element"> Tariffs registry management </a> </td>
																				<td> <a href="../elements/id-9c4205d6138743c1a014111e1d9a8517.html" target="element"> Tariff Registry management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7109a0e7fa564500b64ee1577b4fc0e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7109a0e7fa564500b64ee1577b4fc0e8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1261e3a710524e36b724d755cf87999d.html" target="element"> Duties Calculation and payment </a> </td>
																				<td> <a href="../elements/id-e9fd289634814f3ba097f77c5234d5cd.html" target="element"> Duties calculation and payment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-193447a8185d44309980a39841943c27.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-193447a8185d44309980a39841943c27.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1261e3a710524e36b724d755cf87999d.html" target="element"> Duties Calculation and payment </a> </td>
																				<td> <a href="../elements/id-504fc48327fd46b5b4090b682fa82845.html" target="element"> Duties guarantee management </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>