<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Identification and Access Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Identification and Access Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7b85018d5dbf4237b4c4e6596726a710.png" alt="TVA-Identification and Access Enablers [Motivation]" usemap="#id-7b85018d5dbf4237b4c4e6596726a710map"/>
			   <map name="id-7b85018d5dbf4237b4c4e6596726a710map">
				  				<area shape="rect" coords="622,610,778,693" href="../elements/id-85bc79528ae24e14b0d5b15693a936c6.html"  target="element">
				  				<area shape="rect" coords="622,514,778,597" href="../elements/id-0dbb7018edd44e618ba2393f0e92c406.html"  target="element">
				  				<area shape="rect" coords="622,706,778,789" href="../elements/id-fc48a1869d0a4593a564c74a28bc4f0b.html"  target="element">
				  				<area shape="rect" coords="406,610,562,693" href="../elements/id-a756a21f623e413da71d61cd2b755dd2.html"  target="element">

				  		<area shape="rect" coords="382,490,815,815" href="../elements/id-027e1486c69b48a5a1e98295f81fe560.html"  target="element">
				  				<area shape="rect" coords="1438,46,1582,118" href="../elements/id-6576abf942c64d66ad98937f3fadc81e.html"  target="element">
				  				<area shape="rect" coords="1282,46,1426,118" href="../elements/id-69dc8984b0384cf7be0357ddf0383c8c.html"  target="element">
				  				<area shape="rect" coords="1438,238,1582,310" href="../elements/id-d26ae81dfda2493bab22ccee4c9ccd21.html"  target="element">
				  				<area shape="rect" coords="1438,130,1582,202" href="../elements/id-230747a9978e440dad4880177fe9ddf7.html"  target="element">
				  				<area shape="rect" coords="1282,238,1426,310" href="../elements/id-5723d4022a34477cb2dab106a9505031.html"  target="element">
				  				<area shape="rect" coords="1282,130,1426,202" href="../elements/id-9b5f006033224b8c8656005c34b2ae4f.html"  target="element">

				  		<area shape="rect" coords="1258,10,1607,335" href="../elements/id-608d2965f64b465dadac123846b285a3.html"  target="element">
				  				<area shape="rect" coords="1012,22,1156,94" href="../elements/id-30bb575d3fc843eaa2bf2327f5705439.html"  target="element">
				  				<area shape="rect" coords="862,22,1006,94" href="../elements/id-222de0dc66dd4e6e9528b0927dbc2f2a.html"  target="element">
				  				<area shape="rect" coords="250,154,406,237" href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html"  target="element">
				  				<area shape="rect" coords="946,305,1090,377" href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html"  target="element">
				  				<area shape="rect" coords="946,214,1090,286" href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html"  target="element">
				  				<area shape="rect" coords="946,130,1090,202" href="../elements/id-32ccf142fb0f45d280cdbc10bb07bfd1.html"  target="element">
				  				<area shape="rect" coords="670,283,826,366" href="../elements/id-06948025695649e0b196c227ef468f8a.html"  target="element">
				  				<area shape="rect" coords="670,130,826,213" href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html"  target="element">
				  				<area shape="rect" coords="251,310,407,393" href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html"  target="element">
				  				<area shape="rect" coords="466,154,622,237" href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html"  target="element">
				  				<area shape="rect" coords="34,154,190,237" href="../elements/id-d054fb78c5224b7f94658768cdefe273.html"  target="element">

				  		<area shape="rect" coords="10,10,1187,419" href="../elements/id-94a05c1009114f23ad15187364459a97.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Identification and Access Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging the secure identification and authentication of users, systems, and services into a platform. This view is composed of three main elements: Identification and Access Enablers, Business Agnostic Identity Management Solutions, and Business Agnostic Authentication Solutions.

The Identification and Access Enablers is a Grouping ABB that refers to components enabling the secure identification and authentication of users, systems, and services into a platform. It includes several Application Service ABBs and Application Component ABBs, such as Authentication, Registration, Identification, Access Management, Identity Management, Authorisation, Accounting, Request Validation, Centralized Identity Management, and Decentralized Identity Management. Each of these components plays a crucial role in the process of identification and access enabling, from the registration of users to the management of their identities and access rights.

The Business Agnostic Identity Management Solutions is a Grouping SBB that includes several Application Service SBBs, such as eIDAS-Node, eIDAS-Proxy-Service, Keycloak, EU Login, WSO2 Identity Server, and Fraunhofer Omejdn Server. These solutions provide a range of identity management services, from the provision of personal identification data to the management of user authentication and authorization.

The Business Agnostic Authentication Solutions is another Grouping SBB that includes several Application Service SBBs, such as EU Login Identification, EU Login Authentication, EU Login Request Validation, and EU Login Registration. These solutions provide a range of authentication services, from user identification to request validation and registration.

The motivation behind this view is to provide a comprehensive framework for the secure identification and authentication of users, systems, and services into a platform. This is achieved through a combination of various components and solutions, each playing a specific role in the process. The ultimate goal is to ensure that only authorized users have access to the platform and its services, thereby enhancing the security and integrity of the platform.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
											    <td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d054fb78c5224b7f94658768cdefe273.html" target="element"> Authentication </a> </td>
													    <td> <a href="../elements/id-d054fb78c5224b7f94658768cdefe273.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
													    <td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
													    <td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
													    <td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
													    <td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-32ccf142fb0f45d280cdbc10bb07bfd1.html" target="element"> Identity Management </a> </td>
													    <td> <a href="../elements/id-32ccf142fb0f45d280cdbc10bb07bfd1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
													    <td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html" target="element"> Accounting </a> </td>
													    <td> <a href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html" target="element"> Request Validation </a> </td>
													    <td> <a href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-222de0dc66dd4e6e9528b0927dbc2f2a.html" target="element"> Centralized Identity Management </a> </td>
													    <td> <a href="../elements/id-222de0dc66dd4e6e9528b0927dbc2f2a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30bb575d3fc843eaa2bf2327f5705439.html" target="element"> Decentralized Identity Management </a> </td>
													    <td> <a href="../elements/id-30bb575d3fc843eaa2bf2327f5705439.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-608d2965f64b465dadac123846b285a3.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
											    <td> <a href="../elements/id-608d2965f64b465dadac123846b285a3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9b5f006033224b8c8656005c34b2ae4f.html" target="element"> eIDAS-Node </a> </td>
													    <td> <a href="../elements/id-9b5f006033224b8c8656005c34b2ae4f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5723d4022a34477cb2dab106a9505031.html" target="element"> eIDAS-Proxy-Service </a> </td>
													    <td> <a href="../elements/id-5723d4022a34477cb2dab106a9505031.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-230747a9978e440dad4880177fe9ddf7.html" target="element"> Keycloak </a> </td>
													    <td> <a href="../elements/id-230747a9978e440dad4880177fe9ddf7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d26ae81dfda2493bab22ccee4c9ccd21.html" target="element"> EU Login </a> </td>
													    <td> <a href="../elements/id-d26ae81dfda2493bab22ccee4c9ccd21.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-69dc8984b0384cf7be0357ddf0383c8c.html" target="element"> WSO2 Identity Server </a> </td>
													    <td> <a href="../elements/id-69dc8984b0384cf7be0357ddf0383c8c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6576abf942c64d66ad98937f3fadc81e.html" target="element"> Fraunhofer Omejdn Server </a> </td>
													    <td> <a href="../elements/id-6576abf942c64d66ad98937f3fadc81e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-027e1486c69b48a5a1e98295f81fe560.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
											    <td> <a href="../elements/id-027e1486c69b48a5a1e98295f81fe560.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a756a21f623e413da71d61cd2b755dd2.html" target="element"> EU Login Identification </a> </td>
													    <td> <a href="../elements/id-a756a21f623e413da71d61cd2b755dd2.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fc48a1869d0a4593a564c74a28bc4f0b.html" target="element"> EU Login Authentication </a> </td>
													    <td> <a href="../elements/id-fc48a1869d0a4593a564c74a28bc4f0b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0dbb7018edd44e618ba2393f0e92c406.html" target="element"> EU Login Request Validation </a> </td>
													    <td> <a href="../elements/id-0dbb7018edd44e618ba2393f0e92c406.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-85bc79528ae24e14b0d5b15693a936c6.html" target="element"> EU Login Registration </a> </td>
													    <td> <a href="../elements/id-85bc79528ae24e14b0d5b15693a936c6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-7cdb0035463b4eba922937b6df4926d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cdb0035463b4eba922937b6df4926d2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-360f6d4fb10d4b7fb31e8d0c3b934c1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-360f6d4fb10d4b7fb31e8d0c3b934c1e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html" target="element"> Request Validation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b03a32939cfd433ab4be9264c026bafb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b03a32939cfd433ab4be9264c026bafb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10eb49ab7eb34b0e95b9eb9ba25bee95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10eb49ab7eb34b0e95b9eb9ba25bee95.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-30bb575d3fc843eaa2bf2327f5705439.html" target="element"> Decentralized Identity Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9fae5aa97bc84710b96b9ab6982ac45a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fae5aa97bc84710b96b9ab6982ac45a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-00f463105edd4b5daec42b3cc2e4c828.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00f463105edd4b5daec42b3cc2e4c828.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html" target="element"> Accounting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4302fc7815f4491781df1b6817c7f998.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4302fc7815f4491781df1b6817c7f998.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b03a32939cfd433ab4be9264c026bafb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b03a32939cfd433ab4be9264c026bafb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73b24c34fca84c2f881ec9a43bcc324f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73b24c34fca84c2f881ec9a43bcc324f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-d054fb78c5224b7f94658768cdefe273.html" target="element"> Authentication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b9de335ac1bf4bcba0ddf56c77e9fcba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9de335ac1bf4bcba0ddf56c77e9fcba.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-222de0dc66dd4e6e9528b0927dbc2f2a.html" target="element"> Centralized Identity Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d19ea64309be448498672967934368d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d19ea64309be448498672967934368d4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-32ccf142fb0f45d280cdbc10bb07bfd1.html" target="element"> Identity Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-08ad89fd8d3840048354f54fe0749c1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08ad89fd8d3840048354f54fe0749c1d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-44bf9bda3e1f40beb71def382f3fb5ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44bf9bda3e1f40beb71def382f3fb5ef.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html" target="element"> Request Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-256d0e3af90449cc846c4dd8c955dd3a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-256d0e3af90449cc846c4dd8c955dd3a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/id-d054fb78c5224b7f94658768cdefe273.html" target="element"> Authentication </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c77b53fa2aa240caa8c72aafdd19d299.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c77b53fa2aa240caa8c72aafdd19d299.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html" target="element"> Accounting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4d75bdcd76714ee38fdfcc69c85a927a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4d75bdcd76714ee38fdfcc69c85a927a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-32ccf142fb0f45d280cdbc10bb07bfd1.html" target="element"> Identity Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-20cb4e3bff934bfea0b9e32bfc49dcd6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-20cb4e3bff934bfea0b9e32bfc49dcd6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e98abfaa65494310b56407ca5211fc2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e98abfaa65494310b56407ca5211fc2c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-911ede65e6734da2a4ba956327368934.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-911ede65e6734da2a4ba956327368934.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-222de0dc66dd4e6e9528b0927dbc2f2a.html" target="element"> Centralized Identity Management </a> </td>
																				<td> <a href="../elements/id-32ccf142fb0f45d280cdbc10bb07bfd1.html" target="element"> Identity Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-466fc607d51546c3a4c4b358a2207274.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-466fc607d51546c3a4c4b358a2207274.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30bb575d3fc843eaa2bf2327f5705439.html" target="element"> Decentralized Identity Management </a> </td>
																				<td> <a href="../elements/id-32ccf142fb0f45d280cdbc10bb07bfd1.html" target="element"> Identity Management </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-be9b11c698b0497ea5e817756a634771.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be9b11c698b0497ea5e817756a634771.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-608d2965f64b465dadac123846b285a3.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-9b5f006033224b8c8656005c34b2ae4f.html" target="element"> eIDAS-Node </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9a6195141084f98bb9662d1ceba5173.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9a6195141084f98bb9662d1ceba5173.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-608d2965f64b465dadac123846b285a3.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-5723d4022a34477cb2dab106a9505031.html" target="element"> eIDAS-Proxy-Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c6bc5f57eeb485daff6d0757e9c48f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c6bc5f57eeb485daff6d0757e9c48f3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-608d2965f64b465dadac123846b285a3.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-32ccf142fb0f45d280cdbc10bb07bfd1.html" target="element"> Identity Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97f2d17ce9044878977f1080c60303c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97f2d17ce9044878977f1080c60303c2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-608d2965f64b465dadac123846b285a3.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-230747a9978e440dad4880177fe9ddf7.html" target="element"> Keycloak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-def8461fbffd41f6ba0ba9fa7d23ea4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-def8461fbffd41f6ba0ba9fa7d23ea4a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-608d2965f64b465dadac123846b285a3.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-d26ae81dfda2493bab22ccee4c9ccd21.html" target="element"> EU Login </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-36e0707d507a455bab9d3cb716da99d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36e0707d507a455bab9d3cb716da99d7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-608d2965f64b465dadac123846b285a3.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-69dc8984b0384cf7be0357ddf0383c8c.html" target="element"> WSO2 Identity Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-020926bcacf343bb814f875a760b40d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-020926bcacf343bb814f875a760b40d3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-608d2965f64b465dadac123846b285a3.html" target="element"> Business Agnostic Identity Management Solutions </a> </td>
																		<td> <a href="../elements/id-6576abf942c64d66ad98937f3fadc81e.html" target="element"> Fraunhofer Omejdn Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5ddbe1a7232f4778b4191083c43ee2b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5ddbe1a7232f4778b4191083c43ee2b0.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5723d4022a34477cb2dab106a9505031.html" target="element"> eIDAS-Proxy-Service </a> </td>
																				<td> <a href="../elements/id-9b5f006033224b8c8656005c34b2ae4f.html" target="element"> eIDAS-Node </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3f0d3385f9ab49dab096424a77bbfd28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f0d3385f9ab49dab096424a77bbfd28.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-027e1486c69b48a5a1e98295f81fe560.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
																		<td> <a href="../elements/id-a756a21f623e413da71d61cd2b755dd2.html" target="element"> EU Login Identification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e19c0d04461540c0b5634b637cf69050.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e19c0d04461540c0b5634b637cf69050.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-027e1486c69b48a5a1e98295f81fe560.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
																		<td> <a href="../elements/id-fc48a1869d0a4593a564c74a28bc4f0b.html" target="element"> EU Login Authentication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b4d6dfca5a54a54ba93c6fd08b9d20d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b4d6dfca5a54a54ba93c6fd08b9d20d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-027e1486c69b48a5a1e98295f81fe560.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
																		<td> <a href="../elements/id-0dbb7018edd44e618ba2393f0e92c406.html" target="element"> EU Login Request Validation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d954abb4fd5347f187e859aea8630e1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d954abb4fd5347f187e859aea8630e1b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-027e1486c69b48a5a1e98295f81fe560.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
																		<td> <a href="../elements/id-85bc79528ae24e14b0d5b15693a936c6.html" target="element"> EU Login Registration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ca2ec660b29416586733f34612ee061.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ca2ec660b29416586733f34612ee061.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-027e1486c69b48a5a1e98295f81fe560.html" target="element"> Business Agnostic Authentication Solutions </a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-61439f7378b442ffa9bede46fd2fca82.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-61439f7378b442ffa9bede46fd2fca82.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a756a21f623e413da71d61cd2b755dd2.html" target="element"> EU Login Identification </a> </td>
																				<td> <a href="../elements/id-fc48a1869d0a4593a564c74a28bc4f0b.html" target="element"> EU Login Authentication </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4329c89c2f8a46dca52af4258ac55904.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4329c89c2f8a46dca52af4258ac55904.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a756a21f623e413da71d61cd2b755dd2.html" target="element"> EU Login Identification </a> </td>
																				<td> <a href="../elements/id-85bc79528ae24e14b0d5b15693a936c6.html" target="element"> EU Login Registration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-853d7c093d1f48f3b2ff1ccfeecb5745.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-853d7c093d1f48f3b2ff1ccfeecb5745.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a756a21f623e413da71d61cd2b755dd2.html" target="element"> EU Login Identification </a> </td>
																				<td> <a href="../elements/id-0dbb7018edd44e618ba2393f0e92c406.html" target="element"> EU Login Request Validation </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>