<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Customs Controlled Vocabularies [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Customs Controlled Vocabularies [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-79d6a607040b439b89506dc5c47194d0.png" alt="SV-Customs Controlled Vocabularies [Motivation]" usemap="#id-79d6a607040b439b89506dc5c47194d0map"/>
			   <map name="id-79d6a607040b439b89506dc5c47194d0map">
				  		<area shape="rect" coords="10,322,210,402" href="../elements/id-e44335909b1d4bee9918a2468c5fb54e.html"  target="element">
				  				<area shape="rect" coords="910,34,1090,94" href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html"  target="element">
				  				<area shape="rect" coords="910,610,1090,670" href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html"  target="element">
				  				<area shape="rect" coords="910,538,1090,598" href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html"  target="element">
				  				<area shape="rect" coords="910,466,1090,526" href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html"  target="element">
				  				<area shape="rect" coords="910,394,1090,454" href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html"  target="element">
				  				<area shape="rect" coords="910,322,1090,382" href="../elements/id-3dbc0ee3241f4879a2ac86981b1aecf4.html"  target="element">
				  				<area shape="rect" coords="910,250,1090,310" href="../elements/id-3d0bc5781d9343f4b9bc73a36eb5d8ed.html"  target="element">
				  				<area shape="rect" coords="910,178,1090,238" href="../elements/id-70d147abd538471181e6d88642c24fa2.html"  target="element">
				  				<area shape="rect" coords="910,682,1090,742" href="../elements/id-0c7f1564065343b08792b7954cf40a27.html"  target="element">
				  				<area shape="rect" coords="910,106,1090,166" href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html"  target="element">

				          <area shape="rect" coords="874,10,1127,778" href="../objects/id-ab6fed0bdc534ee78c46a1fb4f86c8ec.html" target="element" >
				  				<area shape="rect" coords="346,406,514,466" href="../elements/id-2c47b24188e74389ac76fc37784d6caf.html"  target="element">
				  				<area shape="rect" coords="346,322,514,382" href="../elements/id-10b4a768669d4acca1ecced4cca0b415.html"  target="element">
				  				<area shape="rect" coords="346,238,514,298" href="../elements/id-c082b68f51eb4b65b0105dd3cc8958c5.html"  target="element">

				  		<area shape="rect" coords="322,214,538,490" href="../elements/id-166914ec723949b49b66f2c5ed0abcb1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Customs Controlled Vocabularies [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging standardized vocabularies and taxonomies in the context of customs operations and trade facilitation. This view is composed of three main elements: 'Customs Vocabularies', 'Customs Information Base', and 'Controlled Vocabulary'.

The 'Customs Vocabularies' element is a Grouping ABB that encompasses three Data Objects: 'Registered Organisation Vocabulary', 'National Customs Specific Taxonomy', and 'Combined Nomenclature'. These vocabularies provide a standardized set of terms and concepts for representing and describing registered organizations, customs-related data, regulations, and procedures unique to a nation's trade and customs environment, and a tool for classifying goods to meet the requirements of the Common Customs TariffEN and of the EU external trade statistics.

The 'Customs Information Base' is a Diagram Model-group ABB that includes a variety of Business Objects such as 'Economic Operators Information', 'Free circulation requirement information', 'Imports information', 'Laboratories information', 'Combined nomenclature', 'Exports information', 'Customs partners Information', 'Economic value Information', 'Origin of goods Information', and 'Workforce information'. These Business Objects represent different types of information that are crucial for customs operations and trade facilitation.

The 'Controlled Vocabulary' is a Data Object ABB that represents a carefully curated set of terms used to describe concepts or objects in the customs and trade domain. This standardized list of terms is used to ensure consistency and accuracy in the indexing, searching, and retrieval of information.

The relationship between these elements is such that the 'Customs Vocabularies' and 'Controlled Vocabulary' provide the standardized terms and concepts that are used in the 'Customs Information Base' to ensure consistent and accurate representation of customs-related information. This facilitates efficient customs operations, enhances trade facilitation, and supports accurate reporting and analysis.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-166914ec723949b49b66f2c5ed0abcb1.html" target="element"> Customs Vocabularies </a> </td>
											    <td> <a href="../elements/id-166914ec723949b49b66f2c5ed0abcb1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c082b68f51eb4b65b0105dd3cc8958c5.html" target="element"> Registered Organisation Vocabulary </a> </td>
													    <td> <a href="../elements/id-c082b68f51eb4b65b0105dd3cc8958c5.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-10b4a768669d4acca1ecced4cca0b415.html" target="element"> National Customs Specific Taxonomy </a> </td>
													    <td> <a href="../elements/id-10b4a768669d4acca1ecced4cca0b415.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c47b24188e74389ac76fc37784d6caf.html" target="element"> Combined Nomenclature </a> </td>
													    <td> <a href="../elements/id-2c47b24188e74389ac76fc37784d6caf.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-ab6fed0bdc534ee78c46a1fb4f86c8ec.html" target="element"> Customs Information Base </a> </td>
									           <td> <a href="../objects/id-ab6fed0bdc534ee78c46a1fb4f86c8ec.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
													    <td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0c7f1564065343b08792b7954cf40a27.html" target="element"> Free circulation requirement information </a> </td>
													    <td> <a href="../elements/id-0c7f1564065343b08792b7954cf40a27.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70d147abd538471181e6d88642c24fa2.html" target="element"> Imports information </a> </td>
													    <td> <a href="../elements/id-70d147abd538471181e6d88642c24fa2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d0bc5781d9343f4b9bc73a36eb5d8ed.html" target="element"> Laboratories information </a> </td>
													    <td> <a href="../elements/id-3d0bc5781d9343f4b9bc73a36eb5d8ed.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3dbc0ee3241f4879a2ac86981b1aecf4.html" target="element"> Combined nomenclature </a> </td>
													    <td> <a href="../elements/id-3dbc0ee3241f4879a2ac86981b1aecf4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html" target="element"> Exports information </a> </td>
													    <td> <a href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element"> Customs partners Information </a> </td>
													    <td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html" target="element"> Economic value Information </a> </td>
													    <td> <a href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html" target="element"> Origin of goods Information </a> </td>
													    <td> <a href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element"> Workforce information </a> </td>
													    <td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e44335909b1d4bee9918a2468c5fb54e.html" target="element"> Controlled Vocabulary </a> </td>
											    <td> <a href="../elements/id-e44335909b1d4bee9918a2468c5fb54e.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a11cf67870544c1e9bc6489ee4c212ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a11cf67870544c1e9bc6489ee4c212ae.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-166914ec723949b49b66f2c5ed0abcb1.html" target="element"> Customs Vocabularies </a> </td>
																		<td> <a href="../elements/id-c082b68f51eb4b65b0105dd3cc8958c5.html" target="element"> Registered Organisation Vocabulary </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd468a0a97304c5a9d3c99c0496bf439.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd468a0a97304c5a9d3c99c0496bf439.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-166914ec723949b49b66f2c5ed0abcb1.html" target="element"> Customs Vocabularies </a> </td>
																		<td> <a href="../elements/id-2c47b24188e74389ac76fc37784d6caf.html" target="element"> Combined Nomenclature </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26a8830efc974f7395a31effdbd86e64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26a8830efc974f7395a31effdbd86e64.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-166914ec723949b49b66f2c5ed0abcb1.html" target="element"> Customs Vocabularies </a> </td>
																		<td> <a href="../elements/id-10b4a768669d4acca1ecced4cca0b415.html" target="element"> National Customs Specific Taxonomy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e2d3ce6745634740a489affceae717b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2d3ce6745634740a489affceae717b3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-166914ec723949b49b66f2c5ed0abcb1.html" target="element"> Customs Vocabularies </a> </td>
																		<td> <a href="../elements/id-e44335909b1d4bee9918a2468c5fb54e.html" target="element"> Controlled Vocabulary </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-30f45a2212ed4f3eb1c269d13203ccf7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-30f45a2212ed4f3eb1c269d13203ccf7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c082b68f51eb4b65b0105dd3cc8958c5.html" target="element"> Registered Organisation Vocabulary </a> </td>
																				<td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e74ca04b3d5541b48c0912b7de918a46.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e74ca04b3d5541b48c0912b7de918a46.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c082b68f51eb4b65b0105dd3cc8958c5.html" target="element"> Registered Organisation Vocabulary </a> </td>
																				<td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element"> Workforce information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3c42a85cc149467382663cba9e940aeb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3c42a85cc149467382663cba9e940aeb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c082b68f51eb4b65b0105dd3cc8958c5.html" target="element"> Registered Organisation Vocabulary </a> </td>
																				<td> <a href="../elements/id-0c7f1564065343b08792b7954cf40a27.html" target="element"> Free circulation requirement information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-636fc7c35b4441d18f228d06f3eeae3d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-636fc7c35b4441d18f228d06f3eeae3d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c082b68f51eb4b65b0105dd3cc8958c5.html" target="element"> Registered Organisation Vocabulary </a> </td>
																				<td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element"> Customs partners Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8f4a56ceb196430cb6052757dc9c7bb1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8f4a56ceb196430cb6052757dc9c7bb1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-10b4a768669d4acca1ecced4cca0b415.html" target="element"> National Customs Specific Taxonomy </a> </td>
																				<td> <a href="../elements/id-0c7f1564065343b08792b7954cf40a27.html" target="element"> Free circulation requirement information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e5acd2f66f964910ac3c60372071d8c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e5acd2f66f964910ac3c60372071d8c8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-10b4a768669d4acca1ecced4cca0b415.html" target="element"> National Customs Specific Taxonomy </a> </td>
																				<td> <a href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html" target="element"> Origin of goods Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d02d130600b940bcaf09a9f7afa2bad8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d02d130600b940bcaf09a9f7afa2bad8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-10b4a768669d4acca1ecced4cca0b415.html" target="element"> National Customs Specific Taxonomy </a> </td>
																				<td> <a href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html" target="element"> Economic value Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f17a33ab66b94f37bb119a0ba0c326da.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f17a33ab66b94f37bb119a0ba0c326da.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-10b4a768669d4acca1ecced4cca0b415.html" target="element"> National Customs Specific Taxonomy </a> </td>
																				<td> <a href="../elements/id-3d0bc5781d9343f4b9bc73a36eb5d8ed.html" target="element"> Laboratories information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aec7f7f37ecd4aebbc39f4f3cde873ae.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aec7f7f37ecd4aebbc39f4f3cde873ae.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-10b4a768669d4acca1ecced4cca0b415.html" target="element"> National Customs Specific Taxonomy </a> </td>
																				<td> <a href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html" target="element"> Exports information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6f642f63797a45668701a94a38f72953.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6f642f63797a45668701a94a38f72953.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-10b4a768669d4acca1ecced4cca0b415.html" target="element"> National Customs Specific Taxonomy </a> </td>
																				<td> <a href="../elements/id-70d147abd538471181e6d88642c24fa2.html" target="element"> Imports information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ebcc16f75f6f41ce950bd4d27b1ec3c7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ebcc16f75f6f41ce950bd4d27b1ec3c7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2c47b24188e74389ac76fc37784d6caf.html" target="element"> Combined Nomenclature </a> </td>
																				<td> <a href="../elements/id-0c7f1564065343b08792b7954cf40a27.html" target="element"> Free circulation requirement information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-151b7eba1f124a868885a0c1420bd1cd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-151b7eba1f124a868885a0c1420bd1cd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2c47b24188e74389ac76fc37784d6caf.html" target="element"> Combined Nomenclature </a> </td>
																				<td> <a href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html" target="element"> Origin of goods Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e6b4323916f04bf794cb104103d302ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e6b4323916f04bf794cb104103d302ed.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2c47b24188e74389ac76fc37784d6caf.html" target="element"> Combined Nomenclature </a> </td>
																				<td> <a href="../elements/id-3d0bc5781d9343f4b9bc73a36eb5d8ed.html" target="element"> Laboratories information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cee2748ed6094ccc9dc82a8fe7c241a1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cee2748ed6094ccc9dc82a8fe7c241a1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2c47b24188e74389ac76fc37784d6caf.html" target="element"> Combined Nomenclature </a> </td>
																				<td> <a href="../elements/id-3dbc0ee3241f4879a2ac86981b1aecf4.html" target="element"> Combined nomenclature </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>