<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Privacy Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Privacy Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8b977a43c5f441e786d86fae644949c6.png" alt="TVA-Privacy Enablers [Motivation]" usemap="#id-8b977a43c5f441e786d86fae644949c6map"/>
			   <map name="id-8b977a43c5f441e786d86fae644949c6map">
				  				<area shape="rect" coords="58,58,227,129" href="../elements/id-d159708bf35f4351a77ca0e55daf92fe.html"  target="element">

				  		<area shape="rect" coords="10,22,263,162" href="../elements/id-2268889c047e4e1c8197c8e0acc363f1.html"  target="element">
				  				<area shape="rect" coords="598,313,767,384" href="../elements/id-2734c17f8e994837af94e459fc9963d5.html"  target="element">
				  				<area shape="rect" coords="598,229,767,300" href="../elements/id-450c6b6c74794aec81efd5f8957ddf96.html"  target="element">
				  				<area shape="rect" coords="598,145,767,216" href="../elements/id-6267b046d0db42aa9982ed03bd6c7094.html"  target="element">
				  				<area shape="rect" coords="598,61,767,132" href="../elements/id-7cd880631e184f01859a3111a65e4a5e.html"  target="element">
				  				<area shape="rect" coords="346,61,515,132" href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html"  target="element">

				  		<area shape="rect" coords="322,10,791,406" href="../elements/id-e4b6d85315524249b71502e18d1783d0.html"  target="element">
				  				<area shape="rect" coords="886,70,1066,143" href="../elements/id-a3d8335390c54f079a0ea862b7acca9c.html"  target="element">

				          <area shape="rect" coords="850,22,1103,162" href="../objects/id-811638ba13974faa97628f497cd6bdf8.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Privacy Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various elements that facilitate privacy-related functionality within an application or system. 

The view consists of three main elements: 'Business Agnostic Privacy Business Service', 'Privacy Enablers', and 'Business Agnostic Privacy Solutions'. 

The 'Business Agnostic Privacy Business Service' is a Diagram Model-group ABB that includes a 'Business Service ABB' named 'Anonymisation'. This service refers to a digital public service that provides anonymisation capabilities, which is a crucial aspect of privacy protection.

The 'Privacy Enablers' is a Grouping ABB that refers to components and services that facilitate the implementation of privacy-related functionality within an application or system. It includes several 'Application Service ABBs' such as 'Privacy', 'Anonymisation', 'Consent Management', 'Data Encryption', and 'Privacy Impact Assessments'. 

The 'Privacy' service enables the sharing of functionalities such as storing, securing, anonymising, pseudonymising, rectifying, and erasing personal data. The 'Anonymisation' service refers to a software solution that enables the anonymisation of sensitive or personally identifiable information (PII) within datasets. The 'Consent Management' service, 'Data Encryption' service, and 'Privacy Impact Assessments' service are also part of the 'Privacy Enablers' group, each providing specific functionalities related to privacy protection.

The 'Business Agnostic Privacy Solutions' is a Grouping SBB that serves as a catalogue for privacy solutions. It includes an 'Application Service SBB' named 'HashiCorp Vault', which is a specific application service related to privacy protection.

The motivation behind these elements and their relations is to provide a comprehensive framework for implementing privacy-related functionalities in an application or system. This is crucial in today's digital age, where data protection and privacy are of utmost importance.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-811638ba13974faa97628f497cd6bdf8.html" target="element"> Business Agnostic Privacy Business Service </a> </td>
									           <td> <a href="../objects/id-811638ba13974faa97628f497cd6bdf8.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-a3d8335390c54f079a0ea862b7acca9c.html" target="element"> Anonymisation </a> </td>
													    <td> <a href="../elements/id-a3d8335390c54f079a0ea862b7acca9c.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e4b6d85315524249b71502e18d1783d0.html" target="element"> Privacy Enablers </a> </td>
											    <td> <a href="../elements/id-e4b6d85315524249b71502e18d1783d0.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html" target="element"> Privacy </a> </td>
													    <td> <a href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7cd880631e184f01859a3111a65e4a5e.html" target="element"> Anonymisation </a> </td>
													    <td> <a href="../elements/id-7cd880631e184f01859a3111a65e4a5e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6267b046d0db42aa9982ed03bd6c7094.html" target="element"> Consent Management </a> </td>
													    <td> <a href="../elements/id-6267b046d0db42aa9982ed03bd6c7094.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-450c6b6c74794aec81efd5f8957ddf96.html" target="element"> Data Encryption </a> </td>
													    <td> <a href="../elements/id-450c6b6c74794aec81efd5f8957ddf96.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2734c17f8e994837af94e459fc9963d5.html" target="element"> Privacy Impact Assessments </a> </td>
													    <td> <a href="../elements/id-2734c17f8e994837af94e459fc9963d5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2268889c047e4e1c8197c8e0acc363f1.html" target="element"> Business Agnostic Privacy Solutions </a> </td>
											    <td> <a href="../elements/id-2268889c047e4e1c8197c8e0acc363f1.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d159708bf35f4351a77ca0e55daf92fe.html" target="element"> HashiCorp Vault </a> </td>
													    <td> <a href="../elements/id-d159708bf35f4351a77ca0e55daf92fe.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-4030c225f5a940899051eec2aa95281c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4030c225f5a940899051eec2aa95281c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e4b6d85315524249b71502e18d1783d0.html" target="element"> Privacy Enablers </a> </td>
																		<td> <a href="../elements/id-2734c17f8e994837af94e459fc9963d5.html" target="element"> Privacy Impact Assessments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-028abc073b714d849a276338a962d42a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-028abc073b714d849a276338a962d42a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e4b6d85315524249b71502e18d1783d0.html" target="element"> Privacy Enablers </a> </td>
																		<td> <a href="../elements/id-7cd880631e184f01859a3111a65e4a5e.html" target="element"> Anonymisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a4bdeadae75c4a0a8e1e384515c9bfee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4bdeadae75c4a0a8e1e384515c9bfee.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e4b6d85315524249b71502e18d1783d0.html" target="element"> Privacy Enablers </a> </td>
																		<td> <a href="../elements/id-450c6b6c74794aec81efd5f8957ddf96.html" target="element"> Data Encryption </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-213053dd919e4077b75c7bbeb685a112.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-213053dd919e4077b75c7bbeb685a112.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e4b6d85315524249b71502e18d1783d0.html" target="element"> Privacy Enablers </a> </td>
																		<td> <a href="../elements/id-6267b046d0db42aa9982ed03bd6c7094.html" target="element"> Consent Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-05b02ebd53cc4bb5a23ccc66b57817ca.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-05b02ebd53cc4bb5a23ccc66b57817ca.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cd880631e184f01859a3111a65e4a5e.html" target="element"> Anonymisation </a> </td>
																				<td> <a href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html" target="element"> Privacy </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2b92641af9494e88828f6ebadaed17a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b92641af9494e88828f6ebadaed17a0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cd880631e184f01859a3111a65e4a5e.html" target="element"> Anonymisation </a> </td>
																				<td> <a href="../elements/id-a3d8335390c54f079a0ea862b7acca9c.html" target="element"> Anonymisation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3475373017614f2bb5c50923a29f1b36.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3475373017614f2bb5c50923a29f1b36.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6267b046d0db42aa9982ed03bd6c7094.html" target="element"> Consent Management </a> </td>
																				<td> <a href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html" target="element"> Privacy </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ae9ac5de919a4dcb9c98605d8c4c363e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ae9ac5de919a4dcb9c98605d8c4c363e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-450c6b6c74794aec81efd5f8957ddf96.html" target="element"> Data Encryption </a> </td>
																				<td> <a href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html" target="element"> Privacy </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a97beb2ee9354ad583c6fce152d80ba1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a97beb2ee9354ad583c6fce152d80ba1.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2734c17f8e994837af94e459fc9963d5.html" target="element"> Privacy Impact Assessments </a> </td>
																				<td> <a href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html" target="element"> Privacy </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-77601c3475854a5c8bb573583aaa780d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77601c3475854a5c8bb573583aaa780d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2268889c047e4e1c8197c8e0acc363f1.html" target="element"> Business Agnostic Privacy Solutions </a> </td>
																		<td> <a href="../elements/id-d159708bf35f4351a77ca0e55daf92fe.html" target="element"> HashiCorp Vault </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f34a3d89dd7043839ec78f130acd1685.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f34a3d89dd7043839ec78f130acd1685.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2268889c047e4e1c8197c8e0acc363f1.html" target="element"> Business Agnostic Privacy Solutions </a> </td>
																		<td> <a href="../elements/id-4013895fe2b34118ad7b7454cc82dc28.html" target="element"> Privacy </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>