<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Customs Trade Facilitation and Collaboration Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Customs Trade Facilitation and Collaboration Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ab2b8dd7289f4eef8c03c33f94d59457.png" alt="TVA-Customs Trade Facilitation and Collaboration Enablers [Motivation]" usemap="#id-ab2b8dd7289f4eef8c03c33f94d59457map"/>
			   <map name="id-ab2b8dd7289f4eef8c03c33f94d59457map">
				  				<area shape="rect" coords="166,104,347,164" href="../elements/id-96bfffdadeb946efa83580de0c306d57.html"  target="element">
				  				<area shape="rect" coords="166,247,347,307" href="../elements/id-0396b2ad527e42859467f9f1fe3fb450.html"  target="element">
				  				<area shape="rect" coords="166,175,347,235" href="../elements/id-a040b0b2f74b4d54bf439baf221418c2.html"  target="element">

				          <area shape="rect" coords="10,67,410,387" href="../objects/id-da48ec5118aa4ce4b75e1f71a56e8201.html" target="element" >
				  				<area shape="rect" coords="634,130,790,202" href="../elements/id-3212f2d441ce41a99e8d327fc4c345b2.html"  target="element">
				  				<area shape="rect" coords="634,214,790,286" href="../elements/id-24d5ccb4c3ec4a949e57eb9d549b7992.html"  target="element">
				  				<area shape="rect" coords="634,298,790,370" href="../elements/id-174e491ab2fc4e7e8ceacba2c680a1e8.html"  target="element">
				  				<area shape="rect" coords="634,46,790,118" href="../elements/id-6f66e96df83b4b909edc9d5f18831f4a.html"  target="element">

				  		<area shape="rect" coords="598,10,923,387" href="../elements/id-4e3c2d933dd6414caf856c3a102c23e4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Customs Trade Facilitation and Collaboration Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging digital technologies to enhance efficiency, transparency, and collaboration in customs operations and cross-border trade. 

The view is divided into two main groups: 'Customs Trade Facilitation and Collaboration Enablers' and 'Customs Digital Public Services'. 

The first group, 'Customs Trade Facilitation and Collaboration Enablers', consists of four application services. The first service, 'Trade Facilitation Portal', is an online platform that simplifies trade procedures and promotes efficiency in cross-border trade. The second service, 'Cooperation between Customs laboratories', involves the use of digital platforms to facilitate collaboration and data exchange between customs laboratories. The third service, 'Cooperation between Customs and Postal Operators', involves the use of digital platforms to facilitate collaboration and data sharing between customs authorities and postal operators. The fourth service, 'MS' Customs organization management', involves the use of digital platforms to manage and oversee the operations of customs organizations within a specific country or region. 

The second group, 'Customs Digital Public Services', consists of three business services. The first service, 'Customs organizational structure management', is a digital public service for managing the organizational structure of customs. The second service, 'Laboratories registry management', is a digital public service for managing the registry of laboratories. The third service, 'EU Customs Trader Portal', is a digital public service for traders in the EU customs environment. 

These services and platforms are designed to enhance the interoperability of customs operations, improve data accuracy and consistency, foster scientific collaboration, promote trade facilitation, ensure compliance with customs regulations, expedite the clearance and delivery of postal shipments, and contribute to secure and efficient cross-border trade. By leveraging digital technologies, these services and platforms aim to provide a comprehensive framework for customs trade facilitation and collaboration.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4e3c2d933dd6414caf856c3a102c23e4.html" target="element"> Customs Trade Facilitation and Collaboration Enablers </a> </td>
											    <td> <a href="../elements/id-4e3c2d933dd6414caf856c3a102c23e4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6f66e96df83b4b909edc9d5f18831f4a.html" target="element"> Trade Facilitation Portal </a> </td>
													    <td> <a href="../elements/id-6f66e96df83b4b909edc9d5f18831f4a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-174e491ab2fc4e7e8ceacba2c680a1e8.html" target="element"> Cooperation between Customs laboratories </a> </td>
													    <td> <a href="../elements/id-174e491ab2fc4e7e8ceacba2c680a1e8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-24d5ccb4c3ec4a949e57eb9d549b7992.html" target="element"> Cooperation between Customs and Postal Operators </a> </td>
													    <td> <a href="../elements/id-24d5ccb4c3ec4a949e57eb9d549b7992.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3212f2d441ce41a99e8d327fc4c345b2.html" target="element"> MS' Customs organization management </a> </td>
													    <td> <a href="../elements/id-3212f2d441ce41a99e8d327fc4c345b2.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-da48ec5118aa4ce4b75e1f71a56e8201.html" target="element"> Customs Digital Public Services </a> </td>
									           <td> <a href="../objects/id-da48ec5118aa4ce4b75e1f71a56e8201.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-a040b0b2f74b4d54bf439baf221418c2.html" target="element"> Customs organizational structure management </a> </td>
													    <td> <a href="../elements/id-a040b0b2f74b4d54bf439baf221418c2.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0396b2ad527e42859467f9f1fe3fb450.html" target="element"> Laboratories registry management </a> </td>
													    <td> <a href="../elements/id-0396b2ad527e42859467f9f1fe3fb450.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-96bfffdadeb946efa83580de0c306d57.html" target="element"> EU Customs Trader Portal </a> </td>
													    <td> <a href="../elements/id-96bfffdadeb946efa83580de0c306d57.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1f7a22c05fab422883620cf16ea4f60a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f7a22c05fab422883620cf16ea4f60a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4e3c2d933dd6414caf856c3a102c23e4.html" target="element"> Customs Trade Facilitation and Collaboration Enablers </a> </td>
																		<td> <a href="../elements/id-24d5ccb4c3ec4a949e57eb9d549b7992.html" target="element"> Cooperation between Customs and Postal Operators </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5988b8b65ef44742a0dbbceccbca7934.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5988b8b65ef44742a0dbbceccbca7934.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4e3c2d933dd6414caf856c3a102c23e4.html" target="element"> Customs Trade Facilitation and Collaboration Enablers </a> </td>
																		<td> <a href="../elements/id-6f66e96df83b4b909edc9d5f18831f4a.html" target="element"> Trade Facilitation Portal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c7d9f84adbcd479eb71e9ea5ccaeb75d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7d9f84adbcd479eb71e9ea5ccaeb75d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4e3c2d933dd6414caf856c3a102c23e4.html" target="element"> Customs Trade Facilitation and Collaboration Enablers </a> </td>
																		<td> <a href="../elements/id-3212f2d441ce41a99e8d327fc4c345b2.html" target="element"> MS' Customs organization management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a3503b0d576949ea9d890222475e5210.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3503b0d576949ea9d890222475e5210.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4e3c2d933dd6414caf856c3a102c23e4.html" target="element"> Customs Trade Facilitation and Collaboration Enablers </a> </td>
																		<td> <a href="../elements/id-174e491ab2fc4e7e8ceacba2c680a1e8.html" target="element"> Cooperation between Customs laboratories </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0da1692afe0b4cf19b94e92585ff2652.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0da1692afe0b4cf19b94e92585ff2652.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6f66e96df83b4b909edc9d5f18831f4a.html" target="element"> Trade Facilitation Portal </a> </td>
																				<td> <a href="../elements/id-96bfffdadeb946efa83580de0c306d57.html" target="element"> EU Customs Trader Portal </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-30716483cb7842988f5ab68252cd9032.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-30716483cb7842988f5ab68252cd9032.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-174e491ab2fc4e7e8ceacba2c680a1e8.html" target="element"> Cooperation between Customs laboratories </a> </td>
																				<td> <a href="../elements/id-0396b2ad527e42859467f9f1fe3fb450.html" target="element"> Laboratories registry management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a626497cd05e404baa79dca0128a8073.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a626497cd05e404baa79dca0128a8073.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3212f2d441ce41a99e8d327fc4c345b2.html" target="element"> MS' Customs organization management </a> </td>
																				<td> <a href="../elements/id-a040b0b2f74b4d54bf439baf221418c2.html" target="element"> Customs organizational structure management </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>