<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Customs Base Registries [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Customs Base Registries [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-acc062003ce84f1fbb954307c07c1417.png" alt="SV-Customs Base Registries [Motivation]" usemap="#id-acc062003ce84f1fbb954307c07c1417map"/>
			   <map name="id-acc062003ce84f1fbb954307c07c1417map">
				  		<area shape="rect" coords="10,298,198,393" href="../elements/id-da29674662804d5489b944d3ba0f87e6.html"  target="element">
				  				<area shape="rect" coords="946,622,1126,682" href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html"  target="element">
				  				<area shape="rect" coords="946,550,1126,610" href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html"  target="element">
				  				<area shape="rect" coords="946,478,1126,538" href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html"  target="element">
				  				<area shape="rect" coords="946,406,1126,466" href="../elements/id-d3626fbebfd2422eb477d9ea2a92072c.html"  target="element">
				  				<area shape="rect" coords="946,46,1126,106" href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html"  target="element">
				  				<area shape="rect" coords="946,336,1126,396" href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html"  target="element">
				  				<area shape="rect" coords="946,120,1126,180" href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html"  target="element">
				  				<area shape="rect" coords="946,264,1126,324" href="../elements/id-70d147abd538471181e6d88642c24fa2.html"  target="element">
				  				<area shape="rect" coords="946,192,1126,252" href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html"  target="element">

				          <area shape="rect" coords="922,10,1174,706" href="../objects/id-62bd638ea3e9480a9c179f22d3f8884f.html" target="element" >
				  				<area shape="rect" coords="370,478,570,558" href="../elements/id-23ab5545f1f84d9b95a4f8078887a145.html"  target="element">
				  				<area shape="rect" coords="370,190,570,270" href="../elements/id-5188500bdf5d498ebcaf8facf0bff5db.html"  target="element">
				  				<area shape="rect" coords="370,574,570,654" href="../elements/id-e0d4d806b1634cd58e1528b90778799b.html"  target="element">
				  				<area shape="rect" coords="370,94,570,174" href="../elements/id-ed07b2f741f24b4a8a64af17241927f4.html"  target="element">
				  				<area shape="rect" coords="370,286,570,366" href="../elements/id-c9dcc3fe805645dc9aea41d4b4f900ad.html"  target="element">
				  				<area shape="rect" coords="370,382,570,462" href="../elements/id-525c2ca78f7946c4ba05d979bf650f1c.html"  target="element">

				  		<area shape="rect" coords="334,70,611,671" href="../elements/id-9acab2a34368481d84caeecaa740f2ef.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Customs Base Registries [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging data objects and business objects related to customs activities. This view is divided into three main elements: the Customs Base Registry, the Customs Information Base, and the Base Registry.

The Customs Base Registry is a Grouping ABB that encompasses six Data Object SBBs, each representing a different system or database used in customs activities. These include the REX - Registered Exporter system, EORI - Economic Operators Registration and Identification number, ICS (Import Control System), TARIC (Integrated Tariff of the European Union), VAT Information Exchange System (VIES), and AEO - Authorised Economic Operator. Each of these systems or databases serves a unique purpose in the customs process, from certifying the origin of goods and assigning unique identification numbers to economic operators, to enhancing customs control, providing tariff information, verifying VAT numbers, and recognizing businesses that meet certain criteria and demonstrate compliance with customs regulations and security standards.

The Customs Information Base is a Diagram Model-group ABB that includes nine Business Object ABBs, each representing a different type of information used in customs activities. These include Exports information, Imports information, Origin of goods Information, Economic value Information, Customs partners Information, Binding Tariffs Information, Economic Operators Registration and Identification number (EORI), Economic Operators Information, and Workforce information. These business objects provide essential information for customs activities, such as details about exports and imports, the origin of goods, economic value, customs partners, binding tariffs, registration and identification numbers for economic operators, information about economic operators, and workforce information.

The Base Registry is a Data Object ABB that refers to reliable sources of basic information that permits an efficient, secure, and transparent exchange of the data. This registry serves as a foundational element in the SV-Customs Base Registries [Motivation] view, providing the underlying data that supports the other elements in the view.

In summary, the SV-Customs Base Registries [Motivation] view provides a comprehensive framework for managing and leveraging data and information related to customs activities. It integrates various systems and databases, each serving a unique purpose in the customs process, and provides a wide range of essential information for customs activities. The Base Registry serves as the foundation for this view, providing reliable sources of basic information that enable efficient, secure, and transparent data exchange.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9acab2a34368481d84caeecaa740f2ef.html" target="element"> Customs Base Registry </a> </td>
											    <td> <a href="../elements/id-9acab2a34368481d84caeecaa740f2ef.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-525c2ca78f7946c4ba05d979bf650f1c.html" target="element"> REX &#8211; Registered Exporter system </a> </td>
													    <td> <a href="../elements/id-525c2ca78f7946c4ba05d979bf650f1c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c9dcc3fe805645dc9aea41d4b4f900ad.html" target="element"> EORI - Economic Operators Registration and Identification number </a> </td>
													    <td> <a href="../elements/id-c9dcc3fe805645dc9aea41d4b4f900ad.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed07b2f741f24b4a8a64af17241927f4.html" target="element"> ICS (Import Control System) </a> </td>
													    <td> <a href="../elements/id-ed07b2f741f24b4a8a64af17241927f4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e0d4d806b1634cd58e1528b90778799b.html" target="element"> TARIC (Integrated Tariff of the European Union) </a> </td>
													    <td> <a href="../elements/id-e0d4d806b1634cd58e1528b90778799b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5188500bdf5d498ebcaf8facf0bff5db.html" target="element"> VAT Information Exchange System (VIES) </a> </td>
													    <td> <a href="../elements/id-5188500bdf5d498ebcaf8facf0bff5db.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-23ab5545f1f84d9b95a4f8078887a145.html" target="element"> AEO - Authorised Economic Operator </a> </td>
													    <td> <a href="../elements/id-23ab5545f1f84d9b95a4f8078887a145.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-62bd638ea3e9480a9c179f22d3f8884f.html" target="element"> Customs Information Base </a> </td>
									           <td> <a href="../objects/id-62bd638ea3e9480a9c179f22d3f8884f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html" target="element"> Exports information </a> </td>
													    <td> <a href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70d147abd538471181e6d88642c24fa2.html" target="element"> Imports information </a> </td>
													    <td> <a href="../elements/id-70d147abd538471181e6d88642c24fa2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html" target="element"> Origin of goods Information </a> </td>
													    <td> <a href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html" target="element"> Economic value Information </a> </td>
													    <td> <a href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element"> Customs partners Information </a> </td>
													    <td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d3626fbebfd2422eb477d9ea2a92072c.html" target="element"> Binding Tariffs Information </a> </td>
													    <td> <a href="../elements/id-d3626fbebfd2422eb477d9ea2a92072c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element"> Economic Operators Registration and Identification number (EORI) </a> </td>
													    <td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
													    <td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element"> Workforce information </a> </td>
													    <td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-da29674662804d5489b944d3ba0f87e6.html" target="element"> Base Registry </a> </td>
											    <td> <a href="../elements/id-da29674662804d5489b944d3ba0f87e6.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8b10d6fe65124ec9a46dc08f35c6e153.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b10d6fe65124ec9a46dc08f35c6e153.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9acab2a34368481d84caeecaa740f2ef.html" target="element"> Customs Base Registry </a> </td>
																		<td> <a href="../elements/id-ed07b2f741f24b4a8a64af17241927f4.html" target="element"> ICS (Import Control System) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7a0c7668c6d48e690763c9e919ab0e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7a0c7668c6d48e690763c9e919ab0e7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9acab2a34368481d84caeecaa740f2ef.html" target="element"> Customs Base Registry </a> </td>
																		<td> <a href="../elements/id-e0d4d806b1634cd58e1528b90778799b.html" target="element"> TARIC (Integrated Tariff of the European Union) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8cb49e442a54d8d960cb6249ad717b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8cb49e442a54d8d960cb6249ad717b7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9acab2a34368481d84caeecaa740f2ef.html" target="element"> Customs Base Registry </a> </td>
																		<td> <a href="../elements/id-525c2ca78f7946c4ba05d979bf650f1c.html" target="element"> REX &#8211; Registered Exporter system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-161a8827115a46d3a378b7c38400bf92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-161a8827115a46d3a378b7c38400bf92.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9acab2a34368481d84caeecaa740f2ef.html" target="element"> Customs Base Registry </a> </td>
																		<td> <a href="../elements/id-c9dcc3fe805645dc9aea41d4b4f900ad.html" target="element"> EORI - Economic Operators Registration and Identification number </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0f261af0f4e042068f370bce934d1ca1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f261af0f4e042068f370bce934d1ca1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9acab2a34368481d84caeecaa740f2ef.html" target="element"> Customs Base Registry </a> </td>
																		<td> <a href="../elements/id-5188500bdf5d498ebcaf8facf0bff5db.html" target="element"> VAT Information Exchange System (VIES) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd26185025cf4a6baf6c1fba9a6a916b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd26185025cf4a6baf6c1fba9a6a916b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9acab2a34368481d84caeecaa740f2ef.html" target="element"> Customs Base Registry </a> </td>
																		<td> <a href="../elements/id-23ab5545f1f84d9b95a4f8078887a145.html" target="element"> AEO - Authorised Economic Operator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0323925699364b78915da2d959348c11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0323925699364b78915da2d959348c11.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9acab2a34368481d84caeecaa740f2ef.html" target="element"> Customs Base Registry </a> </td>
																		<td> <a href="../elements/id-da29674662804d5489b944d3ba0f87e6.html" target="element"> Base Registry </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-08b4abc21f0c41558a27384e2096d2ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08b4abc21f0c41558a27384e2096d2ed.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-525c2ca78f7946c4ba05d979bf650f1c.html" target="element"> REX &#8211; Registered Exporter system </a> </td>
																				<td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element"> Customs partners Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6adf28ca528d4de59797e6b4f2923858.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6adf28ca528d4de59797e6b4f2923858.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-525c2ca78f7946c4ba05d979bf650f1c.html" target="element"> REX &#8211; Registered Exporter system </a> </td>
																				<td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element"> Economic Operators Registration and Identification number (EORI) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-71481f494e914195ba03d3cdb691dadb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71481f494e914195ba03d3cdb691dadb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-525c2ca78f7946c4ba05d979bf650f1c.html" target="element"> REX &#8211; Registered Exporter system </a> </td>
																				<td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c87120d14d434f2fb80f4c4287b873b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c87120d14d434f2fb80f4c4287b873b2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-525c2ca78f7946c4ba05d979bf650f1c.html" target="element"> REX &#8211; Registered Exporter system </a> </td>
																				<td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element"> Workforce information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-85aec83c28a645b0876b84ec51898f29.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-85aec83c28a645b0876b84ec51898f29.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9dcc3fe805645dc9aea41d4b4f900ad.html" target="element"> EORI - Economic Operators Registration and Identification number </a> </td>
																				<td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element"> Workforce information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f75c29919df94071a5bbd4417d9ef896.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f75c29919df94071a5bbd4417d9ef896.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9dcc3fe805645dc9aea41d4b4f900ad.html" target="element"> EORI - Economic Operators Registration and Identification number </a> </td>
																				<td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dab7842a80514f949d5813fc7866646f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dab7842a80514f949d5813fc7866646f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c9dcc3fe805645dc9aea41d4b4f900ad.html" target="element"> EORI - Economic Operators Registration and Identification number </a> </td>
																				<td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element"> Economic Operators Registration and Identification number (EORI) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-58cc195f029b400c808bd89d430efd11.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-58cc195f029b400c808bd89d430efd11.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ed07b2f741f24b4a8a64af17241927f4.html" target="element"> ICS (Import Control System) </a> </td>
																				<td> <a href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html" target="element"> Exports information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0998441442524b2fb4fc4ece2a0c786f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0998441442524b2fb4fc4ece2a0c786f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ed07b2f741f24b4a8a64af17241927f4.html" target="element"> ICS (Import Control System) </a> </td>
																				<td> <a href="../elements/id-70d147abd538471181e6d88642c24fa2.html" target="element"> Imports information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-303110560e78467f8eec2f9c38ad5df0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-303110560e78467f8eec2f9c38ad5df0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ed07b2f741f24b4a8a64af17241927f4.html" target="element"> ICS (Import Control System) </a> </td>
																				<td> <a href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html" target="element"> Origin of goods Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b9e2a6ca338c44c4af19cea5dbaa5293.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b9e2a6ca338c44c4af19cea5dbaa5293.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e0d4d806b1634cd58e1528b90778799b.html" target="element"> TARIC (Integrated Tariff of the European Union) </a> </td>
																				<td> <a href="../elements/id-d3626fbebfd2422eb477d9ea2a92072c.html" target="element"> Binding Tariffs Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b72a95b4150f4903b18a1bfebcf5ce83.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b72a95b4150f4903b18a1bfebcf5ce83.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5188500bdf5d498ebcaf8facf0bff5db.html" target="element"> VAT Information Exchange System (VIES) </a> </td>
																				<td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-549e2d9852be4388afe712e43014f060.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-549e2d9852be4388afe712e43014f060.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-23ab5545f1f84d9b95a4f8078887a145.html" target="element"> AEO - Authorised Economic Operator </a> </td>
																				<td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element"> Workforce information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a88320714b6d4010bb453da0cfb923c0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a88320714b6d4010bb453da0cfb923c0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-23ab5545f1f84d9b95a4f8078887a145.html" target="element"> AEO - Authorised Economic Operator </a> </td>
																				<td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bdb0e337fba649d894c338be0af35392.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bdb0e337fba649d894c338be0af35392.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-23ab5545f1f84d9b95a4f8078887a145.html" target="element"> AEO - Authorised Economic Operator </a> </td>
																				<td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element"> Economic Operators Registration and Identification number (EORI) </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>