<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Business Agnostic Metadata [Traceability]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Business Agnostic Metadata [Traceability]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b227625aa3534389a9808ffe7d221576.png" alt="SV-Business Agnostic Metadata [Traceability]" usemap="#id-b227625aa3534389a9808ffe7d221576map"/>
			   <map name="id-b227625aa3534389a9808ffe7d221576map">
				  				<area shape="rect" coords="1054,178,1247,239" href="../elements/id-67f09b3e0f404ee18bda10ee6045e29c.html"  target="element">
				  				<area shape="rect" coords="358,406,551,467" href="../elements/id-3d500e79beb24e148f54dcd987746cc7.html"  target="element">
				  				<area shape="rect" coords="598,406,791,467" href="../elements/id-1ab62be809b74369859152cf63368652.html"  target="element">
				  				<area shape="rect" coords="358,175,551,236" href="../elements/id-86fbd8fb2c734b0aa66bb366165a44b2.html"  target="element">
				  				<area shape="rect" coords="1330,406,1523,467" href="../elements/id-568ecdfee74849f4af00a82d83632516.html"  target="element">
				  				<area shape="rect" coords="598,178,791,239" href="../elements/id-0999ee6adac8486d8cf9c75a82525b46.html"  target="element">
				  				<area shape="rect" coords="838,406,1031,467" href="../elements/id-47d4198e1eb54ad9b740c44253851cf3.html"  target="element">
				  				<area shape="rect" coords="1078,406,1271,467" href="../elements/id-e8ade15f9145402c8baa7ed553b92cce.html"  target="element">

				  		<area shape="rect" coords="322,130,1583,551" href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html"  target="element">
				  				<area shape="rect" coords="1942,142,2142,222" href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html"  target="element">
				  				<area shape="rect" coords="1942,46,2142,126" href="../elements/aa3f8c7e-5642-42a4-88d0-a4835d717bbe.html"  target="element">
				  				<area shape="rect" coords="1942,526,2142,606" href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html"  target="element">
				  				<area shape="rect" coords="1942,718,2142,798" href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html"  target="element">
				  				<area shape="rect" coords="1942,238,2142,318" href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html"  target="element">
				  				<area shape="rect" coords="1942,622,2142,702" href="../elements/id-0025b073-5858-4618-9641-dbef7bc40ae5.html"  target="element">
				  				<area shape="rect" coords="1942,430,2142,510" href="../elements/id-04de5eeca33048e5bb39536ea7d03cf7.html"  target="element">
				  				<area shape="rect" coords="1942,334,2142,414" href="../elements/id-d1d7651898de45ff9b6475f16d32649a.html"  target="element">

				  		<area shape="rect" coords="1918,10,2207,815" href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html"  target="element">
				  		<area shape="rect" coords="10,307,203,368" href="../elements/id-6a1f58b5f7c44ec382909a5f5a2be489.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Narartive: 
The "Semantic view - Business Agnostic Datasets" viewpoint extends semantic view and provides a comprehensive framework for managing and utilizing business agnostic datasets within the digital ecosystem. This view associates the Agnostic Datasets with the Business Information Base and Digital Public Services from the application layer.
Within this view, Agnostic Datasets represent standardized collections of data that are independent of specific business domains. These datasets adhere to common data structures, formats, and semantics, enabling interoperability, data integration, and efficient data exchange across different digital services and applications.
The Business Information Base, as part of the application layer, serves as a repository of business-related information that utilizes the Agnostic Datasets. It stores and manages domain-specific data within the standardized dataset structures, facilitating data consistency, accessibility, and sharing.
Digital Public Services leverage the Agnostic Datasets to ensure uniformity and coherence in data representation and utilization. These services align their data models, operations, and interactions with the agnostic datasets, enabling seamless integration, data consistency, and semantic interoperability among different digital public services.
By associating the Agnostic Datasets with the Business Information Base and Digital Public Services, the "Semantic view - Business Agnostic Datasets" promotes standardized data management practices and efficient data utilization within the digital ecosystem. This view supports data integration, semantic interoperability, and advanced functionalities for digital public services.
The agnostic nature of the datasets allows for flexibility and adaptability across different business domains and digital public services. It enables reusability of data structures, reduces data duplication, and promotes consistent data representation and exchange.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6a1f58b5f7c44ec382909a5f5a2be489.html" target="element"> Metadata </a> </td>
											    <td> <a href="../elements/id-6a1f58b5f7c44ec382909a5f5a2be489.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html" target="element"> Business Agnostic Business Information Base </a> </td>
											    <td> <a href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d1d7651898de45ff9b6475f16d32649a.html" target="element"> Payment </a> </td>
													    <td> <a href="../elements/id-d1d7651898de45ff9b6475f16d32649a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-04de5eeca33048e5bb39536ea7d03cf7.html" target="element"> Transaction </a> </td>
													    <td> <a href="../elements/id-04de5eeca33048e5bb39536ea7d03cf7.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0025b073-5858-4618-9641-dbef7bc40ae5.html" target="element"> Audit trail </a> </td>
													    <td> <a href="../elements/id-0025b073-5858-4618-9641-dbef7bc40ae5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element"> Message </a> </td>
													    <td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html" target="element"> Availability </a> </td>
													    <td> <a href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
													    <td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aa3f8c7e-5642-42a4-88d0-a4835d717bbe.html" target="element"> Location </a> </td>
													    <td> <a href="../elements/aa3f8c7e-5642-42a4-88d0-a4835d717bbe.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
													    <td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
											    <td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e8ade15f9145402c8baa7ed553b92cce.html" target="element"> Multimedia Object Metadata </a> </td>
													    <td> <a href="../elements/id-e8ade15f9145402c8baa7ed553b92cce.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-47d4198e1eb54ad9b740c44253851cf3.html" target="element"> Log Metadata </a> </td>
													    <td> <a href="../elements/id-47d4198e1eb54ad9b740c44253851cf3.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0999ee6adac8486d8cf9c75a82525b46.html" target="element"> Translation Item Metadata </a> </td>
													    <td> <a href="../elements/id-0999ee6adac8486d8cf9c75a82525b46.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-568ecdfee74849f4af00a82d83632516.html" target="element"> Transaction metadata </a> </td>
													    <td> <a href="../elements/id-568ecdfee74849f4af00a82d83632516.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-86fbd8fb2c734b0aa66bb366165a44b2.html" target="element"> Exchange Item metadata </a> </td>
													    <td> <a href="../elements/id-86fbd8fb2c734b0aa66bb366165a44b2.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1ab62be809b74369859152cf63368652.html" target="element"> Tender Item Metadata </a> </td>
													    <td> <a href="../elements/id-1ab62be809b74369859152cf63368652.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d500e79beb24e148f54dcd987746cc7.html" target="element"> Authorised payment methods metadata </a> </td>
													    <td> <a href="../elements/id-3d500e79beb24e148f54dcd987746cc7.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-67f09b3e0f404ee18bda10ee6045e29c.html" target="element"> Master Data </a> </td>
													    <td> <a href="../elements/id-67f09b3e0f404ee18bda10ee6045e29c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-02b40cd26358409aab1ea01a0c5212f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02b40cd26358409aab1ea01a0c5212f6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-302b5d23-5dde-44a3-b040-a397b573a982.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-302b5d23-5dde-44a3-b040-a397b573a982.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/aa3f8c7e-5642-42a4-88d0-a4835d717bbe.html" target="element"> Location </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a91cb099-6e43-42ef-a8f1-4ed82924037e.html" target="element">  </a> </td>
																		<td> <a href="../elements/a91cb099-6e43-42ef-a8f1-4ed82924037e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element"> Message </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-21d53046-182e-4f78-b447-902d1b75ad3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21d53046-182e-4f78-b447-902d1b75ad3b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-0025b073-5858-4618-9641-dbef7bc40ae5.html" target="element"> Audit trail </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d31d683c-28f8-46ac-951a-0d4207a6c119.html" target="element">  </a> </td>
																		<td> <a href="../elements/d31d683c-28f8-46ac-951a-0d4207a6c119.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html" target="element"> Availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a59a2d6fd3414a13baca849f006465bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a59a2d6fd3414a13baca849f006465bf.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-04de5eeca33048e5bb39536ea7d03cf7.html" target="element"> Transaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d600239f-cdc4-4318-af34-7206368153ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/d600239f-cdc4-4318-af34-7206368153ee.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-490930987b6d496a9383deae7913629b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-490930987b6d496a9383deae7913629b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c0de37c062e435e96040cb22c9b0d6c.html" target="element"> Business Agnostic Business Information Base </a> </td>
																		<td> <a href="../elements/id-d1d7651898de45ff9b6475f16d32649a.html" target="element"> Payment </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3ddd1fde712d48e09ef55e94ad49210b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ddd1fde712d48e09ef55e94ad49210b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-86fbd8fb2c734b0aa66bb366165a44b2.html" target="element"> Exchange Item metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-17a1b29487744cbda96bd122cffec6fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-17a1b29487744cbda96bd122cffec6fe.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-0999ee6adac8486d8cf9c75a82525b46.html" target="element"> Translation Item Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c72bcf143b24e56a4dd0c366c5d9df6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c72bcf143b24e56a4dd0c366c5d9df6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-3d500e79beb24e148f54dcd987746cc7.html" target="element"> Authorised payment methods metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b43bedc146ae4d4bbf37853257cb397d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b43bedc146ae4d4bbf37853257cb397d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-e8ade15f9145402c8baa7ed553b92cce.html" target="element"> Multimedia Object Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c413c1615e84010a0db1439ebb5de4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c413c1615e84010a0db1439ebb5de4e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-47d4198e1eb54ad9b740c44253851cf3.html" target="element"> Log Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e322238f0cf4610b6720a550061b54e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e322238f0cf4610b6720a550061b54e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-1ab62be809b74369859152cf63368652.html" target="element"> Tender Item Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f65b6fb9a1148f6b4ab50bacffdfc10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f65b6fb9a1148f6b4ab50bacffdfc10.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-568ecdfee74849f4af00a82d83632516.html" target="element"> Transaction metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7d57147623844a01b4ec112db99f79c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d57147623844a01b4ec112db99f79c0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-67f09b3e0f404ee18bda10ee6045e29c.html" target="element"> Master Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1cd405de2ab742038498f8f5fc522977.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1cd405de2ab742038498f8f5fc522977.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-6a1f58b5f7c44ec382909a5f5a2be489.html" target="element"> Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1586399fe67b452fa9d442405cfc8448.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1586399fe67b452fa9d442405cfc8448.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-646ef30246a0431ca9df9a6cb3f474fb.html" target="element"> Business Agnostic Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-76727a0d-5f7d-426e-a9dc-20cf4e6c344e.html" target="element"> Document </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5eb61ab7e6434555b6b2731d9c1ffca2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5eb61ab7e6434555b6b2731d9c1ffca2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-47d4198e1eb54ad9b740c44253851cf3.html" target="element"> Log Metadata </a> </td>
																				<td> <a href="../elements/id-0025b073-5858-4618-9641-dbef7bc40ae5.html" target="element"> Audit trail </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-26496cbffd3d45d0bf0d98fbef1e2f62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-26496cbffd3d45d0bf0d98fbef1e2f62.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0999ee6adac8486d8cf9c75a82525b46.html" target="element"> Translation Item Metadata </a> </td>
																				<td> <a href="../elements/aa3f8c7e-5642-42a4-88d0-a4835d717bbe.html" target="element"> Location </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-78b600b93c924aa3b9e99fb07a699521.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-78b600b93c924aa3b9e99fb07a699521.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-568ecdfee74849f4af00a82d83632516.html" target="element"> Transaction metadata </a> </td>
																				<td> <a href="../elements/id-04de5eeca33048e5bb39536ea7d03cf7.html" target="element"> Transaction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2c1ccc18bde34f7ebebe6439f48ec0e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2c1ccc18bde34f7ebebe6439f48ec0e2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86fbd8fb2c734b0aa66bb366165a44b2.html" target="element"> Exchange Item metadata </a> </td>
																				<td> <a href="../elements/id-3d5fafb3-8116-4d9a-856d-199c910bbf28.html" target="element"> Message </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1becbeffa7d04618b5520d8dcb101628.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1becbeffa7d04618b5520d8dcb101628.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1ab62be809b74369859152cf63368652.html" target="element"> Tender Item Metadata </a> </td>
																				<td> <a href="../elements/d43d5a66-233c-4613-908b-cc2c6b7ea5f5.html" target="element"> Availability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a7303054ae374e96a292bb379b8a177e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a7303054ae374e96a292bb379b8a177e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3d500e79beb24e148f54dcd987746cc7.html" target="element"> Authorised payment methods metadata </a> </td>
																				<td> <a href="../elements/id-d1d7651898de45ff9b6475f16d32649a.html" target="element"> Payment </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bbe6bc00b9504004a35f3f6840840d62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bbe6bc00b9504004a35f3f6840840d62.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-67f09b3e0f404ee18bda10ee6045e29c.html" target="element"> Master Data </a> </td>
																				<td> <a href="../elements/id-f0f66a01071c4b70a43c531bc4f6060b.html" target="element"> Data Quality </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>