<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Governance Architecture Principles</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Governance Architecture Principles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d443901b7280499084000171d438fe01.png" alt="SV-Governance Architecture Principles" usemap="#id-d443901b7280499084000171d438fe01map"/>
			   <map name="id-d443901b7280499084000171d438fe01map">
				  				<area shape="rect" coords="34,214,234,294" href="../elements/id-28df23e9d4894d508ef6a66a5ef0523e.html"  target="element">

				  		<area shape="rect" coords="10,190,274,330" href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html"  target="element">
				  		<area shape="rect" coords="24,10,274,85" href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html"  target="element">
				  		<area shape="rect" coords="24,442,274,517" href="../elements/id-828d92178167428aad67b374941419d3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The view that relates Architecture principles to semantic view governance components is an essential aspect of solutions architecture. This view specifically focuses on how architecture principles influence the design and implementation of governance structures and processes within the semantic layer of a solution.

Aligning architecture principles with semantic view governance components brings several benefits to the overall solution.

Firstly, it ensures effective governance practices within the semantic layer. Architecture principles provide guidance on establishing governance structures, policies, and processes that govern the management and usage of data. By aligning governance components with these principles, solutions architects can design a robust governance framework that ensures compliance, transparency, and accountability in data management, access control, and data quality. This alignment promotes proper oversight and control over the semantic layer, facilitating efficient and secure data governance practices.

Secondly, aligning architecture principles with semantic view governance components supports data integrity and quality. Architecture principles often emphasize data governance, security, and management best practices. By incorporating these principles into the design and implementation of governance components, solutions architects can establish mechanisms for enforcing data governance policies, implementing security measures, and monitoring data quality. This alignment enhances the reliability and accuracy of data within the semantic layer, contributing to more informed decision-making and reliable business insights.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-828d92178167428aad67b374941419d3.html" target="element"> Data Sovereignty </a> </td>
											    <td> <a href="../elements/id-828d92178167428aad67b374941419d3.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html" target="element"> Privacy </a> </td>
											    <td> <a href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html" target="element"> Customs Privacy Data Policy Catalogue </a> </td>
											    <td> <a href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28df23e9d4894d508ef6a66a5ef0523e.html" target="element"> Confidentiality of Business Information </a> </td>
													    <td> <a href="../elements/id-28df23e9d4894d508ef6a66a5ef0523e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d305491bc4d6485d9a8e102a2beeb4f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d305491bc4d6485d9a8e102a2beeb4f6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-828d92178167428aad67b374941419d3.html" target="element"> Data Sovereignty </a> </td>
																		<td> <a href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html" target="element"> Customs Privacy Data Policy Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5ee8faa74c7b4ca7af15addd7ad61c4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ee8faa74c7b4ca7af15addd7ad61c4b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-56e0d4768c73478dafb1413f59bd8e5f.html" target="element"> Privacy </a> </td>
																		<td> <a href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html" target="element"> Customs Privacy Data Policy Catalogue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-25f8e881594b49daa54e2ac16ab51c4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-25f8e881594b49daa54e2ac16ab51c4e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8180ff6bd00f48048c6e18cf1c2cf4fa.html" target="element"> Customs Privacy Data Policy Catalogue </a> </td>
																		<td> <a href="../elements/id-28df23e9d4894d508ef6a66a5ef0523e.html" target="element"> Confidentiality of Business Information </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>