<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OV-Authorised Economic Operator accreditation [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OV-Authorised Economic Operator accreditation [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e171e9787563492886fad0bfb665aec7.png" alt="OV-Authorised Economic Operator accreditation [Motivation]" usemap="#id-e171e9787563492886fad0bfb665aec7map"/>
			   <map name="id-e171e9787563492886fad0bfb665aec7map">
				  				<area shape="rect" coords="658,310,838,370" href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html"  target="element">
				  				<area shape="rect" coords="658,226,838,286" href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html"  target="element">
				  				<area shape="rect" coords="658,142,838,202" href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html"  target="element">
				  				<area shape="rect" coords="370,310,551,370" href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html"  target="element">
				  				<area shape="rect" coords="370,142,551,202" href="../elements/id-f76624b4b48944089597e91008551a98.html"  target="element">
				  				<area shape="rect" coords="82,238,246,294" href="../elements/id-24d2094540d24a4f8908a208ba775981.html"  target="element">

				          <area shape="rect" coords="10,10,875,515" href="../objects/id-14de6d78ad1c44e29339045245d69d48.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The OV-Authorised Economic Operator accreditation [Motivation] view extends the Organisational view and provides a comprehensive framework for leveraging strategic planning and decision-making processes in the context of achieving the Authorized Economic Operator (AEO) accreditation. However, the provided JSON does not contain any elements, which means there are no specific entities, relationships, or motivations to describe within this view.

In a typical scenario, the elements in the JSON could include various stakeholders, goals, requirements, constraints, principles, and drivers related to the AEO accreditation process. These elements would be interconnected, illustrating how different components of the organization are motivated and aligned towards achieving the AEO accreditation.

For instance, stakeholders could be the organization's management team, employees, and regulatory authorities. Goals could include achieving AEO accreditation, enhancing customs efficiency, and improving supply chain security. Requirements might involve meeting specific customs compliance standards, implementing necessary security measures, and demonstrating financial solvency. Constraints could be budget limitations, timeframes, and regulatory restrictions. Principles could guide the approach towards achieving the AEO accreditation, and drivers could be factors prompting the organization to seek the accreditation.

The relationships between these elements would illustrate the cause-and-effect dynamics within the organization's strategic planning towards the AEO accreditation. For example, the management team (stakeholder) could be driven by the need to enhance customs efficiency (driver) and therefore sets a goal to achieve the AEO accreditation. To achieve this goal, they would need to meet specific customs compliance standards (requirement), guided by certain principles and within certain constraints.

The motivation aspect of the view would highlight why certain decisions are made, what goals are set, and how different elements are prioritized. It would provide insights into the underlying reasons behind the organization's strategic direction towards achieving the AEO accreditation.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-14de6d78ad1c44e29339045245d69d48.html" target="element"> Authorised Economic Operator accreditation </a> </td>
									           <td> <a href="../objects/id-14de6d78ad1c44e29339045245d69d48.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-24d2094540d24a4f8908a208ba775981.html" target="element"> Authorised Economic Operator accreditation </a> </td>
													    <td> <a href="../elements/id-24d2094540d24a4f8908a208ba775981.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f76624b4b48944089597e91008551a98.html" target="element"> Economic Operators Registry management </a> </td>
													    <td> <a href="../elements/id-f76624b4b48944089597e91008551a98.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html" target="element"> Economic Operator management and accreditation </a> </td>
													    <td> <a href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element"> Economic Operators Registration and Identification number (EORI) </a> </td>
													    <td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element"> Customs partners Information </a> </td>
													    <td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
													    <td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-63523b1dd2fc490b938ba292f7855200.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63523b1dd2fc490b938ba292f7855200.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f76624b4b48944089597e91008551a98.html" target="element"> Economic Operators Registry management </a> </td>
																				<td> <a href="../elements/id-24d2094540d24a4f8908a208ba775981.html" target="element"> Authorised Economic Operator accreditation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0a589638301f45aa8e6aee085ab0fdbc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0a589638301f45aa8e6aee085ab0fdbc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f76624b4b48944089597e91008551a98.html" target="element"> Economic Operators Registry management </a> </td>
																				<td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element"> Economic Operators Registration and Identification number (EORI) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6449fb411e7b452e9993599a73a4245c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6449fb411e7b452e9993599a73a4245c.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f76624b4b48944089597e91008551a98.html" target="element"> Economic Operators Registry management </a> </td>
																				<td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element"> Customs partners Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9bab67270781458186fbb305f62fad20.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9bab67270781458186fbb305f62fad20.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f76624b4b48944089597e91008551a98.html" target="element"> Economic Operators Registry management </a> </td>
																				<td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-45964303892244bdb4bf9a6e9a0c9b7e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45964303892244bdb4bf9a6e9a0c9b7e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html" target="element"> Economic Operator management and accreditation </a> </td>
																				<td> <a href="../elements/id-24d2094540d24a4f8908a208ba775981.html" target="element"> Authorised Economic Operator accreditation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5be2d8e3f7ef4fcaaaf1ee6e3413d1a8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5be2d8e3f7ef4fcaaaf1ee6e3413d1a8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html" target="element"> Economic Operator management and accreditation </a> </td>
																				<td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-781cf9913c0b4493a42253dfd48bd209.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-781cf9913c0b4493a42253dfd48bd209.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html" target="element"> Economic Operator management and accreditation </a> </td>
																				<td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element"> Economic Operators Registration and Identification number (EORI) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-818ac2b386f846c59ca240e09573dd48.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-818ac2b386f846c59ca240e09573dd48.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html" target="element"> Economic Operator management and accreditation </a> </td>
																				<td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element"> Customs partners Information </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>