<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Customs Compliance and Regulatory Requirements Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Customs Compliance and Regulatory Requirements Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fef019cd8bb2482e9d52d570e5f9d024.png" alt="TVA-Customs Compliance and Regulatory Requirements Enablers [Motivation]" usemap="#id-fef019cd8bb2482e9d52d570e5f9d024map"/>
			   <map name="id-fef019cd8bb2482e9d52d570e5f9d024map">
				  				<area shape="rect" coords="58,353,239,413" href="../elements/id-e91a0ac9d844442a9f963e3fb67137c7.html"  target="element">
				  				<area shape="rect" coords="58,294,239,354" href="../elements/id-8d70e48c3f164ba3bf3b37087521a13e.html"  target="element">
				  				<area shape="rect" coords="58,235,239,295" href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html"  target="element">
				  				<area shape="rect" coords="58,176,239,236" href="../elements/id-58359e31c8eb4b9cb20e7543bb20471d.html"  target="element">
				  				<area shape="rect" coords="58,58,239,118" href="../elements/id-f76624b4b48944089597e91008551a98.html"  target="element">
				  				<area shape="rect" coords="58,117,239,177" href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html"  target="element">

				          <area shape="rect" coords="10,10,290,502" href="../objects/id-4b8c2aff7a044c24a5315fd839472562.html" target="element" >
				  				<area shape="rect" coords="515,402,671,474" href="../elements/id-89cd5ba4c17d40c48032346c15a8fb7c.html"  target="element">
				  				<area shape="rect" coords="515,331,671,403" href="../elements/id-afbada366ec743f09bf6cf9c98b3f6a7.html"  target="element">
				  				<area shape="rect" coords="515,189,671,261" href="../elements/id-79630a8a3da14932aff35c6bb5e675b7.html"  target="element">
				  				<area shape="rect" coords="515,118,671,190" href="../elements/id-31dae81919cc478a963875e65b4265f1.html"  target="element">
				  				<area shape="rect" coords="515,260,671,332" href="../elements/id-734e3702946142788c1beb4ef0ae9c31.html"  target="element">
				  				<area shape="rect" coords="515,46,671,118" href="../elements/id-155e35654254404187a7a289a0956221.html"  target="element">

				  		<area shape="rect" coords="478,10,706,502" href="../elements/id-76d190a50e3544f9b7918a8c2da1ae4c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Customs Compliance and Regulatory Requirements Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging digital technologies to streamline and automate customs procedures, ensuring compliance with regulatory requirements.

The view is divided into two main groups: "Customs Compliance and Regulatory Requirements Enablers" and "Customs Digital Public Services". 

The first group, "Customs Compliance and Regulatory Requirements Enablers", consists of six Application Service ABBs: "Special procedure", "Export procedure", "Transit procedure", "Import procedure", "Authorised Economic Operator accreditation", and "Compliance requirements checks". These services represent the implementation of digital platforms and systems designed to automate and streamline various customs procedures, ranging from special procedures that deviate from standard import/export processes to the management of compliance requirements checks. 

For example, the "Export procedure" and "Import procedure" services enable traders to electronically submit export and import declarations, relevant documentation, and trade data through a centralized online platform. These digital solutions automate customs processes such as document verification, risk assessment, and export or import clearance, facilitating electronic communication and data exchange between traders and customs authorities. 

The second group, "Customs Digital Public Services", includes six Business Service ABBs: "Economic Operator management and accreditation", "Economic Operators Registry management", "Compliance verification management", "Procedure Automation System", "Procedures registry management", and "Computerised Transit". These services represent various digital public services provided by customs, such as the management and accreditation of economic operators, the management of compliance verification, and the automation of procedures.

The motivation behind this view is to leverage digital technologies to enhance trade facilitation, ensure compliance with customs regulations, and promote efficient and secure cross-border trade within the customs environment. By reducing paperwork, improving accuracy, and expediting procedures, these digital solutions contribute to a more efficient and effective customs environment.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-76d190a50e3544f9b7918a8c2da1ae4c.html" target="element"> Customs Compliance and Regulatory Requirements Enablers </a> </td>
											    <td> <a href="../elements/id-76d190a50e3544f9b7918a8c2da1ae4c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-155e35654254404187a7a289a0956221.html" target="element"> Special procedure </a> </td>
													    <td> <a href="../elements/id-155e35654254404187a7a289a0956221.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-734e3702946142788c1beb4ef0ae9c31.html" target="element"> Export procedure </a> </td>
													    <td> <a href="../elements/id-734e3702946142788c1beb4ef0ae9c31.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-31dae81919cc478a963875e65b4265f1.html" target="element"> Transit procedure </a> </td>
													    <td> <a href="../elements/id-31dae81919cc478a963875e65b4265f1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79630a8a3da14932aff35c6bb5e675b7.html" target="element"> Import procedure </a> </td>
													    <td> <a href="../elements/id-79630a8a3da14932aff35c6bb5e675b7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-afbada366ec743f09bf6cf9c98b3f6a7.html" target="element"> Authorised Economic Operator accreditation </a> </td>
													    <td> <a href="../elements/id-afbada366ec743f09bf6cf9c98b3f6a7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-89cd5ba4c17d40c48032346c15a8fb7c.html" target="element"> Compliance requirements checks </a> </td>
													    <td> <a href="../elements/id-89cd5ba4c17d40c48032346c15a8fb7c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-4b8c2aff7a044c24a5315fd839472562.html" target="element"> Customs Digital Public Services </a> </td>
									           <td> <a href="../objects/id-4b8c2aff7a044c24a5315fd839472562.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html" target="element"> Economic Operator management and accreditation </a> </td>
													    <td> <a href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f76624b4b48944089597e91008551a98.html" target="element"> Economic Operators Registry management </a> </td>
													    <td> <a href="../elements/id-f76624b4b48944089597e91008551a98.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58359e31c8eb4b9cb20e7543bb20471d.html" target="element"> Compliance verification management </a> </td>
													    <td> <a href="../elements/id-58359e31c8eb4b9cb20e7543bb20471d.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html" target="element"> Procedure Automation System </a> </td>
													    <td> <a href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d70e48c3f164ba3bf3b37087521a13e.html" target="element"> Procedures registry management </a> </td>
													    <td> <a href="../elements/id-8d70e48c3f164ba3bf3b37087521a13e.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e91a0ac9d844442a9f963e3fb67137c7.html" target="element"> Computerised Transit </a> </td>
													    <td> <a href="../elements/id-e91a0ac9d844442a9f963e3fb67137c7.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6716cc730e5244c3bf16e873e977ae61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6716cc730e5244c3bf16e873e977ae61.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76d190a50e3544f9b7918a8c2da1ae4c.html" target="element"> Customs Compliance and Regulatory Requirements Enablers </a> </td>
																		<td> <a href="../elements/id-155e35654254404187a7a289a0956221.html" target="element"> Special procedure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba25eb1fd86040ddbc49cb455fd531b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba25eb1fd86040ddbc49cb455fd531b4.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76d190a50e3544f9b7918a8c2da1ae4c.html" target="element"> Customs Compliance and Regulatory Requirements Enablers </a> </td>
																		<td> <a href="../elements/id-79630a8a3da14932aff35c6bb5e675b7.html" target="element"> Import procedure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80ae9d8248104a6d97e2bbce3c99d57e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80ae9d8248104a6d97e2bbce3c99d57e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76d190a50e3544f9b7918a8c2da1ae4c.html" target="element"> Customs Compliance and Regulatory Requirements Enablers </a> </td>
																		<td> <a href="../elements/id-89cd5ba4c17d40c48032346c15a8fb7c.html" target="element"> Compliance requirements checks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b1ff3f5a06a4b92b54704aaf0754f3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b1ff3f5a06a4b92b54704aaf0754f3d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76d190a50e3544f9b7918a8c2da1ae4c.html" target="element"> Customs Compliance and Regulatory Requirements Enablers </a> </td>
																		<td> <a href="../elements/id-31dae81919cc478a963875e65b4265f1.html" target="element"> Transit procedure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8102b8de00cf430ea1efed6ef0d2384d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8102b8de00cf430ea1efed6ef0d2384d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76d190a50e3544f9b7918a8c2da1ae4c.html" target="element"> Customs Compliance and Regulatory Requirements Enablers </a> </td>
																		<td> <a href="../elements/id-afbada366ec743f09bf6cf9c98b3f6a7.html" target="element"> Authorised Economic Operator accreditation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-733e26e0465a4cc6ac90700a78187944.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-733e26e0465a4cc6ac90700a78187944.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-76d190a50e3544f9b7918a8c2da1ae4c.html" target="element"> Customs Compliance and Regulatory Requirements Enablers </a> </td>
																		<td> <a href="../elements/id-734e3702946142788c1beb4ef0ae9c31.html" target="element"> Export procedure </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-67651952fc274bbd9a3f1a8e8d5e68a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-67651952fc274bbd9a3f1a8e8d5e68a9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-155e35654254404187a7a289a0956221.html" target="element"> Special procedure </a> </td>
																				<td> <a href="../elements/id-8d70e48c3f164ba3bf3b37087521a13e.html" target="element"> Procedures registry management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bf5aa62408b84e2f90f0c41c3ba3943f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf5aa62408b84e2f90f0c41c3ba3943f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-155e35654254404187a7a289a0956221.html" target="element"> Special procedure </a> </td>
																				<td> <a href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html" target="element"> Procedure Automation System </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e392c8e300bd48efacfa8ce8db2fb01c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e392c8e300bd48efacfa8ce8db2fb01c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-734e3702946142788c1beb4ef0ae9c31.html" target="element"> Export procedure </a> </td>
																				<td> <a href="../elements/id-8d70e48c3f164ba3bf3b37087521a13e.html" target="element"> Procedures registry management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-84d2c63d8e65491f935811237ca98947.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-84d2c63d8e65491f935811237ca98947.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-734e3702946142788c1beb4ef0ae9c31.html" target="element"> Export procedure </a> </td>
																				<td> <a href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html" target="element"> Procedure Automation System </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7237a1ac0a604a238fbb1c91e9867fa6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7237a1ac0a604a238fbb1c91e9867fa6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31dae81919cc478a963875e65b4265f1.html" target="element"> Transit procedure </a> </td>
																				<td> <a href="../elements/id-e91a0ac9d844442a9f963e3fb67137c7.html" target="element"> Computerised Transit </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-41db8f45c8724935b6bfba5b13042e50.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41db8f45c8724935b6bfba5b13042e50.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-79630a8a3da14932aff35c6bb5e675b7.html" target="element"> Import procedure </a> </td>
																				<td> <a href="../elements/id-8d70e48c3f164ba3bf3b37087521a13e.html" target="element"> Procedures registry management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-afa3a47fe959464888c9b7f81706275c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-afa3a47fe959464888c9b7f81706275c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-79630a8a3da14932aff35c6bb5e675b7.html" target="element"> Import procedure </a> </td>
																				<td> <a href="../elements/id-245b1f8bbaf343a09ad6f8d1ccb5975f.html" target="element"> Procedure Automation System </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-207a676220ee45c59af0c08a80465ccc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-207a676220ee45c59af0c08a80465ccc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-afbada366ec743f09bf6cf9c98b3f6a7.html" target="element"> Authorised Economic Operator accreditation </a> </td>
																				<td> <a href="../elements/id-f76624b4b48944089597e91008551a98.html" target="element"> Economic Operators Registry management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-679c395766a34b698f72c1eda93d578e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-679c395766a34b698f72c1eda93d578e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-afbada366ec743f09bf6cf9c98b3f6a7.html" target="element"> Authorised Economic Operator accreditation </a> </td>
																				<td> <a href="../elements/id-486c96dfe9f6491da8af0b21dd2bfc02.html" target="element"> Economic Operator management and accreditation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c7b982a37a6a4fdba34302faeef758d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c7b982a37a6a4fdba34302faeef758d1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-89cd5ba4c17d40c48032346c15a8fb7c.html" target="element"> Compliance requirements checks </a> </td>
																				<td> <a href="../elements/id-58359e31c8eb4b9cb20e7543bb20471d.html" target="element"> Compliance verification management </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>