<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SV-Customs Datasets [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SV-Customs Datasets [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f8f72c51e9d840ef9a67523bfddd13fe.png" alt="SV-Customs Datasets [Motivation]" usemap="#id-f8f72c51e9d840ef9a67523bfddd13femap"/>
			   <map name="id-f8f72c51e9d840ef9a67523bfddd13femap">
				  				<area shape="rect" coords="1258,762,1430,822" href="../elements/id-bb81f13a41a6433f9cb06cd5ad830a2b.html"  target="element">
				  				<area shape="rect" coords="1498,762,1670,822" href="../elements/id-61abdb4b12e84ac092a8716e49f33295.html"  target="element">

				  		<area shape="rect" coords="1234,718,1694,851" href="../elements/id-39a3528552f14f5a80416ec3f0b3d97e.html"  target="element">
				  		<area shape="rect" coords="678,10,866,105" href="../elements/id-9b0aa471a9ef4376ae42b9124b084597.html"  target="element">
				  				<area shape="rect" coords="658,1206,838,1266" href="../elements/id-815fc5f7cff041d9b84be871d53ab19f.html"  target="element">
				  				<area shape="rect" coords="658,1265,838,1325" href="../elements/id-5eebd66019fd47e7977f8a3c03b868eb.html"  target="element">
				  				<area shape="rect" coords="658,202,838,262" href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html"  target="element">
				  				<area shape="rect" coords="658,1147,838,1207" href="../elements/id-82d0929053b9470b9620a87cf8487d85.html"  target="element">
				  				<area shape="rect" coords="658,1088,838,1148" href="../elements/id-52d12e6242514ab38d35b918f49b55ab.html"  target="element">
				  				<area shape="rect" coords="658,1029,838,1089" href="../elements/id-70f860513579401580c4a263c7359668.html"  target="element">
				  				<area shape="rect" coords="658,970,838,1030" href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html"  target="element">
				  				<area shape="rect" coords="658,911,838,971" href="../elements/id-a9cd369adf29473e89b049446cb41123.html"  target="element">
				  				<area shape="rect" coords="658,852,838,912" href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html"  target="element">
				  				<area shape="rect" coords="658,734,838,794" href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html"  target="element">
				  				<area shape="rect" coords="658,793,838,853" href="../elements/id-d3626fbebfd2422eb477d9ea2a92072c.html"  target="element">
				  				<area shape="rect" coords="658,616,838,676" href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html"  target="element">
				  				<area shape="rect" coords="658,675,838,735" href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html"  target="element">
				  				<area shape="rect" coords="658,557,838,617" href="../elements/id-63b5b9709fc74770b77cdae978d1448b.html"  target="element">
				  				<area shape="rect" coords="658,498,838,558" href="../elements/id-3dbc0ee3241f4879a2ac86981b1aecf4.html"  target="element">
				  				<area shape="rect" coords="658,439,838,499" href="../elements/id-70d147abd538471181e6d88642c24fa2.html"  target="element">
				  				<area shape="rect" coords="658,380,838,440" href="../elements/id-3d0bc5781d9343f4b9bc73a36eb5d8ed.html"  target="element">
				  				<area shape="rect" coords="658,321,838,381" href="../elements/id-0c7f1564065343b08792b7954cf40a27.html"  target="element">
				  				<area shape="rect" coords="658,262,838,322" href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html"  target="element">

				          <area shape="rect" coords="598,154,946,1474" href="../objects/id-20b58a982c184c2f877f937e8901cb84.html" target="element" >
				  				<area shape="rect" coords="46,678,218,738" href="../elements/id-1dce1fbc9ee144d8ad650be5ac047893.html"  target="element">
				  				<area shape="rect" coords="46,610,218,670" href="../elements/id-0713e9214335436bb683e2273c2dc10b.html"  target="element">
				  				<area shape="rect" coords="46,1030,218,1090" href="../elements/id-dfe2c85dd0874ab5ad44edd5f40a783e.html"  target="element">
				  				<area shape="rect" coords="46,742,218,802" href="../elements/id-70f17c21b27742ed83fe938b28ba29fc.html"  target="element">
				  				<area shape="rect" coords="46,1246,218,1306" href="../elements/id-92b8c201ecd34fd1a6d442efb918067b.html"  target="element">
				  				<area shape="rect" coords="46,545,218,605" href="../elements/id-400e0754219744e2affaabe314e349af.html"  target="element">
				  				<area shape="rect" coords="46,1102,218,1162" href="../elements/id-b5b42c65065641619159b6cb83338c4d.html"  target="element">
				  				<area shape="rect" coords="46,886,218,946" href="../elements/id-cce66d407ee341589f27c463cb69ce10.html"  target="element">
				  				<area shape="rect" coords="46,958,218,1018" href="../elements/id-a5b11ca2dbcc4df0b3cf3f7243c03ffa.html"  target="element">
				  				<area shape="rect" coords="46,476,218,536" href="../elements/id-a9806ce800914a22a73ce51bd8bd79e9.html"  target="element">
				  				<area shape="rect" coords="46,1174,218,1234" href="../elements/id-e692e98ddf914fe89f01916b2bfb7e40.html"  target="element">
				  				<area shape="rect" coords="46,814,218,874" href="../elements/id-e310882df516480b9d2dfbf26776ed6d.html"  target="element">
				  				<area shape="rect" coords="46,407,218,467" href="../elements/id-98c9a405e8764a68b5d2c96c5320ad57.html"  target="element">
				  				<area shape="rect" coords="46,1318,218,1378" href="../elements/id-3dc0bb0fec4a454c98e6d9a62a5c5b89.html"  target="element">
				  				<area shape="rect" coords="46,334,218,394" href="../elements/id-dc9543b6931c4f9297699776292ade35.html"  target="element">

				  		<area shape="rect" coords="10,226,274,1475" href="../elements/id-1c5440177097452a979345b77f732b28.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The SV-Customs Datasets [Motivation] view extends Semantic view and provides a comprehensive framework for leveraging various elements related to customs data. This view is composed of four main elements: "Customs Dataset Catalogue", "Customs Information Base", "Dataset", and "Customs Dataset Solutions".

The "Customs Dataset Catalogue" is a Grouping ABB that consists of multiple Data Object ABBs. These include "Customs statistical metadata on goods imported", "Applications and Requests metadata", "Laboratory reports index", "Tariffs metadata", "Risk metadata", "Origins metadata", "Cargo metadata", "Declarations metadata", "Intra-EU purchases and sales metadata", "Goods taxonomy metadata", "Notifications metadata", "Procedures metadata", "Customs statistical metadata on goods exported", "Goods metadata", and "Laboratories testing metadata". Each of these data objects represents a specific type of metadata related to customs operations.

The "Customs Information Base" is a Diagram Model-group ABB that contains various Business Object ABBs. These include "Economic Operators Registration and Identification number (EORI)", "Free circulation requirement information", "Laboratories information", "Imports information", "Combined nomenclature", "Special Procedures Information", "Customs partners Information", "Exports information", "Binding Tariffs Information", "Workforce information", "Economic value Information", "Internal logistic Information", "Origin of goods Information", "Guarantee Information", "Classification of goods Information", "Threads and fraudulent actions Information", "Economic Operators Information", "Temporary storage Information", and "Duties calculation Information". Each of these business objects represents a specific type of information related to customs operations.

The "Dataset" is a Data Object ABB that represents a collection of related data organized and presented in a structured format. This element provides a general representation of datasets in the context of customs operations.

The "Customs Dataset Solutions" is a Grouping ABB that includes two Data Object SBBs: "EORI metadata" and "Economic operators metadata". These data objects represent specific types of metadata related to customs dataset solutions.

The relationships between these elements are not explicitly defined in the JSON. However, it can be inferred that the "Customs Dataset Catalogue" and "Customs Dataset Solutions" are related to the "Dataset" as they provide specific types of metadata for datasets. Similarly, the "Customs Information Base" can be related to the "Dataset" as it provides specific types of information that can be included in datasets. The motivation behind these elements and their relationships is to provide a comprehensive and structured representation of customs data, which can be leveraged for various customs operations and solutions.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
											    <td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dc9543b6931c4f9297699776292ade35.html" target="element"> Customs statistical metadata on goods imported </a> </td>
													    <td> <a href="../elements/id-dc9543b6931c4f9297699776292ade35.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3dc0bb0fec4a454c98e6d9a62a5c5b89.html" target="element"> Applications and Requests metadata </a> </td>
													    <td> <a href="../elements/id-3dc0bb0fec4a454c98e6d9a62a5c5b89.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-98c9a405e8764a68b5d2c96c5320ad57.html" target="element"> Laboratory reports index </a> </td>
													    <td> <a href="../elements/id-98c9a405e8764a68b5d2c96c5320ad57.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e310882df516480b9d2dfbf26776ed6d.html" target="element"> Tariffs metadata </a> </td>
													    <td> <a href="../elements/id-e310882df516480b9d2dfbf26776ed6d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e692e98ddf914fe89f01916b2bfb7e40.html" target="element"> Risk metadata </a> </td>
													    <td> <a href="../elements/id-e692e98ddf914fe89f01916b2bfb7e40.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a9806ce800914a22a73ce51bd8bd79e9.html" target="element"> Origins metadata </a> </td>
													    <td> <a href="../elements/id-a9806ce800914a22a73ce51bd8bd79e9.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a5b11ca2dbcc4df0b3cf3f7243c03ffa.html" target="element"> Cargo metadata </a> </td>
													    <td> <a href="../elements/id-a5b11ca2dbcc4df0b3cf3f7243c03ffa.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cce66d407ee341589f27c463cb69ce10.html" target="element"> Declarations metadata </a> </td>
													    <td> <a href="../elements/id-cce66d407ee341589f27c463cb69ce10.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b5b42c65065641619159b6cb83338c4d.html" target="element"> Intra-EU purchases and sales metadata </a> </td>
													    <td> <a href="../elements/id-b5b42c65065641619159b6cb83338c4d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-400e0754219744e2affaabe314e349af.html" target="element"> Goods taxonomy metadata </a> </td>
													    <td> <a href="../elements/id-400e0754219744e2affaabe314e349af.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-92b8c201ecd34fd1a6d442efb918067b.html" target="element"> Notifications metadata </a> </td>
													    <td> <a href="../elements/id-92b8c201ecd34fd1a6d442efb918067b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70f17c21b27742ed83fe938b28ba29fc.html" target="element"> Procedures metadata </a> </td>
													    <td> <a href="../elements/id-70f17c21b27742ed83fe938b28ba29fc.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dfe2c85dd0874ab5ad44edd5f40a783e.html" target="element"> Customs statistical metadata on goods exported </a> </td>
													    <td> <a href="../elements/id-dfe2c85dd0874ab5ad44edd5f40a783e.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0713e9214335436bb683e2273c2dc10b.html" target="element"> Goods metadata </a> </td>
													    <td> <a href="../elements/id-0713e9214335436bb683e2273c2dc10b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1dce1fbc9ee144d8ad650be5ac047893.html" target="element"> Laboratories testing metadata </a> </td>
													    <td> <a href="../elements/id-1dce1fbc9ee144d8ad650be5ac047893.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-20b58a982c184c2f877f937e8901cb84.html" target="element"> Customs Information Base </a> </td>
									           <td> <a href="../objects/id-20b58a982c184c2f877f937e8901cb84.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element"> Economic Operators Registration and Identification number (EORI) </a> </td>
													    <td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0c7f1564065343b08792b7954cf40a27.html" target="element"> Free circulation requirement information </a> </td>
													    <td> <a href="../elements/id-0c7f1564065343b08792b7954cf40a27.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d0bc5781d9343f4b9bc73a36eb5d8ed.html" target="element"> Laboratories information </a> </td>
													    <td> <a href="../elements/id-3d0bc5781d9343f4b9bc73a36eb5d8ed.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70d147abd538471181e6d88642c24fa2.html" target="element"> Imports information </a> </td>
													    <td> <a href="../elements/id-70d147abd538471181e6d88642c24fa2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3dbc0ee3241f4879a2ac86981b1aecf4.html" target="element"> Combined nomenclature </a> </td>
													    <td> <a href="../elements/id-3dbc0ee3241f4879a2ac86981b1aecf4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-63b5b9709fc74770b77cdae978d1448b.html" target="element"> Special Procedures Information </a> </td>
													    <td> <a href="../elements/id-63b5b9709fc74770b77cdae978d1448b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element"> Customs partners Information </a> </td>
													    <td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html" target="element"> Exports information </a> </td>
													    <td> <a href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d3626fbebfd2422eb477d9ea2a92072c.html" target="element"> Binding Tariffs Information </a> </td>
													    <td> <a href="../elements/id-d3626fbebfd2422eb477d9ea2a92072c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element"> Workforce information </a> </td>
													    <td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html" target="element"> Economic value Information </a> </td>
													    <td> <a href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a9cd369adf29473e89b049446cb41123.html" target="element"> Internal logistic Information </a> </td>
													    <td> <a href="../elements/id-a9cd369adf29473e89b049446cb41123.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html" target="element"> Origin of goods Information </a> </td>
													    <td> <a href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70f860513579401580c4a263c7359668.html" target="element"> Guarantee Information </a> </td>
													    <td> <a href="../elements/id-70f860513579401580c4a263c7359668.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52d12e6242514ab38d35b918f49b55ab.html" target="element"> Classification of goods Information </a> </td>
													    <td> <a href="../elements/id-52d12e6242514ab38d35b918f49b55ab.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-82d0929053b9470b9620a87cf8487d85.html" target="element"> Threads and fraudulent actions Information </a> </td>
													    <td> <a href="../elements/id-82d0929053b9470b9620a87cf8487d85.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
													    <td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5eebd66019fd47e7977f8a3c03b868eb.html" target="element"> Temporary storage Information </a> </td>
													    <td> <a href="../elements/id-5eebd66019fd47e7977f8a3c03b868eb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-815fc5f7cff041d9b84be871d53ab19f.html" target="element"> Duties calculation Information </a> </td>
													    <td> <a href="../elements/id-815fc5f7cff041d9b84be871d53ab19f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9b0aa471a9ef4376ae42b9124b084597.html" target="element"> Dataset </a> </td>
											    <td> <a href="../elements/id-9b0aa471a9ef4376ae42b9124b084597.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39a3528552f14f5a80416ec3f0b3d97e.html" target="element"> Customs Dataset Solutions </a> </td>
											    <td> <a href="../elements/id-39a3528552f14f5a80416ec3f0b3d97e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-61abdb4b12e84ac092a8716e49f33295.html" target="element"> EORI metadata </a> </td>
													    <td> <a href="../elements/id-61abdb4b12e84ac092a8716e49f33295.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bb81f13a41a6433f9cb06cd5ad830a2b.html" target="element"> Economic operators metadata </a> </td>
													    <td> <a href="../elements/id-bb81f13a41a6433f9cb06cd5ad830a2b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-49bc3f8a76bb4ed690410ddca1df244e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49bc3f8a76bb4ed690410ddca1df244e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-e310882df516480b9d2dfbf26776ed6d.html" target="element"> Tariffs metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b8ea4e2a0694583a94612643a429c2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b8ea4e2a0694583a94612643a429c2b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-a5b11ca2dbcc4df0b3cf3f7243c03ffa.html" target="element"> Cargo metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2808420b5e3942218a0e27fef74412e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2808420b5e3942218a0e27fef74412e6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-3dc0bb0fec4a454c98e6d9a62a5c5b89.html" target="element"> Applications and Requests metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-359186b745834407b066281d4c25e654.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-359186b745834407b066281d4c25e654.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-0713e9214335436bb683e2273c2dc10b.html" target="element"> Goods metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-082e572609604e8cbcaa5368b3bbd906.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-082e572609604e8cbcaa5368b3bbd906.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-1dce1fbc9ee144d8ad650be5ac047893.html" target="element"> Laboratories testing metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be5a1f57ae1746e4965daadf0f68d883.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be5a1f57ae1746e4965daadf0f68d883.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-70f17c21b27742ed83fe938b28ba29fc.html" target="element"> Procedures metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7cbe33d8fca046e994effcab529083c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cbe33d8fca046e994effcab529083c8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-cce66d407ee341589f27c463cb69ce10.html" target="element"> Declarations metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80199ed6b5404aaa8401f4740ed3d149.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80199ed6b5404aaa8401f4740ed3d149.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-dfe2c85dd0874ab5ad44edd5f40a783e.html" target="element"> Customs statistical metadata on goods exported </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1779337642824670aa8f59932fd2af22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1779337642824670aa8f59932fd2af22.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-98c9a405e8764a68b5d2c96c5320ad57.html" target="element"> Laboratory reports index </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49a3d85152ba4a65818b8574361d38d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49a3d85152ba4a65818b8574361d38d1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-e692e98ddf914fe89f01916b2bfb7e40.html" target="element"> Risk metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-18c422f829e4419aa770889a22ed3e8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18c422f829e4419aa770889a22ed3e8c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-92b8c201ecd34fd1a6d442efb918067b.html" target="element"> Notifications metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4090fae60a934419b7286d461d05b5b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4090fae60a934419b7286d461d05b5b3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-400e0754219744e2affaabe314e349af.html" target="element"> Goods taxonomy metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-58610963241845428d4f507cb099817f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58610963241845428d4f507cb099817f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-a9806ce800914a22a73ce51bd8bd79e9.html" target="element"> Origins metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a68ca45867124871a515a666e2aaf8e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a68ca45867124871a515a666e2aaf8e6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-dc9543b6931c4f9297699776292ade35.html" target="element"> Customs statistical metadata on goods imported </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e2beb0ebbea24d42b07dee62fe7225dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e2beb0ebbea24d42b07dee62fe7225dc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-b5b42c65065641619159b6cb83338c4d.html" target="element"> Intra-EU purchases and sales metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e4512a2e2624499b891ef9b3fb37563.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e4512a2e2624499b891ef9b3fb37563.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c5440177097452a979345b77f732b28.html" target="element"> Customs Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-9b0aa471a9ef4376ae42b9124b084597.html" target="element"> Dataset </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-45dafe2c30bf4374b0f72bb7b50c55d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45dafe2c30bf4374b0f72bb7b50c55d1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dc9543b6931c4f9297699776292ade35.html" target="element"> Customs statistical metadata on goods imported </a> </td>
																				<td> <a href="../elements/id-135935fbc0174b5ebe3168930e7a11f6.html" target="element"> Exports information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4542dfacda894441b2b514ab544dbf37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4542dfacda894441b2b514ab544dbf37.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dc9543b6931c4f9297699776292ade35.html" target="element"> Customs statistical metadata on goods imported </a> </td>
																				<td> <a href="../elements/id-70d147abd538471181e6d88642c24fa2.html" target="element"> Imports information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c990dd14f2174440b1cc4fdb7688765c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c990dd14f2174440b1cc4fdb7688765c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98c9a405e8764a68b5d2c96c5320ad57.html" target="element"> Laboratory reports index </a> </td>
																				<td> <a href="../elements/id-3d0bc5781d9343f4b9bc73a36eb5d8ed.html" target="element"> Laboratories information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-01b067d2f069458e9353b540248ed728.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-01b067d2f069458e9353b540248ed728.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e310882df516480b9d2dfbf26776ed6d.html" target="element"> Tariffs metadata </a> </td>
																				<td> <a href="../elements/id-d3626fbebfd2422eb477d9ea2a92072c.html" target="element"> Binding Tariffs Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9e99a7306c3a4d0db40da230a3b6491e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e99a7306c3a4d0db40da230a3b6491e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e692e98ddf914fe89f01916b2bfb7e40.html" target="element"> Risk metadata </a> </td>
																				<td> <a href="../elements/id-82d0929053b9470b9620a87cf8487d85.html" target="element"> Threads and fraudulent actions Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-adb4e9076f1041b7bfc483977917998c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-adb4e9076f1041b7bfc483977917998c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a9806ce800914a22a73ce51bd8bd79e9.html" target="element"> Origins metadata </a> </td>
																				<td> <a href="../elements/id-5da84e7ba4d74123867627a3d380caa8.html" target="element"> Origin of goods Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ece85db9e72947bab8faf6c5444ca1a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ece85db9e72947bab8faf6c5444ca1a0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b5b42c65065641619159b6cb83338c4d.html" target="element"> Intra-EU purchases and sales metadata </a> </td>
																				<td> <a href="../elements/id-347ec17891754106b0dd7fbda7442fbe.html" target="element"> Economic value Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9c4654cab5774b6fb75871e337ca6262.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c4654cab5774b6fb75871e337ca6262.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-400e0754219744e2affaabe314e349af.html" target="element"> Goods taxonomy metadata </a> </td>
																				<td> <a href="../elements/id-3dbc0ee3241f4879a2ac86981b1aecf4.html" target="element"> Combined nomenclature </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-053a4347475744a69daee558fd770bbe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-053a4347475744a69daee558fd770bbe.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-400e0754219744e2affaabe314e349af.html" target="element"> Goods taxonomy metadata </a> </td>
																				<td> <a href="../elements/id-52d12e6242514ab38d35b918f49b55ab.html" target="element"> Classification of goods Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e68322a227ae4e59818590519cad945a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e68322a227ae4e59818590519cad945a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-70f17c21b27742ed83fe938b28ba29fc.html" target="element"> Procedures metadata </a> </td>
																				<td> <a href="../elements/id-63b5b9709fc74770b77cdae978d1448b.html" target="element"> Special Procedures Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b7b60a5e666648b8b2462c56fa6c9b0b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b7b60a5e666648b8b2462c56fa6c9b0b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0713e9214335436bb683e2273c2dc10b.html" target="element"> Goods metadata </a> </td>
																				<td> <a href="../elements/id-52d12e6242514ab38d35b918f49b55ab.html" target="element"> Classification of goods Information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2eecf93208304c3f95618f427dadfa31.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2eecf93208304c3f95618f427dadfa31.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0713e9214335436bb683e2273c2dc10b.html" target="element"> Goods metadata </a> </td>
																				<td> <a href="../elements/id-3dbc0ee3241f4879a2ac86981b1aecf4.html" target="element"> Combined nomenclature </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2eecf93208304c3f95618f427dadfa31.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2eecf93208304c3f95618f427dadfa31.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0713e9214335436bb683e2273c2dc10b.html" target="element"> Goods metadata </a> </td>
																				<td> <a href="../elements/id-3dbc0ee3241f4879a2ac86981b1aecf4.html" target="element"> Combined nomenclature </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2004b12c24ca42eebc228dfcc333ff32.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2004b12c24ca42eebc228dfcc333ff32.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1dce1fbc9ee144d8ad650be5ac047893.html" target="element"> Laboratories testing metadata </a> </td>
																				<td> <a href="../elements/id-3d0bc5781d9343f4b9bc73a36eb5d8ed.html" target="element"> Laboratories information </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
																	<tr>
																		<td> <a href="../elements/id-a4123c45723f4f758238a8a56929787e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a4123c45723f4f758238a8a56929787e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-39a3528552f14f5a80416ec3f0b3d97e.html" target="element"> Customs Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-9b0aa471a9ef4376ae42b9124b084597.html" target="element"> Dataset </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7df723f306e44cac8826db72ef40c17b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7df723f306e44cac8826db72ef40c17b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-39a3528552f14f5a80416ec3f0b3d97e.html" target="element"> Customs Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-61abdb4b12e84ac092a8716e49f33295.html" target="element"> EORI metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a9281b713444d3abf4d83b9a813190e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a9281b713444d3abf4d83b9a813190e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-39a3528552f14f5a80416ec3f0b3d97e.html" target="element"> Customs Dataset Solutions </a> </td>
																		<td> <a href="../elements/id-bb81f13a41a6433f9cb06cd5ad830a2b.html" target="element"> Economic operators metadata </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6605072390274a5cadd9392ddc81dd20.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6605072390274a5cadd9392ddc81dd20.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-61abdb4b12e84ac092a8716e49f33295.html" target="element"> EORI metadata </a> </td>
																				<td> <a href="../elements/id-07a2d9841a4c435490bfd0a5d1d8e862.html" target="element"> Economic Operators Registration and Identification number (EORI) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5f42762d0e1a489ab74eb7c4abd464a1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f42762d0e1a489ab74eb7c4abd464a1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-61abdb4b12e84ac092a8716e49f33295.html" target="element"> EORI metadata </a> </td>
																				<td> <a href="../elements/id-60e73edb1cf64ca1bea612e1de462467.html" target="element"> Economic Operators Information </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a7ee9ed26fb744e9bbb30b9c3361e8fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a7ee9ed26fb744e9bbb30b9c3361e8fb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb81f13a41a6433f9cb06cd5ad830a2b.html" target="element"> Economic operators metadata </a> </td>
																				<td> <a href="../elements/id-d2951b2ed4154da98391d21d98a2ebd8.html" target="element"> Workforce information </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9c8cbe1c0f454e669884a8132571a3e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c8cbe1c0f454e669884a8132571a3e0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb81f13a41a6433f9cb06cd5ad830a2b.html" target="element"> Economic operators metadata </a> </td>
																				<td> <a href="../elements/id-79d7b128bb2f43e1b7d0c8602eea04cb.html" target="element"> Customs partners Information </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>