<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TVA-Customs Identification and Access Enablers [Motivation]</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TVA-Customs Identification and Access Enablers [Motivation]</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fb16184edc5445feb3831d72d1d859c5.png" alt="TVA-Customs Identification and Access Enablers [Motivation]" usemap="#id-fb16184edc5445feb3831d72d1d859c5map"/>
			   <map name="id-fb16184edc5445feb3831d72d1d859c5map">
				  		<area shape="rect" coords="10,464,190,537" href="../elements/id-85bc79528ae24e14b0d5b15693a936c6.html"  target="element">
				  		<area shape="rect" coords="442,332,622,405" href="../elements/id-0dbb7018edd44e618ba2393f0e92c406.html"  target="element">
				  		<area shape="rect" coords="10,200,190,273" href="../elements/id-fc48a1869d0a4593a564c74a28bc4f0b.html"  target="element">
				  		<area shape="rect" coords="219,332,399,405" href="../elements/id-51f28c61c0d54ca483f9253c05497205.html"  target="element">
				  				<area shape="rect" coords="1042,225,1223,335" href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html"  target="element">
				  				<area shape="rect" coords="1702,397,1846,469" href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html"  target="element">
				  				<area shape="rect" coords="1702,306,1846,378" href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html"  target="element">
				  				<area shape="rect" coords="1702,222,1846,294" href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html"  target="element">
				  				<area shape="rect" coords="1462,378,1642,487" href="../elements/id-06948025695649e0b196c227ef468f8a.html"  target="element">
				  				<area shape="rect" coords="1462,225,1642,334" href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html"  target="element">
				  				<area shape="rect" coords="1043,381,1223,490" href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html"  target="element">
				  				<area shape="rect" coords="1258,225,1438,334" href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html"  target="element">
				  				<area shape="rect" coords="826,225,1006,334" href="../elements/id-d054fb78c5224b7f94658768cdefe273.html"  target="element">

				  		<area shape="rect" coords="802,105,1883,514" href="../elements/id-94a05c1009114f23ad15187364459a97.html"  target="element">
				  				<area shape="rect" coords="2752,381,2896,453" href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html"  target="element">
				  				<area shape="rect" coords="2584,381,2728,453" href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html"  target="element">
				  				<area shape="rect" coords="2416,381,2560,453" href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html"  target="element">
				  				<area shape="rect" coords="2416,129,2596,211" href="../elements/id-bd47121ac196462d84a775df974cd137.html"  target="element">

				  		<area shape="rect" coords="2356,105,2944,513" href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">NARRATIVE:
The TVA-Customs Identification and Access Enablers [Motivation] view extends Technical view - application and provides a comprehensive framework for leveraging various application services and components to facilitate secure identification and access within the customs domain. 

The view is divided into three main elements: 'Customs Identification and Access Solutions', 'Identification and Access Enablers', and 'EU Login' services. 

The 'Customs Identification and Access Solutions' element is a Grouping ABB that encompasses four Application Service ABBs: 'Central Uniform User Management and Digital Signature System (UUMDS)', 'TAXUD Identity Management Service', 'TAXUD Authorisation Service', and 'TAXUD Accounting Service'. These services provide functionalities such as managing authorisation assignments, managing and securing digital identities, confirming electronic identification, and tracking and recording access to resources, respectively. 

The 'Identification and Access Enablers' element is another Grouping ABB that includes a range of Application Service ABBs and Application Component ABBs. These include 'Authentication', 'Registration', 'Identification', 'Access Management' (both as a service and a component), 'Identity management', 'Authorisation', 'Accounting', and 'Request Validation'. These services and components enable secure identification, authentication, registration, access management, and request validation for users, systems, and services. 

The 'EU Login' services include 'EU Login Identification', 'EU Login Authentication', 'EU Login Request Validation', and 'EU Login Registration'. These services, classified as Application Component SBB and Application Service SBB, provide a point for user authentication to a wide range of Commission information systems. 

The motivation behind this view is to provide a comprehensive framework that enables secure identification and access within the customs domain. This is achieved through the use of various application services and components that manage and secure digital identities, confirm electronic identification, track and record access to resources, and enable secure identification, authentication, registration, access management, and request validation.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
											    <td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
													    <td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html" target="element"> TAXUD Identity Management Service </a> </td>
													    <td> <a href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html" target="element"> TAXUD Authorisation Service </a> </td>
													    <td> <a href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html" target="element"> TAXUD Accounting Service </a> </td>
													    <td> <a href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
											    <td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d054fb78c5224b7f94658768cdefe273.html" target="element"> Authentication </a> </td>
													    <td> <a href="../elements/id-d054fb78c5224b7f94658768cdefe273.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
													    <td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
													    <td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
													    <td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
													    <td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html" target="element"> Identity management </a> </td>
													    <td> <a href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
													    <td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html" target="element"> Accounting </a> </td>
													    <td> <a href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html" target="element"> Request Validation </a> </td>
													    <td> <a href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-51f28c61c0d54ca483f9253c05497205.html" target="element"> EU Login Identification </a> </td>
											    <td> <a href="../elements/id-51f28c61c0d54ca483f9253c05497205.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc48a1869d0a4593a564c74a28bc4f0b.html" target="element"> EU Login Authentication </a> </td>
											    <td> <a href="../elements/id-fc48a1869d0a4593a564c74a28bc4f0b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0dbb7018edd44e618ba2393f0e92c406.html" target="element"> EU Login Request Validation </a> </td>
											    <td> <a href="../elements/id-0dbb7018edd44e618ba2393f0e92c406.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-85bc79528ae24e14b0d5b15693a936c6.html" target="element"> EU Login Registration </a> </td>
											    <td> <a href="../elements/id-85bc79528ae24e14b0d5b15693a936c6.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-929e2b9ae518401795835125842b7b8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-929e2b9ae518401795835125842b7b8b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																		<td> <a href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html" target="element"> TAXUD Identity Management Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c948f1583b142b3934a7dc23dfbe4c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c948f1583b142b3934a7dc23dfbe4c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																		<td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1d0991dd7af48288d4640e02b43fe1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1d0991dd7af48288d4640e02b43fe1b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																		<td> <a href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html" target="element"> TAXUD Authorisation Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-166a9b75ac0346e58af7225b9dbb6c63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-166a9b75ac0346e58af7225b9dbb6c63.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d90e02767c7403ca4f80a830bb390ac.html" target="element"> Customs Identification and Access Solutions </a> </td>
																		<td> <a href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html" target="element"> TAXUD Accounting Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5d9024d52f5d49d0b0a317601c217541.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5d9024d52f5d49d0b0a317601c217541.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
																				<td> <a href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html" target="element"> TAXUD Identity Management Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5f356504defa4405914706d4227ad647.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f356504defa4405914706d4227ad647.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
																				<td> <a href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html" target="element"> TAXUD Authorisation Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-847c5565b02d4d0b9102c0d67efaa08b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-847c5565b02d4d0b9102c0d67efaa08b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
																				<td> <a href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html" target="element"> TAXUD Accounting Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9fddf0750e9140dcb644949ecdd08941.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9fddf0750e9140dcb644949ecdd08941.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd47121ac196462d84a775df974cd137.html" target="element"> Central Uniform User Management and Digital Signature System (UUM&amp;DS) </a> </td>
																				<td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2301bb071cb54f669c605f2dfcb4a006.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2301bb071cb54f669c605f2dfcb4a006.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c701ff94fd5a4bab873c16241cdc50a5.html" target="element"> TAXUD Identity Management Service </a> </td>
																				<td> <a href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html" target="element"> Identity management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c453bc96a6514e818a6938224cc01ee7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c453bc96a6514e818a6938224cc01ee7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5649949da4b34a2b8b7c5cf70c4ba068.html" target="element"> TAXUD Authorisation Service </a> </td>
																				<td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-db731f5f40ba486ba2b3ea2c6b1b59f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-db731f5f40ba486ba2b3ea2c6b1b59f5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fe44b670e46c4689aea92202b1d371fc.html" target="element"> TAXUD Accounting Service </a> </td>
																				<td> <a href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html" target="element"> Accounting </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-73b24c34fca84c2f881ec9a43bcc324f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73b24c34fca84c2f881ec9a43bcc324f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-d054fb78c5224b7f94658768cdefe273.html" target="element"> Authentication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-00f463105edd4b5daec42b3cc2e4c828.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00f463105edd4b5daec42b3cc2e4c828.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html" target="element"> Accounting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9fae5aa97bc84710b96b9ab6982ac45a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fae5aa97bc84710b96b9ab6982ac45a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-360f6d4fb10d4b7fb31e8d0c3b934c1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-360f6d4fb10d4b7fb31e8d0c3b934c1e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html" target="element"> Request Validation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-833f7aef57c643dca0a95abc5d08f4ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-833f7aef57c643dca0a95abc5d08f4ba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b03a32939cfd433ab4be9264c026bafb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b03a32939cfd433ab4be9264c026bafb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55c11ca1992e439ead3b0c00d198f594.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55c11ca1992e439ead3b0c00d198f594.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html" target="element"> Identity management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4302fc7815f4491781df1b6817c7f998.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4302fc7815f4491781df1b6817c7f998.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7cdb0035463b4eba922937b6df4926d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cdb0035463b4eba922937b6df4926d2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-94a05c1009114f23ad15187364459a97.html" target="element"> Identification and Access Enablers </a> </td>
																		<td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-44bf9bda3e1f40beb71def382f3fb5ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44bf9bda3e1f40beb71def382f3fb5ef.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html" target="element"> Request Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-08ad89fd8d3840048354f54fe0749c1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08ad89fd8d3840048354f54fe0749c1d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-256d0e3af90449cc846c4dd8c955dd3a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-256d0e3af90449cc846c4dd8c955dd3a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
																				<td> <a href="../elements/id-d054fb78c5224b7f94658768cdefe273.html" target="element"> Authentication </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c77b53fa2aa240caa8c72aafdd19d299.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c77b53fa2aa240caa8c72aafdd19d299.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-91f85fcede8642bc90b62a5d416b8954.html" target="element"> Accounting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-20cb4e3bff934bfea0b9e32bfc49dcd6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-20cb4e3bff934bfea0b9e32bfc49dcd6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-01f47c40c8e540b4a9bd2fb82affa4e2.html" target="element"> Authorisation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9d80f35de67e4dfd91679721038efa44.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9d80f35de67e4dfd91679721038efa44.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-afb0ffbe9ebe4dbfbf6d327fe15c7b7f.html" target="element"> Identity management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e98abfaa65494310b56407ca5211fc2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e98abfaa65494310b56407ca5211fc2c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-06948025695649e0b196c227ef468f8a.html" target="element"> Access Management </a> </td>
																				<td> <a href="../elements/id-e29a8b78b542436d8ffae683e23286b5.html" target="element"> Access Management </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9129d84f8eb642a19e816ccea734a74b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9129d84f8eb642a19e816ccea734a74b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51f28c61c0d54ca483f9253c05497205.html" target="element"> EU Login Identification </a> </td>
																		<td> <a href="../elements/id-85bc79528ae24e14b0d5b15693a936c6.html" target="element"> EU Login Registration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c37caddc776c4061a7df4bf24d7cdebb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c37caddc776c4061a7df4bf24d7cdebb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51f28c61c0d54ca483f9253c05497205.html" target="element"> EU Login Identification </a> </td>
																		<td> <a href="../elements/id-fc48a1869d0a4593a564c74a28bc4f0b.html" target="element"> EU Login Authentication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e4d5eaf58901437080680cb23c8ba36b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4d5eaf58901437080680cb23c8ba36b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51f28c61c0d54ca483f9253c05497205.html" target="element"> EU Login Identification </a> </td>
																		<td> <a href="../elements/id-0dbb7018edd44e618ba2393f0e92c406.html" target="element"> EU Login Request Validation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a63018e24564f1ab2ba90921e31400a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a63018e24564f1ab2ba90921e31400a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51f28c61c0d54ca483f9253c05497205.html" target="element"> EU Login Identification </a> </td>
																		<td> <a href="../elements/id-5c929001ec0349b897e1b1a92ad2dbe4.html" target="element"> Identification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ee35038b321849278412bc93bd83a6eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee35038b321849278412bc93bd83a6eb.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc48a1869d0a4593a564c74a28bc4f0b.html" target="element"> EU Login Authentication </a> </td>
																		<td> <a href="../elements/id-d054fb78c5224b7f94658768cdefe273.html" target="element"> Authentication </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ee94b8ed8e0547f5b81d884c3a25cd82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee94b8ed8e0547f5b81d884c3a25cd82.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0dbb7018edd44e618ba2393f0e92c406.html" target="element"> EU Login Request Validation </a> </td>
																		<td> <a href="../elements/id-9471d2230cb34c8abb84262ef5251bfc.html" target="element"> Request Validation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f7b9d04ae4634f4f8b67745fbf18ba21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7b9d04ae4634f4f8b67745fbf18ba21.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-85bc79528ae24e14b0d5b15693a936c6.html" target="element"> EU Login Registration </a> </td>
																		<td> <a href="../elements/id-32b2b5db5fea4d96999e2fef96503304.html" target="element"> Registration </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>